<div style="background-image: url('../../../assets/images/HomePage/background-login.jpg');background-size: contain;
height:937px;">
	<img routerLink="/" src="../../../assets/images/HomePage/FACE-PRO-LOGO.png"
		class="center">
	<mat-card>
		<mat-card-content>
			<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" novalidate>
				<h2>Log In</h2>
				<mat-error *ngIf="isLoginFailed">
					Le nom d'utilisateur et le mot de passe n'ont pas été reconnus

				</mat-error>
				<mat-form-field class="full-width-input">
				  <input [(ngModel)]="email" name="email" matInput placeholder="Email" required>
				  <mat-error>
					Veuillez fournir une adresse e-mail valide
				  </mat-error>
				</mat-form-field>
				<mat-form-field class="full-width-input">
				  <input [(ngModel)]="password" name="password" matInput type="password" placeholder="Password" required>
				  <mat-error>
					Veuillez fournir un mot de passe valide
				  </mat-error>
				</mat-form-field>
			  
				<mat-card-actions>
		
				
		
				  <button style="background-color: #8b0000;" mat-raised-button color="primary" type="submit">
					Se connecter
				  </button>
				  <br><br>
				  <!-- <div routerLink="/home">
					<p style="float:right; color:#8b0000;font-weight: 600;cursor: pointer;text-decoration : underline">Page D'accueil</p>
				  </div> -->
				</mat-card-actions>
				  <button style="background-color: #1f1e84;;" mat-raised-button color="primary" type="submit">
					Page D'accueil
				  </button>
			  </form>
			  
		</mat-card-content>
	</mat-card>
</div>
<!-- Add ngModel to capture the input values -->

