.tunsian-flag-img-background .btn-hover-flag-img {
  width: 214px;
  margin: 20px;
  background-color: #1f1e84;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  background-position-x: center;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  -webkit-text-stroke-width: thin;
}

.adjust-line-height {
  line-height: 1em;
}

.tunsian-flag-img-background .btn-hover-flag-img:hover {
  background-color: #1f1e84;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1px;
}

@media only screen and (max-width: 800px) {
  .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
  }

  .tunsian-flag-img-background .btn-hover-flag-img {
    width: 214px;
    margin: 20px;
    background-color: #1f1e84;
    color: #ffffff;
    font-size: 8px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-position-x: center;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
  }

  .tunsian-flag-img-background .btn-hover-flag-img {
    width: 291px;
    margin: 3px;
    background-color: #1f1e84;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-position-x: center;
  }
}

.product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.text-primary {
  font-size: 22px;
}

@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"),
    url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.social-networks {
  font-size: 41px;
  text-align: center;
}
/* -92 */
.social-networks li {
  display: inline-block;
}

.social-networks a {
  display: block;
  position: relative;
  margin: 0 19px;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}

.social-networks a:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 48%;
  width: 130%;
  height: 130%;
  margin-top: -52%;
  margin-left: -70%;
  border-radius: 100px;
  background-color: #1f1e84;
  transition: all 400ms;
  border: 1px solid #eee !important;
}

.social-networks a:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #f8f9fa;
  font-size: 20px;
  line-height: 69px;
  margin-left: -4px;
  margin-top: -18px;

}

.social-networks a:hover:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #ffffff;
  font-size: 20px;
  line-height: 69px;
  margin-left: -4px;
  margin-top: -18px;

}

.social-networks a:hover,
.social-networks a:focus {
  text-decoration: none;
}

.social-networks.spin-icon a:hover:after,
.social-networks.spin-icon a:focus:after {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}

.social-networks.square a:hover:before,
.social-networks.square a:focus:before {
  border-radius: 0;
}

.social-networks.bounce a:hover,
.social-networks.bounce a:focus {
  animation: bounce 1s;
}

.social-networks .icon-linkedin:after {
  content: "\eac9";
}

.social-networks .icon-linkedin:hover:before,
.social-networks .icon-linkedin:focus:before {
  background: #8B0000;
}

.social-networks .icon-facebook:after {
  content: "\e603";
}

.social-networks .icon-facebook:hover:before,
.social-networks .icon-facebook:focus:before {
  background: #8B0000;
}

.social-networks .icon-twitter:after {
  content: "\e618";
}

.social-networks .icon-twitter:hover:before,
.social-networks .icon-twitter:focus:before {
  background: #8B0000;
}

.social-networks .icon-instagram:after {
  content: "\e604";
}

.social-networks .icon-instagram:hover:before,
.social-networks .icon-instagram:focus:before {
  background: #8B0000;
}

.li-social {
  margin-left: 100px;
}

.li-agency {
  border: none;
  margin: 14px;
  margin-left: 22px;
}

.AgencyDetails {

  font-size: 18px;
  color: #696969;
  text-align: left;
  margin-left: 107px;

}  
@media (max-width: 768px) {
  .AgencyDetails {
    font-size: 15px;
    color: #696969;
    text-align: left;
    margin-left: 86px;                                           color: black;
  }
}

.Agencyadresse {

  font-size: 18px;
  line-height: 1.86;
  color: #696969;
  text-align: left;
  margin-bottom: -2px;
  margin-top: 10px;
  margin-left: 25px;
}

.appname {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  font-size: 1.5rem;
  margin-left: 55px;
}

.appnameUrbat {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  font-size: 1.1rem;
  margin-left: 0px;
}

  .textresponce {
    margin-top: 3px;
  }

.tele-responsive {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .agency-responsive {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;

  }
}





.siteweb {
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 575px) {

  :host ::ng-deep .d-flex {
    display: block;
  }

  .social-networks a:after {
    position: relative;
    display: block;
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #f8f9fa;
    font-size: 19px;
    line-height: 70px;
    margin-left: -9px;
    margin-top: -20px;
  }

  .social-networks a:before {
    content: "";
    position: absolute;
    top: 40%;
    left: 48%;
    width: 118%;
    height: 116%;
    margin-top: -52%;
    margin-left: -70%;
    border-radius: 100px;
    background-color: #1f1e84;
    transition: all 400ms;
    border: 1px solid #eee !important;
  }

  .social-networks a:hover:after {
    position: relative;
    display: block;
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ffffff;
    font-size: 20px;
    line-height: 69px;
    margin-left: -4px;
    margin-top: -18px;
  }


}






.btn-primary {
  color: #fff;
  background-color: #1f1e84;
  border-color: #1f1e84;
  box-shadow: none;
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.btn-content{

    display: flex;
    align-items: center; /* Assure l'alignement vertical au centre */
    justify-content: center;
    flex-direction: row; /* Par défaut, c'est déjà une rangée, mais spécifiez-le pour plus de clarté si nécessaire */
    gap: 5px;
  }
  


.btn-lg,
.btn-group-lg>.btn {
  padding: 0.6875rem 2.1875rem;
  font-size: .875rem;
  font-weight: 500;
  border-radius: 5px;
}





.btn-boutique {
  color: #000;
  background-color: #fab204;
  border-color: #fab204;
  box-shadow: none;
  FONT-SIZE: 12px;
  font-weight: 600;
  margin-top: -35px;
  margin-left: 15px;
  height: 23px;
  width: 100px;
  padding: 4px;
  display: flex; /* Ajoutez cette ligne pour utiliser flexbox */
  align-items: center; /* Ajoutez cette ligne pour aligner le contenu verticalement */
  justify-content: center;
}

.btn-prix {
  color: #ffffff;
  background-color: rgb(85 112 175);
  border-color: rgb(85 112 175);
  box-shadow: none;
  FONT-SIZE: 13px;
  font-weight: 500;
  margin-top: -35px;
  height: 23px;

  padding: 0 7px 0px 4px;
  width: auto;
  margin-left: 74px;
  margin: -35px 2px 0 0;


}
@media screen and (max-width: 768px) {
  .btn-prix  {
    font-size: 8px;
    /* Additional styles for this media query */
  }
}

.btn-promotion {
  color: #ffffff;
  background-color: #dc3346;
  border-color: #dc3346;
  box-shadow: none;
  FONT-SIZE: 11px;
  font-weight: 500;
  margin-top: -35px;
  height: 37px;
  padding: 4px;
  width: 808px;
  margin: 0 auto;
}

.btn-promotion:hover {
  color: #f9e7e7;
}

.random {
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 500;
}

.item-card {
  margin: 5px;
  border: 1px solid #C8C8C8;
}


.item-card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.card {
  margin-bottom: -80px;
  border: none;
}



@media screen and (max-width: 400px) {


  .li-social {
    margin-left: 30px;
  }

  .item-card {
    margin: 0px;
  }
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 55px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin: 0 auto;

}

@media only screen and (max-width: 808px) {

  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 383px;
    height: 55px;
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin: 0 auto;
    margin-bottom: 67px;
  }

  .btn-promotion {
    color: #ffffff;
    background-color: #dc3346;
    border-color: #dc3346;
    box-shadow: none;
    FONT-SIZE: 11px;
    font-weight: 500;
    margin-top: -35px;
    height: 37px;
    padding: 4px;
    width: 300px;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 607px) {


  .btn-promotion {
    color: #ffffff;
    background-color: #dc3346;
    border-color: #dc3346;
    box-shadow: none;
    font-size: 9px;
    font-weight: 500;
    margin-top: -35px;
    height: 37px;
    padding: 4px;
    width: 280px;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 390px) {

  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 67px;
  }

  .btn-promotion {
    color: #ffffff;
    background-color: #dc3346;
    border-color: #dc3346;
    box-shadow: none;
    font-size: 9px;
    font-weight: 500;
    margin-top: -35px;
    height: 37px;
    padding: 4px;
    width: 260px;
    margin: 0 auto;
  }

}


.gradient-border {
  --borderWidth: 3px;
  background: #ffffff;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.retour {
  background-color: #3f51b5;
  float: left;
  color: #ffffff;
  text-transform: initial;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0px;
  margin-bottom: 50px;
  margin-left: 135px;

}

.retour:hover {
  background-color: #5754e7;
  float: left;
  text-transform: initial;
  font-weight: 500;
  border-radius: 0px;
}

@media only screen and (max-width: 630px) {
  .retour {
    margin-left: 80px;
  }
  
}

.ui-carousel-dots-container {
  display: none !important;
}


.responsive-telecharger {
  width: 79%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: flex-start;
    flex-direction: column;
}

@media only screen and (max-width: 1260px) {
  .responsive-telecharger {
    width: 100%;
    margin: 0 auto;
  }

  .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -55px;
  }

  .appname {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
    font-size: 1.5rem;
    margin-left: 64px;
  }


}

@media only screen and (max-width: 926px) {

  .responsive-container {
    display: unset
  }

}




.responsive-container {
  margin: 129px;
  margin-top: -100px;
}

.card-img {
  width: 80%;
  margin: 43px;
}

@media only screen and (max-width: 500px) {
  :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev{
    width: 2rem;
    height: 2rem;
    color: rgba(0, 0, 0, 0.6);
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin: -0.3rem;
}
:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  width: 2rem;
  height: 2rem;
  color: rgba(0, 0, 0, 0.6);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin: -0.3rem;
}
  .responsive-iframe {
    width: 100%;
    height: 222px;
    border: none;
    margin-left: 0px;
}
  .responsive-container {
    display: grid;
    margin: 0 auto
  }

  .retour {
    top: -5%;
  }

  .responsive {
    margin: 0 auto;
  }

  .card-img {
    margin-top: -100px;
  }
}

.animated-border-button {
  background-color: #3f51b5;
  border: none;
  outline: none;
  position: relative;
  float: left;
  color: #ffffff;
  text-transform: initial;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0px;
  margin-bottom: 50px;
  height: 32px;
  width: 135px;
  margin-left: 166px;
}
@media (max-width: 768px) and (min-width: 480px) {
  .animated-border-button {
    background-color: #3f51b5;
    border: none;
    outline: none;
    position: relative;
    float: left;
    color: #ffffff;
    text-transform: initial;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
    margin-bottom: 50px;
    height: 32px;
    width: 135px;
    margin-left: 166px;
  }
}

@media (max-width: 480px) {
  .animated-border-button {
    background-color: #3f51b5;
    border: none;
    outline: none;
    position: relative;
    float: left;
    color: #ffffff;
    text-transform: initial;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
    margin-bottom: 50px;
    height: 32px;
    width: 135px;
    margin-left: 84px;

  }
}

@media (min-width: 769px) {
  .animated-border-button {
    background-color: #3f51b5;
    border: none;
    outline: none;
    position: relative;
    float: left;
    color: #ffffff;
    text-transform: initial;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
    margin-bottom: 50px;
    height: 32px;
    width: 135px;
    /* margin-left: 84px; */
    margin-left: 166px;
  }
}

.animated-border-button:before,
.animated-border-button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 0px;
}

.animated-border-button:before {
  border-top: 2px solid #3f51b5;
  right: 0;
  top: -4px;
}

.animated-border-button:after {
  border-bottom: 2px solid #3f51b5;
  bottom: -4px;
  left: 0;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
  width: 100%;
}



.animated-border-button-pa {
  background-color: #3f51b5;
  border: none;
  outline: none;
  position: relative;
  float: right;
  color: #ffffff;
  text-transform: initial;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0px;
  margin-bottom: 50px;
  height: 32px;
  width: 135px;
  margin-right: 150px;
}
.animated-border-button-pa:hover {
  background-color: #3f51b5;
  border: none;
  outline: none;
  position: relative;
  float: right;
  color: #ffffff;
  text-transform: initial;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0px;
  margin-bottom: 50px;
  height: 32px;
  width: 135px;
  margin-right: 150px;

}




.animated-border-button-pa:before,
.animated-border-button-pa:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 0px;
}

.animated-border-button-pa:before {
  border-top: 2px solid #3f51b5;
  right: 0;
  top: -4px;
}

.animated-border-button-pa:after {
  border-bottom: 2px solid #3f51b5;
  bottom: -4px;
  left: 0;
}

.animated-border-button-pa:hover:before,
.animated-border-button-pa:hover:after {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .responsiveHome {
   display: grid;  
   }
   .animated-border-button-pa{
    background-color: #3f51b5;
    border: none;
    outline: none;
    position: relative;
    float: left;
    color: #ffffff;
    text-transform: initial;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
    margin-bottom: 50px;
    height: 32px;
    width: 135px;
    margin-left: 137px;
   }
}


.carousel-boutique {
  width: 92%;
  margin: 0 auto;
}

.carous-boutique {
  width: 86.4%;
  margin: 0 auto;
  margin-left: 85px;

}

@media only screen and (max-width: 1800px) {
  .carousel-boutique {
    width: 85%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 1750px) {
  .carousel-boutique {
    width: 85%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 1700px) {
  .carousel-boutique {
    width: 85%;
    margin: 0 auto;
  }

}



@media only screen and (max-width: 800px) {
  .carousel-boutique {
    width: 100%;
    margin: 0 auto;
  }

}




.allAgSearch {
  float: right;
  margin-left: -318px;
  margin-right: 78px;
}

.res_Search {
  display: flex;
}


.container {
  padding-top: 96px;
  /* margin: 81px; */
  padding-bottom: 20px;
}

body {
  background-color: #111845;
}

.background-img {
  height: 373px;
  width: 63%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -5% 14%;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin-left: 237px;
  
}


.content h2 {
  font-size: 19px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
  height: 406px;
  background: #ffffff0f;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(227 200 200);
  color: white;
  padding: 20px;
}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}

.box:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}


.box .content {
  /* position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5); */

}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1) {
  transform: rotate(0deg);
}

.box span:nth-child(2) {
  transform: rotate(90deg);
}

.box span:nth-child(3) {
  transform: rotate(180deg);
}

.box span:nth-child(4) {
  transform: rotate(270deg);
}

.box span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #dc3346;
  animation: animate 4s linear infinite;
}

@media only screen and (max-width:1060px) {
  .background-img {
    height: 373px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -5% 0%;
    padding: 20px;
    border-radius: 4px;
    position: relative;
  }
}

@media only screen and (max-width:615px) {
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 257px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(227 200 200);
    color: white;
    padding: 25px;
  }
  .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -57px;
    margin-bottom: -25px;
    margin-left: 60px;
  }

  .background-img {
    

    height: 135px;
    width: 99%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -16% 15%;
    /* padding: 0px; */
    border-radius: 4px;
    position: relative;
    
    margin-bottom: -109px;
  }

  .container {
    margin-left: -40px;
    padding-top: 123px;
  }

  .btn-promotion {
    color: #fff;
    background-color: #dc3346;
    border-color: #dc3346;
    box-shadow: none;
    FONT-SIZE: 15px;
    font-weight: 500;
    height: 37px;
    padding: 6px;
    width: 78%;
    margin-top: -51px;
  }

  .card {
    margin-bottom: -70px;
    border: none;
    width: 109%;
    margin-left: 4px;
    margin-top: -90px;
  }
}

@media only screen and (max-width:500px) {
  :host ::ng-deep .p-carousel-content {
    overflow: hidden;
}
  /* .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 104%;
    height: 104%;
    display: block;
    box-sizing: border-box;
  }

  .background-img {
    height: 178px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -4% 6%;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: -73px;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -15px;
  } */

  .btn-promotion {
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -64px;
    margin-top: -52px;
  }

  .card {
       margin-bottom: -41px;
    border: none;
    width: 100%;
    margin-left: 33px;
  }

}

/* @media only screen and (max-width: 800px) {
    .background-img{
      height: 287px;
      width: 73%;
      background-repeat: no-repeat;
      background-size: cover;
      margin: -5% 14%;
      padding: 20px;
      border-radius: 4px;
      position: relative;
    }
    .box{
    position: absolute;
    top: 143px;
    left: 253px;
    width: 102%;
    height: 102%;
    display: block;
    box-sizing: border-box;
    }
   } */
@media only screen and (max-width:768px) {
  /* .background-img{
      height: 287px;
      width: 84%;
      background-repeat: no-repeat;
      background-size: cover;
      margin: -5% 14%;
      padding: 20px;
      border-radius: 4px;
      position: relative;
      margin-bottom: -73px;
    } 
     .box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 102%;
    height: 103%;
    display: block;
    box-sizing: border-box;
   } 
    .container{ 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4px;
    }  */

}

.btn-promotion {
  float: right;
  font-size: 18px;
  font-weight: 600;
}

/* @media only screen and (max-width:650px){
      .card{
        margin-bottom: -15px;
        border: none;
        width: 122%;
        margin-left: -39px;
      }
    } */



@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;

  }

  100% {
    transform: scaleX(0);
    transform-origin: right;

  }
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.wrapper {
  margin: 0 auto;
}

.wrapper .fb-share-button {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .fb-share-button:hover {
  width: 300px;
}

.wrapper .fb-share-button .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .fb-share-button:nth-child(1):hover .icon {
  background: #4267B2;
}
.wrapper .fb-share-button:nth-child(1) .icon {
  background: #4267B2;
}
.wrapper .fb-share-button:nth-child(2):hover .icon {
  background: #E1306C;
}
.wrapper .fb-share-button:nth-child(2):hover .icon {
  background: #E1306C;
}

.wrapper .fb-share-button:nth-child(3) .icon {
  background: #ff0000;
}

.wrapper .fb-share-button .icon i {
  font-size: 25px;
  line-height: 54px;
  transition: all 0.3s ease-out;
}

.wrapper .fb-share-button:hover .icon i {
  color: #fff;
}

.wrapper .fb-share-button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .fb-share-button:nth-child(1) span {
  color: #4267B2;
}

.wrapper .fb-share-button:nth-child(2) span {
  color: #E1306C;
}

.wrapper .fb-share-button:nth-child(3) span {
  color: #ff0000;
}









.wrapper {
  margin: 0 auto;
}

.wrapper .button {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 300px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color:     #E1306C;

  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 54px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267B2;
}

.wrapper .button:nth-child(2) span {
  color: #E1306C;
}

.wrapper .button:nth-child(3) span {
  color: #ff0000;
}

.textfb {
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
  color: #4267B2;
  text-decoration: wavy;
}

.responsive-iframe {
  width: 100%;
  height: 255px;
  border: none;
  margin-left: 0px;
}

.taill-image {
  height: auto;
}

.nameStyle {
  font-weight: 500;
  font-size: 18px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.4rem;
}

@media only screen and (max-width: 2000px) {
  .taill-image {
    height: auto;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.4rem;
  }

  .random[_ngcontent-imj-c21] {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 500;
  }

  .nameStyle {
    font-weight: 700;
    font-size: 12px;
    margin: -6px 0 0;
  }


}

@media only screen and (max-width: 400px) {
  .random[_ngcontent-imj-c21] {
    color: #a6a6a6;
    font-size: 11px;
    font-weight: 500;
  }
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  visibility: hidden;
}

@media only screen and (max-width: 500px) {

  .responsive-iframe {
    width: 100%;
    height: 215px;
    border: none;
    margin-bottom: 0px;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1pxsolidrgba(0, 0, 0, .125);
    margin-bottom: -15px;
  }

  .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: -25px;
  }

  .Agencyadresse {
    font-size: 16px;
    line-height: 0.86;
    color: #696969;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 25px;
  }

 

  .appnameUrbat {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
    font-size: 1.1rem;
    margin-left: 0px;
    margin-top: -14px;
  }

  .tele-responsive {
    font-size: 15px;
  }
}

.badge-primary {
  color: #fff;
  background-color: #3f51b5;
}

.badge-orange {
  color: #fff;
  background-color: #8B0000;
  position: absolute;
  top: 7%;
  margin-left: 100px;
  transform: translate(-50%, -50%);
}

.card-titles {
  font-size: 19px;
  margin-left: 22px;
}

@media only screen and (max-width: 1166px) {
  .card-titles {
    font-size: 19px;
    margin-left: 22px;
  }

  .Agencyadresse {
    font-size: 15px;
    line-height: 0.86;
    color: #696969;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 25px;
  }

  
}

.map {
  margin-left: 390px;
  width: 60%;
}

/* @media only screen and (max-width: ){
  .map{
    margin-left: 390px;
    width: 60%; 
  }
} */
.promoVideo {
  width: 86%;
  height: 400px;
  margin-left: 66px;
  margin-top: -14px;
}

.background-vd {
  margin: -5% 14%;
  border-radius: 4px;
  position: relative;

}

@media only screen and (max-width: 767px) {
  .background-vd {
    margin: -14% 21%;
    border-radius: 4px;
    position: relative;
    width: 106%;
  }

  .promoVideo {
    width: 100%;
    height: 314px;
    margin-top: -14px;
    margin-left: -122px
  }
}

@media only screen and (max-width: 700px) {
  .background-vd {
    margin: -14% 8%;
    border-radius: 4px;
    position: relative;
    width: 106%;
  }

  .promoVideo {
    width: 100%;
    height: 314px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: 590px) {
  .background-vd {
    margin: -14% 5%;
    border-radius: 4px;
    position: relative;
    width: 100%;
  }

  .promoVideo {
    width: 92%;
    height: 285px;
    margin-top: -14px;
    margin-left: 10px;
  }
}


@media only screen and (max-width: 500px) {
  .background-vd {
    margin: -14% 5%;
    border-radius: 4px;
    position: relative;
    width: 106%;
  }

  .promoVideo {
    width: 92%;
    height: 285px;
    margin-top: 40px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .background-vd {
    margin: -20% 7%;
    border-radius: 4px;
    position: relative;
    width: 106%;

  }

  .promoVideo {
    width: 93%;
    height: 216px;
    margin-top: 45px;
    margin-left: 0px;
  }
}

.Card {

  height: 336px;
  width: 30rem;
  border-radius: 6px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  padding: 7px;
  margin-left: 66px;
}

.Card-video {

  height: 336px;
  width: 30rem;
  border-radius: 6px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  padding: 7px;
  margin-left: 66px;
}

.Card-logo {

  height: 336px;
  width: 30rem;
  border-radius: 6px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  padding: 7px;
  margin-left: 66px;
}


.ribbon {
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}

.ribbon__content {
  left: -25px;
  top: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 225px;
  padding: 10px 0;
  background-color: #1f1e84;
  ;
  box-shadow: 0 0px 10px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  border: 2px dotted #fff;
  outline: 5px solid #f5cd79;

}

.ribbon__content__agence {
  left: -25px;
  top: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 225px;
  padding: 10px;
  background-color: #1f1e84;
  ;
  box-shadow: 0 0px 10px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  border: 2px dotted #fff;
  outline: 5px solid #f5cd79;
  font-size: 11px;
  padding-left: 0px;
}

.ribbon::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #f19066;
  box-sizing: content-box;

}

.ribbon::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #f19066;

}

@media screen and (max-width:1800px) {
  .Card-logo {
    height: 308px;
    width: 27rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left: 66px;
    margin-top: 24px;
  }

  .Card {
    height: 312px;
    width: 89%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 42px;
    margin-top: 20px;
  }

  .Card-video {
    height: 312px;
    width: 89%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 42px;
    margin-top: 20px;
  }

  .social-networks {
    font-size: 41px;
    text-align: center;
    margin-top: -20px;
    margin-left: -22px;
  }
}

@media only screen and (max-width: 1780px) {
  .carousel-boutique {
    width: 85%;
    margin: 0 auto;
  }

  .card-titles {
    font-size: 17px;
    margin-left: 22px;
  }

  .Agencyadresse {
    font-size: 16px;
    line-height: 1.86;
    color: #696969;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 25px;
  }

}

@media screen and (max-width:1650px) {
  .li-social {
    margin-left: 16%;
  }

  .tele-responsive {
 font-size: 11px;
    font-weight: 500;
  }

  .Card {
    height: 302px;
    width: 25rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 34px;
    margin-top: 24px;
  }

  .Card-video {
    height: 302px;
    width: 25rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 47px;
    margin-top: 24px;
  }

  .Card-logo {
    height: 302px;
    width: 25rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left: 26px;
    margin-top: 26px;
  }

  .card-titles {
    font-size: 15px;
    margin-left: 22px;
  }

  .social-networks {
    font-size: 41px;
    text-align: center;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 1333px) {
  .Card {
    height: 302px;
    width: 22rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 13px;
    margin-top: 24px;
  }

  .Card-video {
    height: 302px;
    width: 22rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 13px;
    margin-top: 24px;
  }

  .Card-logo {
    height: 302px;
    width: 23rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left: 2px;
    margin-top: 26px;
  }

  .card-img {
    width: 87%;
    margin: 23px;
    margin-top: 42px;
  }
}

@media only screen and (max-width: 1200px) {
  .carous-boutique {
    width: 86.4%;
    margin: 0 auto;
    margin-left: 46px;
  }

  .Card-logo {
    height: 302px;
    width: 20rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left: 2px;
    margin-top: 26px;
  }

  .Card {
    height: 302px;
    width: 21rem;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: -4px;
    margin-top: 24px;
  }

  .card-img {
    width: 100%;
    margin: 0px;
    margin-top: 45px;
  }
}

.appimage {
  width: 80%;
  margin-left: 45px;
}

@media only screen and (max-width: 1060px) {
  .textresponce {
    margin-left: -17px ;
    display: block;
    left: 0;
    
  }

  .li-social {
    margin: 0px auto 15px;
  }

  .agency-responsive {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments flexibles de passer à la ligne en cas de besoin */
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

  }
  .flex-display {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments flexibles de passer à la ligne en cas de besoin */
  }
  .block-display {
    display: block;
  }

  

  .appimage {
    width: 100%;
    margin-left: 0px;
  }

  .card-img {
    margin-top: -30px;
    width: 100%;

  }

  .appname {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
    font-size: 1.5rem;
    margin-left: -3px;
  }

  .social-networks li {
    display: table-cell;
  }

  .responsive-telecharger {
    width: 100%;
    margin: 0 auto;
  }

  .tele-responsive {
    margin-right: 0px;
  }

  .Card {
    height: 330px;
    width: 99%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 63px;
    margin-top: 24px;
  }

  .Card-video {
    height: 100%;
    width: 99%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 27px;
    margin-top: 20px;
  }

  .responsive-iframe {
    width: 100%;
    height: 380px;
    border: none;
    margin-left: 0px;
  }

  .Card-logo {
    height: 100%;
    width: 99%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left: 25px;
    margin-top: 1px;
  }

  .card-img {
    margin-top: 0px;
    width: 100%;
  }

  .li-social {
    margin-left: 16%;
  }

  .btn-promotion {
    color: #fff;
    background-color: #dc3346;
    border-color: #dc3346;
    box-shadow: none;
    FONT-SIZE: 14px;
    font-weight: 500;
    height: 37px;
    padding: 4px;
    width: 88%;
  }
}

@media only screen and (max-width: 610px) {
  .responsive-iframe{
    width: 100%;
    height: 280px;
    border: none;
    margin-left: 0px;
}

  .appimage {
    width: 100%;
  }

  .card-img {
    width: 100%;
  }

  .Card {
    height: 330px;
    width: 100%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    margin-left: 45px;
    margin-top: 24px;
  }
  .Card-logo{
    height: 117%;
    width: 99%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left: 25px;
    margin-top: -120px;
}

.Card-video{
  height: 100%;
  width: 99%;
  border-radius: 6px;
  position: relative;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  z-index: 1;
  margin-left: 27px;
  margin-top: 20px;
}
}

@media only screen and (max-width: 440px) {


  .animated-border-button:hover {
    background-color: #3f51b5;
    border: none;
    outline: none;
    position: relative;
    float: left;
    color: #ffffff;
    text-transform: initial;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
    margin-bottom: 50px;
    height: 32px;
    width: 135px;
    margin-left: 35px;
  }

  .appimage {
    width: 100%;
  }

  .card-img {
    width: 100%;
  }

  .Card {
    height: 276px;
    width: 89%;
    border-radius: 6px;
    position: relative;
    box-shadow: #0000003d 0 3px 8px;
    z-index: 1;
    margin-left: 30px;
    font-size: 10px;
    margin-top: 24px;

  }


  .Card-logo{
    height: 238px;
    width: 100%;
    border-radius: 6px;
    position: relative;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    z-index: 1;
    padding: 7px;
    margin-left:14px;
    margin-top: -120px;
}
.Card-video{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: relative;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  z-index: 1;
  margin-left: 12px;
  margin-top: 20px;
}
.responsive-iframe {
  width: 100%;
  height: 190px;
  border: none;
  margin-left: 0px;
}
.promoVideo {
  width: 92%;
  height: 190px;
  margin-top: 10px;
  margin-left: 20px;
}

  .social-networks {
    font-size: 41px;
    text-align: center;
    margin-top: -3px;
    margin-left: -84px;
  }

 

  .tele-responsive {
    font-size: 13px;
    font-weight: 500;
  }

  .li-agency {
    border: none;
    margin: 13px;
    margin-left: 0px;
    white-space: nowrap;
  }

  .Agencyadresse {
    font-size: 13px;
    line-height: 0.86;
    color: #696969;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 3px;
  }



  .li-social {
    margin-left: 13px;
    margin-top: -14px;
  }

}

@media only screen and (max-width: 470px) {
  .appname {
    margin: auto;
  }

  .inputSearch {
    width: 260px;
  }

  .search {
    margin-right: 10px;
  }

  .responsive-telecharger {
    margin-bottom: -5px;
  }

  .card-titles {
    font-size: 12px;
    margin-left: 2px;
  }
}
.textModal1 {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  margin-left: 58px;
  margin-bottom: -35px;
}
.scrollable-paragraph {
  overflow-y: scroll;
  border: 1px solid #ccc;
  width: 100%;
  padding: 3px -8px 1px 5px;
  height: 419px;
  padding: 17px;
  margin: -7px 6px 0 -5px;
}
@media (max-width: 700px) {
  .scrollable-paragraph {
    overflow-y: scroll;
    border: 1px solid #ccc;
    width: 100%;
    padding: 3px -8px 1px 5px;
    height: 275px;
    padding: 17px;
    margin: -7px 6px 0 -5px;  }
}
/* Use media queries to adjust the styles based on screen size */
@media (max-width: 700px) {
  .p-diag {
  left: 12px;
  }
}

.card-img-modal {
  width: 100%;
  margin-bottom: 20px;
  
}
.modalTheme{
  margin: 20px;
  padding: 20px;
  background-color: #eff0f1;
}
.modalTheme2{
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
}
@media only screen and (max-width: 800px) {
  .modalTheme{
    margin: 0px;
    padding: 0px;
    background-color:transparent;
  }
  .modalTheme2{
    margin: 0px;
    padding: 0px;
    background-color:transparent;
  }
}
:host ::ng-deep .p-button {
  min-width: 8rem;
  background-color: #1f1e84;
  height: 25px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4px;
  margin-top: -32px;
}
@media only screen and (max-width: 1200px) {

:host ::ng-deep .p-button {
  min-width: 8rem;
  background-color: #1f1e84;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4px;
  margin-top: 7px;
}
}
.li-social {
  margin-left: 100px;
}

.li-agency {
  border: none;
  margin: 14px;
  margin-left: -86px;
}
.li-social2 {
  margin-left: -10px; /* Ajustez cette valeur selon vos besoins */
  margin-top: 60  ;
  justify-content: space-between;
}
.li-social3 {
  margin-left: -20px; /* Ajustez cette valeur selon vos besoins */
  margin-top: 60;
  justify-content: space-between;
}
.social-networks2 {
  font-size: 30px;
  text-align: center;
}
.social-icons {
  display: flex;
  align-items: center;
  margin-left: auto; 
 
}
.social-link1,
.social-link {
    margin-right: 5px; /* Ajustez cette valeur selon vos préférences */
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1f1e84; /* Couleur et épaisseur du cadre */
  background-color: #1f1e84;
  width: 30px; /* Ajustez cette valeur selon vos préférences */
  height: 30px; /* Ajustez cette valeur selon vos préférences */
  margin-right: 5px;
}
@media (max-width: 768px) {
  .social-link-container {
    width: 20px; /* Ajustez la taille pour les écrans de taille moyenne */
    height: 20px; /* Ajustez la taille pour les écrans de taille moyenne */
    margin-right: 3px; /* Ajustez la marge pour les écrans de taille moyenne */
  }
}

/* Style pour les écrans étroits (mobiles) */
@media (max-width: 576px) {
  .social-link-container {
    width: 23px; /* Ajustez la taille pour les mobiles */
    height: 23px; /* Ajustez la taille pour les mobiles */
    margin-right: 2px; /* Ajustez la marge pour les mobiles */
  }
}

.social-link1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  color: white;
}

i.fab {
  margin: 0;
  width: 20px;
  color: white;
}
.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 11.5px;
  color: white;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  color: white;

}

.white-icon {
  color: black;
}
.font {
  margin-right: 14px;
}
.titre{
  float: right;
  margin-top: 30px;
}
/* 75px */
.res {
  margin:-2px 14px 7px -29px;
}*
.btn-details{
  margin: 129px 31px 10px 206px;
  color: white;
  background: #dc3346;
  border: solid 1px red;
  border-radius: 5px;
  padding: 25px 127px 25px 127px;
}
@media (max-width: 576px) {
  .btn-details {
    margin: 34px 50px 9px 49px;
  color: white;
  background: #dc3346;
  border: solid 1px red;
  border-radius: 5px;
  padding: 2px 30px 2px 30px;
  }
}