<!-- wrapper -->

<div class="responsiveHome"  style="    display: flex;">
	<button type="submit" class="animated-border-button " (click)=" backClicked()">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		Retour
	</button>

	<!-- <div class="responsive">

        <button type="submit" class="animated-border-button-pa " routerLink="/home">
            <i class="fa fa-home" aria-hidden="true"></i> Page d'Accueil
        </button>
    </div> -->

</div>
<!-- <div class="responsive-container">
	<div class="responsive">
	 </div>
	<div class="allAgSearch">
		<p-listbox [options]="allAgencies"  [(ngModel)]="searchText" [metaKeySelection]="false" [checkbox]="false" 
		[filter]="true" [multiple]="true" optionLabel="name"
		[listStyle]="{'max-height':'50px'}"
		[style]="{'width':'20rem'}" >
			<ng-template let-country pTemplate="item" >
				<div class="country-item res_Search" ng >
					<img src="{{country?.logo_url}}" width="30px" />&nbsp;&nbsp;
					<div [routerLink]="['/agency', country?.id]" >{{country?.name}}</div>
				</div>
			</ng-template>
		</p-listbox>
	</div> -
</div>  -->

<div class="carous-boutique" >
	<div class="agency-responsive" [ngClass]="{'block-display': !isDesktop}" style=" display: flex;">

			<div class="col cadre">
				<div class="Card-logo ">
					<img class="rounded-lg border card-img" src="{{ Agency?.logo_url }}" alt="Eco house company">
					<div class="aproposAnachor " (click)="showMaximizableDialog()"><span><i class="pi pi-info-circle "></i>À PROPOS</span></div>
<!-- 
					<p-button (click)="showMaximizableDialog()" icon="pi pi-info-circle" label="À PROPOS" ></p-button> -->
					
				</div>
				<p-dialog   class="p-diag" header="À Propos" [(visible)]="displayMaximizable" [modal]="true"  [style]="{width: '85vw', 'margin-left': '50px'}"
				[maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
				<div class="row modalTheme">
					<div class="col-md-4">
						<img class="rounded-lg border card-img-modal" src="{{ Agency?.logo_url }}" alt="Eco house company">
					</div>
					<div class="col-md-8">
						<p class="scrollable-paragraph">{{Agency.description}}.
							
						</p>
						
					</div>
				</div>
				<!-- <div class="row modalTheme2">
			<div class="col-md-8">
				<p>{{Agency.description}}.</p>
			</div>
			<div class="col-md-4">
				<img class="rounded-lg border card-img-modal" src="{{ Agency?.logo_url }}" alt="Eco house company">				
			</div>
		</div>
		<div class="row modalTheme">
			<div class="col-md-4">
				<img class="rounded-lg border card-img-modal" src="{{ Agency?.logo_url }}" alt="Eco house company">				
			</div>
			<div class="col-md-8">
				<p>{{Agency.description}}.</p>
			</div>
		</div> -->
				<!-- <div class="col textresponce">
					<div class="Card">
						<div class="ribbon"><span class="ribbon__content"
								*ngIf="Agency?.role==='promoteur-immobilieres'">PROMOTION</span></div>
						<div class="ribbon"><span class="ribbon__content"
								*ngIf="Agency?.role==='materiaux-construction'">MATERIAUX</span></div>
						<div class="ribbon"><span class="ribbon__content__agence"
								*ngIf="Agency?.role==='agence-immobilieres'">A
								VENDRE/A LOUER</span></div>
						<div class="ribbon"><span class="ribbon__content__agence" *ngIf="Agency?.role==='meilleurs-biens'">A
								VENDRE/A LOUER</span></div>
						<div class="ribbon"><span class="ribbon__content"
								*ngIf="Agency?.role==='agence-service'">SERVICE</span>
						</div>

						<h2 class="card-titles fs-22 lh-15 mb-1 text-dark">
							{{ Agency?.name }}
						</h2>
						<p class="card-text  Agencyadresse">
							{{ Agency?.adresse }}
						</p>


						<div class="  align-items-sm-center  li-agency">
							<span class="col-sm-2 px-1 AgencyDetails">Tél 1:</span>
							<span class="col-sm-9 px-1  tele-responsive">
								+216 {{ Agency?.phone_number }}
							</span>
						</div>
						<div class="  align-items-sm-center  li-agency" *ngIf="Agency?.phone_number2">
							<span class="col-sm-2 px-1 AgencyDetails">Tél 2:</span>
							<span *ngIf="Agency?.name!=='IOT MEDICAL TECHNOLOGY'" class="col-sm-9 px-1  tele-responsive">
								+216 {{ Agency?.phone_number2}}
							</span>
							<span *ngIf="Agency?.name==='IOT MEDICAL TECHNOLOGY'" class="col-sm-9 px-1  tele-responsive">
								{{ Agency?.phone_number2}}
							</span>
						</div>
						<div class="  align-items-sm-center  li-agency" *ngIf="Agency?.phone_commercial">
							<span class="col-sm-2 px-1 AgencyDetails">Tél Commercial:</span>
							<span class="col-sm-9 px-1  tele-responsive">
								+216 {{ Agency?.phone_commercial}}
							</span>
						</div>
						<div class="  align-items-sm-center  li-agency">
							<span class="col-sm-2 px-1 AgencyDetails">Email:</span>
							<span class="col-sm-9 px-1 tele-responsive">
								{{ Agency?.email }}
							</span>
						</div>
						<div class="  align-items-sm-center  li-agency" >
							<span class="px-1  AgencyDetails">Site web:</span>

							<span (click)="goToLink()" class="col-sm-9 px-1 tele-responsive"
								style="color: #1f1e84;cursor: pointer;text-decoration:none">
								{{Agency?.website_url}}
							</span>

						</div> <br>
						<div class="d-flex align-items-sm-center  li-social">

							<ul class="list-inline mb-0" style="margin-left: -48px;">
								<ul class="social-networks bounce">
									<li>
										<a href="{{Agency?.twitter_url}}" class="icon-twitter">
											Twitter
										</a>
									</li>
									<li>
										<a href="{{Agency?.facebook_url}}" class="icon-facebook">
											Facebook
										</a>
									</li>
									<li>
										<a href="{{Agency?.instagram_url}}" class="icon-instagram">
											Instagram
										</a>
									</li>
									<li>
										<a href="{{Agency?.linkedlin_url}}" class="icon-linkedin">
											LinkedIn
										</a>
									</li>
								</ul>
							</ul>
						</div>
					</div>



				</div> -->


				<!-- <ng-template pTemplate="footer">
					<p-button icon="pi pi-times" (click)="displayMaximizable=false" label="Fermer"></p-button>
				</ng-template> -->

				<!-- LinkedIn  -->
			</p-dialog>
			</div>
			
			<div>
				<div class="col textresponce">
				<div class="Card">
					<div class="ribbon"><span class="ribbon__content"
							*ngIf="Agency?.role==='promoteur-immobilieres'">PROMOTION</span></div>
					<div class="ribbon"><span class="ribbon__content"
							*ngIf="Agency?.role==='materiaux-construction'">MATERIAUX</span></div>
					<div class="ribbon"><span class="ribbon__content__agence" *ngIf="Agency?.role==='agence-immobilieres'">A
							VENDRE/A LOUER</span></div>
					<div class="ribbon"><span class="ribbon__content__agence" *ngIf="Agency?.role==='meilleurs-biens'">A
							VENDRE/A LOUER</span></div>
					<div class="ribbon"><span class="ribbon__content" *ngIf="Agency?.role==='agence-service'">SERVICE</span>
					</div>

					<h4 class="card-titles fs-22 lh-15 mb-1 text-dark">
						{{ Agency?.name }}
					</h4>
					<p class="card-text  Agencyadresse">
						{{ Agency?.adresse }}
					</p>


					<div class="  align-items-sm-center  li-agency">
						<span class="col-sm-2 px-1 AgencyDetails">Tél 1:</span>
						<span class="col-sm-9 px-1  tele-responsive">
							+216 {{ Agency?.phone_number }}
						</span>
					</div>
					<!-- <div class="  align-items-sm-center  li-agency" *ngIf="Agency?.phone_number2"> -->

					<div class="  align-items-sm-center  li-agency" >
						<span class="col-sm-2 px-1 AgencyDetails">Tél 2:</span>
						<span *ngIf="Agency?.name!=='IOT MEDICAL TECHNOLOGY'" class="col-sm-9 px-1  tele-responsive">
							+216 {{ Agency?.phone_number2}}
						</span>
						<span *ngIf="Agency?.name==='IOT MEDICAL TECHNOLOGY'" class="col-sm-9 px-1  tele-responsive">
							{{ Agency?.phone_number2}}
						</span>
					</div>
					<div class="  align-items-sm-center  li-agency" *ngIf="Agency?.phone_commercial">
						<span class="col-sm-2 px-1 AgencyDetails">Tél Commercial:</span>
						<span class="col-sm-9 px-1  tele-responsive">
							+216 {{ Agency?.phone_commercial}}
						</span>
					</div>
					<div class="  align-items-sm-center  li-agency">
						<span class="col-sm-2 px-1 AgencyDetails">Email:</span>
						<span class="col-sm-9 px-1 tele-responsive">
							{{ Agency?.email }}
						</span>
					</div>
					<div class="  align-items-sm-center  li-agency">
						<span class="px-1  AgencyDetails">Site web:</span>

						<span style="font-size: 14px;"(click)="goToLink()" class="col-sm-9 px-1 "
							style="color: #1f1e84;cursor: pointer;text-decoration:none " class="col-sm-9 px-1 tele-responsive">
							{{Agency?.website_url}}
						</span>

					</div> <br>
					<div class="d-flex align-items-sm-center  li-social " >

						<ul class="list-inline mb-0" style="margin-left: -96px;">
							<ul class="social-networks bounce">
								<li>
									<a [attr.href]="Agency?.twitter_url" class="icon-twitter" [attr.disabled]="!Agency?.twitter_url">
									  Twitter
									</a>
								  </li>
								  <li>
									<a [attr.href]="Agency?.facebook_url" class="icon-facebook" [attr.disabled]="!Agency?.facebook_url">
									  Facebook
									</a>
								  </li>
								  <li>
									<a [attr.href]="Agency?.instagram_url" class="icon-instagram" [attr.disabled]="!Agency?.instagram_url">
									  Instagram
									</a>
								  </li>
								  
								<li>
									<a [attr.href]="Agency?.linkedlin_url" class="icon-linkedin" [attr.disabled]="!Agency?.linkedlin_url">
									  LinkedIn
									</a>
								  </li>
							
								  
							</ul>
						</ul>
					</div>
				</div>
			</div>



			</div>
		
			<div class="col video" style="margin:auto;">

				<div class="Card-video" *ngFor="let Agencyapp of Agency?.mobile_apps">


					<div *ngIf="Agencyapp.id!==null;">
						<div class="text-primary">
							<h6 class="appname">
								{{ Agencyapp?.name }}
							</h6>
						</div>
						<a style=" text-decoration:none" href="{{ Agencyapp?.playstore_url }}">
							<img class="appimage" src="{{ Agencyapp?.mobile_cover_image_url }}"
								alt="The Interior Design The Hall On str. Filimonovo" width="80%">
							<button type="submit"
								class="btn btn-primary btn-lg btn-block shadow-none responsive-telecharger" >
								<div class="btn-content">
								Télecharger &nbsp;
								<i class="fa fa-download" aria-hidden="true" style="display: flex;"></i>
							</div>
							</button>
						</a>
					</div>
				</div>
				<!-- <div *ngIf="Agency?.mobile_apps?.length===0 && Agency?.name!=='Urbat'">
					<div class="text-primary">
						<h6 class="appname">
							Application en cours 		
						</h6>
					</div>
				
					<img class="appimage" src="../../assets/images/HomePage/1111.jpg" 
					style="float: right;" width="80%" height="120%" >
					<button type="submit"
							class="btn btn-primary btn-lg btn-block shadow-none responsive-telecharger" >
							Télecharger &nbsp;
							<i class="fa fa-download" aria-hidden="true"></i>
						</button>
					
				</div>
				-->

				<div class="Card-video"
					*ngIf="Agency?.mobile_apps?.length===0 && Agency?.videoUrl2 && Agency.role==='promoteur-immobilieres' ">
					<div class="text-primary">
						<h2 class="appnameUrbat">
							Vidéo de présentation
						</h2>
					</div>

					<iframe class="responsive-iframe" [src]="urlSafe2"></iframe>
				</div>
				<div class="Card-video"
					*ngIf="Agency?.mobile_apps?.length===0 && Agency.role==='promoteur-immobilieres'  && Agency?.videoUrl2===null">
					<div class="text-primary">
						<h6 class="appname">
							Application en cours
						</h6>
					</div>

					<img class="appimage" src="../../assets/images/HomePage/1111.jpg">
					<button type="submit" class="btn btn-primary btn-lg btn-block shadow-none responsive-telecharger">
						Télecharger &nbsp;
						<i class="fa fa-download" aria-hidden="true" style="margin-left: 89px;
						margin-top: -16px;"></i>
					</button>
				</div>

				<div class="Card-video" *ngIf="Agency?.mobile_apps?.length===0  
					&& Agency.role!=='promoteur-immobilieres' &&  Agency?.videoUrl===null && Agency?.videoUrl2===null">
					<div class="text-primary">
						<h6 class="appname">
							Application en cours
						</h6>
					</div>

					<img class="appimage" src="../../assets/images/HomePage/1111.jpg">
					<button type="submit" class="btn btn-primary btn-lg btn-block shadow-none responsive-telecharger">
						Télecharger &nbsp;
						<i class="fa fa-download" aria-hidden="true"></i>
					</button>

				</div>
				<!-- <div *ngIf="Agency?.mobile_apps?.length===0 && Agency?.name==='La Maison Des ARTS by D'">
					<div class="text-primary">
						<h6 class="appnameUrbat">
							vidéo de présentation
						</h6>
					</div>

					<iframe class="responsive-iframe" src="../../assets/video/la_maison_de_arts.mp4">
					</iframe>



				</div> -->
				<div class="Card-video"
					*ngIf="Agency?.mobile_apps?.length===0  && Agency.role!=='promoteur-immobilieres' && Agency?.videoUrl">
					<div class="text-primary">
						<h6 class="appnameUrbat">
							Vidéo de présentation
						</h6>
					</div>

					<iframe class="responsive-iframe" [src]="urlSafe">
					</iframe>
				</div>
			</div>


		</div>
</div>

<br><br><br><br><br>

<div  *ngIf="Agency?.role==='promoteur-immobilieres'  && Agency?.projets?.length!==0">
	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="reverseAgPromoteurs" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="7000">

					<ng-template let-image pTemplate="item">
						<div class="item-card" [routerLink]="['/details', image.id]">
							<div>
								<img src="{{image.photos[0]}}" class="card-img-top taill-image" alt="Responsive image">
								<div *ngIf="image?.name==='LE LOFT'">
									<span class="badge badge-orange">Prix à partir de 253.000 dt TTC</span>
								</div>
								<!-- btn-promotion  -->
							</div>
							<div class="card-body">
								<div>
									<h5 class="card-title random">{{image.agencyName}}</h5>
									<button href="#" class="btn btn-boutique mx-1"
										style="float: right; text-align: center;">{{image.status}}</button>
								</div>
								<div style="display: flex; align-items: center;margin-right: -3px;">
									<div class="text">
										<p class="nameStyle" style="margin-right: 10px;">{{image.name }}</p>
									</div>
									<div class="social-icons">
										<div class="social-link-container" src="{{image.photos[0]}}"
											data-layout="button_count" data-size="large">
											<a target="_blank"
												href="{{Agency?.facebook_url}}"
												class="social-link1">
												<i class="fab fa-facebook-f"></i>
											</a>
										</div>

									</div>
									<div class="social-link-container ">
										<a href="{{Agency?.instagram_url}}" class="social-link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
									<div class="social-link-container">
										<a href="{{Agency?.website_url}}" class="social-link">
											<i class="font">W</i>
										</a>
									</div>

								</div>
							</div>
						</div>


					</ng-template>
				</p-carousel>
				<br><br><br>
				<a *ngIf="Agency?.videoUrl===null || Agency?.videoUrl===''" (click)="goToLink()"
					class="btn btn-promotion">
					VIDEO DE  PRESENTATION </a>
				<a *ngIf="Agency?.videoUrl" (click)="goToLink()" class="btn btn-promotion">
					VIDEO RESIDENCE </a>
					

				<section *ngIf="Agency?.videoUrl===null || Agency?.videoUrl===''" (click)="goToLink()">
					<div></div>
					<div class="container">
						<div class="background-img" [ngStyle]="{'background-image':'url(' +image_url_pj + ')'}">
							<!-- <div class="box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="content">

								</div>

							</div> -->
						</div>
					</div>
				</section>

<!-- contactez -->
				<section *ngIf="Agency?.videoUrl">
					<div></div>
					<div class="container">
						<div class="background-vd">
							<iframe class="promoVideo" [src]="urlSafe">
							</iframe>
						</div>
					</div>
				</section>

				<!-- <iframe class="container promoVideo"  [src]="urlSafe">
					</iframe> -->


				<br><br><br> <br>
				<div class="wrapper">
					<div class="fb-share-button" data-href="https://tunimmob.com/agency/{{idAgency}}"
						data-layout="button_count" data-size="large">
						<div class="icon" >
							<i  class="fab fa-facebook-f"></i>
						</div>
						<a [(ngModule)]="image_url_pj" (click)="shareOnFacebook()" target="_blank"
							class="fb-xfbml-parse-ignore textfb">Partager sur Facebook</a>
					</div>

					<div class="button ">
						<div class="icon" style="background-color: #E1306C;">
							<i class="fab fa-instagram"></i>
						</div>
						<span>Partager sur Instagram</span>
					</div>
				</div>

				<br>
			</div>
		</div>
	</div>
</div>
<div  *ngIf="Agency?.role==='promoteur-immobilieres' && Agency?.projets?.length===0" class="marginY">
	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [responsiveOptions]="responsiveOptions" >
					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">{{image.random}}</h5>
									<button href="#" class="btn btn-boutique" style="float: right;">EN COURS</button>
								</div>

								<p class="nameStyle">{{image.title}}</p>
								<p class="card-text random">Description projet.</p>

							</div>
						</div>
					</ng-template>
				</p-carousel> <br>



				<br>
			</div>
		</div>
	</div>
</div>



<div *ngIf="Agency?.role==='agence-immobilieres' && Agency?.biens?.length!==0 ">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="Agency.biens" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div *ngIf="image.type!=='PLUSIEURE'" class="item-card"
							[routerLink]="['/agences-immobiliere-details',image.id]">
							<img src="{{image?.imageUrl}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Bien immobilier</h5>
									<button href="#" class="btn btn-prix" style="float: right;">{{image?.prix}}</button>
								</div>

								<p class="nameStyle">{{image?.name}}</p>

							</div>
						</div>
						<div *ngIf="image.type=='PLUSIEURE'" class="item-card"
							[routerLink]="['/agences-immob-details-plus',image.id]">
							<img src="{{image?.imageUrl}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Bien immobilier</h5>
									<button href="#" class="btn btn-prix" style="float: right;">{{image?.prix}}</button>
								</div>

								<p class="nameStyle">{{image?.name}}</p>

							</div>
						</div>


					</ng-template>

				</p-carousel> <br>




				<a (click)="goToLink()" class="btn btn-promotion"> {{titrePromo}} d</a>
				<br><br><br><br>
				<div>
					<section *ngIf="Agency?.videoUrl2===null || Agency?.videoUrl2===''" (click)="goToLink()">
						<div></div>
						<div class="container">
							<div class="background-img" [ngStyle]="{'background-image':'url(' +image_url_biens + ')'}">
								<!-- <div class="box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<div class="content">
									</div>
								</div> -->
							</div>
						</div>
					</section>
					<section *ngIf="Agency?.videoUrl2">
						<div></div>
						<div class="container">
							<div class="background-vd">
								<iframe class="promoVideo" [src]="urlSafe2">
								</iframe>

							</div>
						</div>
					</section>
				</div>

				<!--map-->

				<!-- <div class=" container map" *ngIf="Agency.name==='A VENDRE TERRAIN A SAHLOUL'">
		<p-gmap [options]="options" [style]="{'height':'520px'}" ></p-gmap>

    </div>  -->

				<!------->

				<br><br><br> <br>
				<div class="wrapper">

					<div class="fb-share-button" data-href="https://tunimmob.com/agency/{{idAgency}}"
						data-layout="button_count" data-size="large">
						<div class="icon">
							<i class="fab fa-facebook-f"></i>
						</div>
						<a [(ngModule)]="image_url_biens" (click)="changemetaBiens(image_url_biens)" target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=https://tunimmob.com/agency/{{idAgency}}"
							class="fb-xfbml-parse-ignore textfb">Partager sur Facebook</a>
					</div>
					<div class="button ">
						<div class="icon">
							<i class="fab fa-instagram"></i>
						</div>
						<span>Partager sur Instagram</span>
					</div>

				</div>
				<br><br>



			</div>
		</div>

	</div>
</div>
<div *ngIf="Agency?.role==='agence-immobilieres' && Agency?.biens?.length===0">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images2" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image?.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">bien immobilier</h5>
									<button href="#" class="btn btn-prix" style="float: right;">PRIX: 00,00</button>
								</div>

								<p class="nameStyle">{{image?.produit}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>
				<button (click)="goToLink()" class="btn btn-promotion1"
					style="float: right;font-size: 18px; font-weight: 600;">PROMO DE LA SEMAINE </button>
			</div>
		</div>
	</div>
</div>


<div *ngIf="Agency?.role==='materiaux-construction' && Agency?.produits?.length!==0 ">


	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="Agency.produits" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
					<!-- [routerLink]="['/details-materiaux',image.id]" -->
					<ng-template let-image pTemplate="item">
						<div class="item-card" [routerLink]="['/details-materiaux',image.id]">
							<!-- <img src="{{image?.imageUrl}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Produit</h5>
									<button href="#" value="" class="btn btn-prix" style="float: right;">Plus de detaills</button>
								</div>
								<div style="display:flex;align-items: center;">
								<p class="nameStyle">{{image?.name}}</p>
							
								<div class="social-icons">
									<div class="social-link-container" 
										data-layout="button_count" >
										<a target="_blank" href="#"class="social-link1">
											<i class="fab fa-facebook-f"></i>
										</a>
									</div>
									<div class="social-link-container">
										<a href="{{Agency?.instagram_url}}" class="social-link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
									<div class="social-link-container">
											<a href="{{Agency?.website_url}}" class="social-link">
											<i class="font">W</i>
										</a>
									</div>

								</div>
								</div>
							</div> -->

							<div>
								<img src="{{image?.imageUrl}}" class="card-img-top taill-image" alt="Responsive image">
								<div *ngIf="image?.name==='LE LOFT'">
									<span class="badge badge-orange">Prix à partir de 253.000 dt TTC</span>
								</div>
								<!-- btn-promotion  -->
							</div>


							


							<div class="card-body">
								<div>
									<h5 class="card-title random">{{image.agencyName}}</h5>
									<button href="#" class="btn btn-boutique mx-1"
										style="float: right; text-align: center;">{{image.status}}DETAILS</button>
								</div>
								<div style="display: flex; align-items: center;margin-right: -3px;">
									<div class="text">
										<p class="nameStyle" style="margin-right: 10px;">{{image.name }}</p>
									</div>
									<div class="social-icons">
										<div class="social-link-container"
											data-layout="button_count" data-size="large">
											<a target="_blank"
												href="{{Agency?.facebook_url}}"
												class="social-link1">
												<i class="fab fa-facebook-f"></i>
											</a>
										</div>

									</div>
									<div class="social-link-container ">
										<a href="{{Agency?.instagram_url}}" class="social-link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
									<div class="social-link-container">
										<a href="{{Agency?.website_url}}" class="social-link">
											<i class="font">W</i>
										</a>
									</div>

								</div>
							</div>






























						</div>
					</ng-template>

				</p-carousel>
				 <br>
				<a (click)="goToLink()" class="btn btn-promotion-Decouvert " style="">
					DÉCOUVREZ ENCORE PLUS... </a>
				<br><br><br><br>
				<section *ngIf="Agency?.videoUrl2===null || Agency?.videoUrl2===''" (click)="goToLink()">
					<div></div>
					<div class="container">
						<div class="background-img" [ngStyle]="{'background-image':'url(' +image_url + ')'}">
							<!-- <div class="box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="content">

								</div>

							</div> -->
						</div>
					</div>
				</section>
				<section *ngIf="Agency?.videoUrl2">
					<div></div>
					<div class="container">
						<div class="background-vd">
							<iframe class="promoVideo" [src]="urlSafe2">
							</iframe>

						</div>
					</div>
				</section>

				<br><br><br> <br>
				<div class="wrapper">

					<div class="fb-share-button" data-href="https://tunimmob.com/agency/{{idAgency}}"
						data-layout="button_count" data-size="large">
						<div class="icon">
							<i class="fab fa-facebook-f"></i>
						</div>
						<a [(ngModule)]="image_url" (click)="changemeta(image_url)" target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=https://tunimmob.com/agency/{{idAgency}}"
							class="fb-xfbml-parse-ignore textfb">Partager sur Facebook</a>
					</div>

					<div class="button ">
						<div class="icon">
							<i class="fab fa-instagram"></i>
						</div>
						<span>Partager sur Instagram</span>
					</div>

				</div>
				<br><br>


			</div>
		</div>
	</div>
</div>
<div *ngIf="Agency?.role==='materiaux-construction' && Agency?.produits?.length===0">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images2" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image?.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Produit</h5>
									<button href="#" class="btn btn-prix" style="float: right;">PRIX: 00,00</button>
								</div>

								<p class="nameStyle" >{{image?.produit}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>
				<button (click)="goToLink()" class="btn btn-promotion1"
					style="float: right;font-size: 18px; font-weight: 600;">PROMO DE LA SEMAINE </button>
			</div>
		</div>
	</div>
</div>














<div *ngIf="Agency?.role==='agence-service' && Agency?.services?.length!==0 ">


	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="Agency.services" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card" [routerLink]="['/details-service',image.id]">
							<img src="{{image?.imageUrl}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Service</h5>
									<button href="#" class="btn btn-prix" style="float: right;">{{image?.prix}}</button>
								</div>

								<p class="nameStyle">{{image?.name}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>
				<a (click)="goToLink()" class="btn btn-promotion">
					PROMOTION </a>
				<br><br><br><br>
				<section (click)="goToLink()">
					<div></div>
					<div class="container">
						<div class="background-img" [ngStyle]="{'background-image':'url(' +image_url_ser + ')'}">
							<div class="box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<div class="content">

								</div>

							</div>
						</div>
					</div>
				</section>
				<br><br><br> <br>
				<div class="wrapper " style="margin-top:60px;">

					<div class="fb-share-button" data-href="https://tunimmob.com/agency/{{idAgency}}"
						data-layout="button_count" data-size="large">
						<div class="icon">
							<i class="fab fa-facebook-f"></i>
						</div>
						<a [(ngModule)]="image_url_ser" (click)="changemetaSer(image_url_ser)" target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=https://tunimmob.com/agency/{{idAgency}}"
							class="fb-xfbml-parse-ignore textfb">Partager sur Facebook</a>
					</div>

					<div class="button ">
						<div class="icon">
							<i class="fab fa-instagram"></i>
						</div>
						<span>Partager sur Instagram</span>
					</div>

				</div>
				<br><br>


			</div>
		</div>
	</div>
</div>
<div *ngIf="Agency?.role==='agence-service' && Agency?.services?.length===0">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images2" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image?.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Service</h5>
									<button href="#" class="btn btn-prix" style="float: right;">OFFRE</button>
								</div>

								<p class="nameStyle">{{image?.produit}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>
				<button (click)="goToLink()" class="btn btn-promotion2"
					style="float: right;font-size: 18px; font-weight: 600;">PROMOTION </button>
			</div>
		</div>
	</div>
</div>


<div *ngIf="Agency?.role==='meilleurs-biens' && Agency?.biens?.length!==0 ">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="reverseAgBiens" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div *ngFor="let sousBiens of image.sous_biens">
							<div class="item-card" [routerLink]="['/descriptionAgence_Immob',sousBiens?.id]">
								<img src="{{image?.imageUrl}}" class="card-img-top taill-image">
								<div class="card-body">
									<div>
										<h5 class="card-title random">Bien immobilier</h5>
										<button href="#" class="btn btn-prix"
											style="float: right;">{{image?.prix}}</button>
									</div>

									<p class="nameStyle">{{image?.name}}</p>

								</div>
							</div>
						</div>
					</ng-template>

				</p-carousel> <br>


				<a (click)="goToLink()" class="btn btn-promotion"> NOS MEILLEURS PROPOSITION </a>
				<br><br><br><br>
				<div>
					<section *ngIf="Agency?.videoUrl2===null || Agency?.videoUrl2===''" (click)="goToLink()">
						<div></div>
						<div class="container">
							<div class="background-img" [ngStyle]="{'background-image':'url(' +image_url_biens + ')'}">
								<button class="btn-details">Plus De  Detaills</button>
							</div>
						</div>
					</section>
					<section *ngIf="Agency?.videoUrl2">
						<div></div>
						<div class="container">
							<div class="background-vd">
								<iframe class="promoVideo" [src]="urlSafe2">
								</iframe>

							</div>
						</div>
					</section>
				</div>

				<!--map-->

				<!-- <div class=" container map" *ngIf="Agency.name==='A VENDRE TERRAIN A SAHLOUL'">
			<p-gmap [options]="options" [style]="{'height':'520px'}" ></p-gmap>
	
		</div>  -->

				<!------->

				
				<div class="wrapper " style="margin-top:150px;" >

					<div class="fb-share-button" data-href="https://tunimmob.com/agency/{{idAgency}}"
						data-layout="button_count" data-size="large">
						<div class="icon">
							<i class="fab fa-facebook-f"></i>
						</div>
						<a [(ngModule)]="image_url_biens" (click)="changemetaBiens(image_url_biens)" target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=https://tunimmob.com/agency/{{idAgency}}"
							class="fb-xfbml-parse-ignore textfb">Partager sur Facebook</a>
					</div>
					<div class="button ">
						<div class="icon">
							<i class="fab fa-instagram"></i>
						</div>
						<span>Partager sur Instagram</span>
					</div>

				</div>
				<br><br>



			</div>
		</div>

	</div>
</div>
<div *ngIf="Agency?.role==='meilleurs-biens' && Agency?.biens?.length===0">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images2" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image?.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">bien immobilier</h5>
									<button href="#" class="btn btn-prix" style="float: right;">PRIX: 00,00</button>
								</div>

								<p class="nameStyle">{{image?.produit}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>
				<button (click)="goToLink()" class="btn btn-promotion"
					style="float: right;font-size: 18px; font-weight: 600;">PROMO DE LA SEMAINE </button>
			</div>
		</div>
	</div>
</div>


<br> <br> <br>

<!-- <div class="gradient-border" id="box" *ngIf="Agency?.projets?.length===0 || Agency?.produits?.length===0 ">
	Boutique en attente d'approbation &nbsp; <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

  </div> -->

<br><br><br>
<div class="tunsian-flag-img-background">
	<div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">
		<div class="btn-group mr-2" role="group " aria-label="First group ">
			<a class="btn-hover-flag-img text-center " href="promoteurs-tunis " aria-selected="true "
				style="line-height: 1.5">
				<span>Promoteurs</span>
				<br>
				<span>Immobiliers</span>
			</a>
		</div>
		<div class="btn-group mr-2" role="group " aria-label="Second group ">
			<a class="btn-hover-flag-img text-center " href="equipement " aria-selected="true "
				style="line-height: 1.5">
				<span>Materiaux</span>
				<br>
				<span>de construction</span>
			</a>
		</div>
		<div class="btn-group mr-2" role="group " aria-label="Third group ">
			<a class="btn-hover-flag-img text-center " aria-selected="true " href="agence-immob-tunis"
				style="line-height: 1.5">
				<span>Agences</span>
				<br>
				<span>Immobilières</span>
			</a>
		</div>
		<div class="btn-group mr-2 " role="group " aria-label="Third group ">
			<a class="btn-hover-flag-img text-center  " href="meilleurs-bien-sousse" aria-selected="true "
				style="line-height: 1.5;">
				<span>Selection Des</span>
				<br>
				<span>Meilleurs Biens</span>
			</a>
		</div>
		<div class="btn-group mr-2" role="group " aria-label="Fourth group ">
			<a class="btn-hover-flag-img text-center " href="agences-de-services" aria-selected="true "
				style="line-height: 1.5">
				<span>COMMERCES</span>
				<br>
				<span> Services et Arts</span>
			</a>
		</div>
	</div>
</div>

<!-- <router-outlet></router-outlet> -->

