<!-- side-bar	 -->
<div class="main-container">
	<nav class="main-menu">
		<style>
			.banner {
				text-align: center;
				padding: 10px;
				background-color: #434388;
				/* Set your desired background color */
				color: #fff;
				/* Set the text color */
				font-size: 16px;
				/* Adjust the font size */
			}

			.logo-container {
				text-align: center;
				padding: 10px;
				border-radius: 5%;
				overflow: hidden;
				background-color: #fff;
			}

			.logo-container img {
				max-width: 100%;
				height: auto;
				border-radius: 40%;
			}

			hr {
				width: 20px;
				height: 20px;
				background-color: white;
			}
		</style>



		<li>
			<a>
				<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>

				<span class="nav-text">
					<p>{{ Agency?.name }}</p>

				</span>
			</a>

		</li>

		<div>


			<ul>

				<li>
					<a>
						<i class="fa fa-home fa-2x"></i>
						<span class="nav-text">
							Page d'accueil
						</span>
					</a>

				</li>

				<li class="dropdown">
					<a>
						<i class="fa fa-book fa-2x"></i>
						<span class="nav-text"
							*ngIf="Agency?.role!=='materiaux-construction'   && Agency?.role!=='agence-service' ">
							projets</span>
						<span *ngIf="Agency?.role==='materiaux-construction' && ProduitEnCours.length > 0"
							class="nav-text">Nos produits</span>
						<span *ngIf="Agency?.role==='agence-service' && ProduitEnCours.length > 0" class="nav-text">Nos
							Menus</span>

					</a>
					<div class="dropdown-content">
						<a *ngIf="ProjetEnCours?.length > 0 ">En cours</a>

						<div class="submenu" *ngFor="let project of ProjetEnCours">

							<a style="background-color: #1e466e59;" (click)="refreshPage()"
								[routerLink]="['/details', project.id]">
								{{ project.name }}

							</a>
						</div>
						<!-- <a *ngIf="ProjetDispo.length > 0 || ProduitDispo.length > 0">Disponible</a> -->

						<a *ngIf="ProjetDispo?.length > 0">Disponible</a>
						<div class="submenu" *ngFor="let project of ProjetDispo ; index as i">

							<a style="background-color: #1e466e59;" (click)="refreshPage()"
								[routerLink]="'/details/' + project.id">
								{{ project.name }}

							</a>
						</div>
						<a *ngIf="ProduitVendu?.length > 0">Vendu</a>
						<div class="submenu" *ngFor="let project of ProduitVendu ; index as i">

							<a style="background-color: #1e466e59;" (click)="refreshPage()"
								[routerLink]="'/details/' + project.id">
								{{ project.name }}

							</a>
						</div>

					</div>
					<div class="dropdown-content" *ngIf="Agency?.role==='materiaux-construction'">
						<!-- <a *ngIf=" ProduitEnCours.length > 0">Produits</a> -->

						<div class="submenu" *ngFor="let project of ProduitEnCours">

							<a style="background-color: #1e466e59;" (click)="refreshPage()"
								[routerLink]="['/details-materiaux', project.id]">
								{{ project.name }}

							</a>
						</div>
						<!-- <a *ngIf="ProjetDispo.length > 0 || ProduitDispo.length > 0">Disponible</a> -->

					</div>


					<div class="dropdown-content" *ngIf="Agency?.role==='meilleurs-biens'">
						<!-- <a *ngIf=" ProduitEnCours.length > 0">Produits</a> -->

						<div class="submenu" *ngFor="let project of agenceImmob">

							<a style="background-color: #1e466e59;" (click)="refreshPage()"
								[routerLink]="['/descriptionAgence_Immob', project?.sous_biens[0]?.id]">
								{{ project?.name }}

							</a>
						</div>
						<!-- <a *ngIf="ProjetDispo.length > 0 || ProduitDispo.length > 0">Disponible</a> -->

					</div>
					<div class="dropdown-content" *ngIf="Agency?.role==='agence-service'">
						<!-- <a *ngIf=" ProduitEnCours.length > 0">Produits</a> -->

						<div class="submenu" *ngFor="let project of ProduitEnCours">

							<a style="background-color: #1e466e59;" (click)="refreshPage()"
								[routerLink]="['/descriptionCoffee', project.id]">
								{{ project.name }}

							</a>
						</div>
						<!-- <a *ngIf="ProjetDispo.length > 0 || ProduitDispo.length > 0">Disponible</a> -->

					</div>
				</li>
				<style>
					.show-subnav {
						display: block;
					}
				</style>

				<!-- <li>
					<a routerLink="/conception/ajouterConception">
						<i class="fa fa-plus fa-2x"></i>
						<span class="nav-text">Ajouter contenu </span>
					</a>
				</li> -->

				<li class="dropdown">
					<!-- <a routerLink="/conception/registre"> -->
					<a (click)="openVerticallyCentered(content)">
						<i class="fa fa-envelope fa-2x"></i>
						<span class="nav-text">Contacter nous</span>
					</a>

				</li>


				<style>
					/* Initially hide the dropdown content */
					.dropdown-content {

						display: none;
						position: absolute;
						background-color: #1f1e84;
						min-width: 42px;
						width: 248px;
						box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
						z-index: 5;

					}

					.dropdown-content>a {
						margin: 0px 23px;
						font-style: none;
						transform-style: none;
						color: yellow;
					}

					/* Show the dropdown content when the parent is hovered */
					.dropdown:hover .dropdown-content {
						display: block;
					}

					/* Style the dropdown options as blocks with margin */
					.dropdown-content .submenu {
						padding: 10px;
						/* Adjust the padding as needed */
					}

					.dropdown-content .submenu a {
						display: block;
						font-size: 9px;
						width: 222px;
						margin: -7px 11px;
						padding: 10px;
						text-decoration: none;
						color: white;
						background-color: rgb(10, 10, 211)e84;
						transition: background-color 0.3s;
						border: solid 1px rgb(255 255 255 / 16%);
						border-radius: 7px;
					}

					/* Add a little margin between the dropdown options */
					.dropdown-content .submenu a+a {
						margin-top: 5px;
						/* Adjust the margin as needed */

					}

					/* Add hover effect */
					.dropdown-content .submenu a {
						font-size: 12px;
						font-weight: bold;
						transition: background-color 0.2s ease, font-size 0.3s, text-align 0.1s ease;
					}

					.dropdown-content .submenu a:hover {
						font-size: 13px;
						color: yellow;
						border: solid 1px gray;
						font-weight: 600;

					}

					@media only screen and (max-width: 767px) {


						.dropdown-content .submenu a:hover {
							transition: background-color 0.2s ease, font-size 0.3s, text-align 0.1s ease;
							/* Add smooth transition for both background color and font size */

						}
					}
				</style>







				<li style="cursor: pointer;" class="dropdown">
					<a (click)="showMaximizableDialog()">
						<i class="fa fa-info-circle fa-2x"></i>
						<span class="nav-text">
							A propos
						</span>
					</a>

				</li>

			</ul>
		</div>

		<!-- <ul class="logout">
				<li>
				   <a routerLink="conception/login">
						 <i class="fa fa-power-off fa-2x"></i>
						<span class="nav-text">
							Logout
						</span>
					</a>
				</li>  
			</ul> -->
		&nbsp;
	</nav>

</div>
<!-- app-navbar-carousel -->
<app-navbar-carousel [AgencyBaniere]="this.AgencyBaniere"></app-navbar-carousel>
<div class="responsiveHome" style="    display: flex;  ">

	<!-- <button type="submit" class="animated-border-button " (click)=" getAgencyDescription()">
			{{AgencyA}}
		</button> -->

	<!-- <div class="responsive">
	
			<button type="submit" class="animated-border-button-pa " routerLink="/home">
				<i class="fa fa-home" aria-hidden="true"></i> Page d'Accueil
			</button>
		</div> -->

</div>
<!-- <div class="responsive-container">
		<div class="responsive">
		 </div>
		<div class="allAgSearch">
			<p-listbox [options]="allAgencies"  [(ngModel)]="searchText" [metaKeySelection]="false" [checkbox]="false" 
			[filter]="true" [multiple]="true" optionLabel="name"
			[listStyle]="{'max-height':'50px'}"
			[style]="{'width':'20rem'}" >
				<ng-template let-country pTemplate="item" >
					<div class="country-item res_Search" ng >
						<img src="{{country?.logo_url}}" width="30px" />&nbsp;&nbsp;
						<div [routerLink]="['/agency', country?.id]" >{{country?.name}}</div>
					</div>
				</ng-template>
			</p-listbox>
		</div> -
	</div>  -->






















































































































<div class="main">
	<ul class="cards">



		<li class="cards_item1">
			<div class="card1">
				<div class="card_image" style="    justify-content: center;
				display: flex;
				align-items: center;"><img *ngIf="Agency?.logo_url" style="    height: auto;
    max-width: 94%;
	border: solid 2px #80808038;
    margin-top: 11px;
    vertical-align: middle;" src="{{ Agency?.logo_url }}">
					<img *ngIf="!Agency?.logo_url" style="    height: auto;
	max-width: 94%;
	border: solid 2px #80808038;
	margin-top: 11px;
	vertical-align: middle;" src="assets/images/MAQUETTE-LOGO.jpg">
				</div>
				<div class="card_content my-2" style="justify-content: center;
    display: flex;">



					<button style="    font-weight: bold;
					letter-spacing: 2px;
					width: 219px;
					padding: 11px 0;
					" (click)="showMaximizableDialog()" class="btnT card_btn  "> À PROPOS</button>
				</div>
			</div>
		</li>
		<p-dialog class="p-diag" header="À Propos" [(visible)]="displayMaximizable" [modal]="true"
			[style]="{width: '85vw', 'margin-left': '50px'}" [maximizable]="true" [baseZIndex]="10000"
			[draggable]="false" [resizable]="false">
			<div class="row modalTheme">
				<div class="col-md-4">
					<img class="rounded-lg border card-img-modal" src="{{ Agency?.logo_url }}" alt="Eco house company">
				</div>
				<!-- app.component.html -->
				<div class="col-md-8">
					<p [dir]="getDirection(Agency?.description)" class="scrollable-paragraph" id="agencyDescription">
						{{ Agency?.description }}
					</p>
				</div>


			</div>

			<style>
				.modalTheme {
					/* Add your modal styling here */
				}

				.scrollable-paragraph {
					line-height: 1.5;
					max-height: 325px;
					/* Set a maximum height for the paragraph to enable scrolling */
					overflow-y: auto;
					/* Enable vertical scrolling if content overflows */
					white-space: pre-line;
					/* Preserve newlines and line breaks */
				}
			</style>

			<script>
				// JavaScript to add line breaks at points (.) with a space before it in the description
				document.addEventListener("DOMContentLoaded", function () {
					const descriptionElement = document.getElementById("agencyDescription");
					if (descriptionElement) {
						// Get the text content
						let descriptionText = descriptionElement.textContent;

						// Add line breaks at points (.) with a space before it
						descriptionText = descriptionText.replace(/ \./g, '.\n');

						// Set the modified text back to the element
						descriptionElement.textContent = descriptionText;
					}
				});
			</script>


		</p-dialog>
		<p-dialog class="p-diag" header="À Propos" [(visible)]="displayMaximizable1" [modal]="true"
			[style]="{width: '85vw', 'margin-left': '50px'}" [maximizable]="true" [baseZIndex]="10000"
			[draggable]="false" [resizable]="false">
			<div class="row modalTheme">
				<div class="col-md-4">
					<img class="rounded-lg border card-img-modal" src="{{ Agency?.logo_url }}" alt="Eco house company">
				</div>
				<div class="col-md-8">
					<p class="scrollable-paragraph" id="agencyDescription">{{ Agency?.description }}</p>
				</div>
			</div>

			<style>
				.modalTheme {
					/* Add your modal styling here */
				}

				.scrollable-paragraph {
					line-height: 1.5;
					max-height: 325px;
					/* Set a maximum height for the paragraph to enable scrolling */
					overflow-y: auto;
					/* Enable vertical scrolling if content overflows */
					white-space: pre-line;
					/* Preserve newlines and line breaks */
				}
			</style>

			<script>
				// JavaScript to add line breaks at points (.) with a space before it in the description
				document.addEventListener("DOMContentLoaded", function () {
					const descriptionElement = document.getElementById("agencyDescription");
					if (descriptionElement) {
						// Get the text content
						let descriptionText = descriptionElement.textContent;

						// Add line breaks at points (.) with a space before it
						descriptionText = descriptionText.replace(/ \./g, '.\n');

						// Set the modified text back to the element
						descriptionElement.textContent = descriptionText;
					}
				});
			</script>


		</p-dialog>
		<li class="cards_item" *ngIf="!isMobile">
			<div class="card1">
				<div class="card_image"><img src="assets/Grapghique-platform/2--BANIERE-VIDEO.jpg"></div>
				<div class="card_content">

					<button data-toggle="modal" data-target="#homeVideo" class="img-responsive"
						style="font-weight: bold;letter-spacing: 2px;" class="btnT card_btn"> <img
							style="height: auto; max-width: 7%; vertical-align: middle; margin-right: 8px;"
							src="assets/images/HomePage/reel.png" alt="">Réels</button>
				</div>
				<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				style="margin-top: 140px;">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="width: 200%;right: 217px;">
						<button type="button" class="btn btn-default" data-dismiss="modal">X</button>
						<div class="embed-responsive embed-responsive-16by9"
							style="width: 600px; max-width: 100%; margin: 0 auto;">
							<iframe id="youtubeVideo" class="embed-responsive-item" [src]="urlSafe3"
								allowfullscreen></iframe>
						</div>

					</div>
				</div>
			</div>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
				<style>
					#homeVideo .embed-responsive {
					width: 600px; /* Set your desired width */
					max-width: 100%; /* Ensure responsiveness */
					margin: 0 auto; /* Center the video */
				}
				
					h1 {
						color: #fff;
					}
				
					section {
						padding-top: 2em;
						padding-bottom: 2em;
					}
				
					section h1 {
						margin-bottom: 1em;
					}
				
					section img {
						border: #ddd solid 1px;
						border-radius: 5px;
						cursor: pointer;
					}
				
					#homeVideo button.btn.btn-default {
						background: black;
						border-radius: 50%;
						position: absolute;
						right: 0;
						z-index: 5;
						color: white;
					}
				</style>
			</div>
		</li>

	</ul>
</div>
<div *ngIf="isMobile" class="carous-boutique">
	<div class="agency-responsive" [ngClass]="{'block-display': !isDesktop}">



		<div class="col video" style="margin:auto;">

			<div class="Card-video">

				<button class="img-responsive btnT card_btn" style="font-weight: bold;
				letter-spacing: 2px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				cursor:not-allowed;">
					<img style="height: auto; max-width: 9%; vertical-align: middle; margin-right: 8px;"
						src="assets/images/HomePage/reel.png" alt="">
					Réels
				</button>
				<br><br>

				<iframe *ngIf="this.Agency?.twitter_url" style="width: 100%;
							   margin-left: 0px;
							   border-radius: 5px;
							   width: 100%;" width="315" height="560" [src]="urlSafe3" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen="false" class="anurodh-random-class" id="anurodh-random-id">
				</iframe>

				<!-- <img *ngIf="!this.Agency?.twitter_url"  src="assets/images/HomePage/reel.png" alt=""> -->

			</div>
			<br>

			<!-- <div *ngIf="Agency?.mobile_apps?.length===0 && Agency?.name==='La Maison Des ARTS by D'">
						<div class="text-primary">
							<h6 class="appnameUrbat">
								vidéo de présentation
							</h6>
						</div>
	
						<iframe class="responsive-iframe" src="../../assets/video/la_maison_de_arts.mp4">
						</iframe>
	
	
	
					</div> -->
			<!-- <div class="Card-video"
						*ngIf="Agency?.mobile_apps?.length===0  && Agency.role!=='promoteur-immobilieres' && Agency?.videoUrl">
						<div class="text-primary">
							<h6 class="appnameUrbat">
								Vidéo de présentation
							</h6>
						</div>
	
						<iframe class="responsive-iframe" [src]="urlSafe">
						</iframe>
					</div> -->
		</div>




	</div>
</div>
<!-- <h3 class="made_by">Made with ♡</h3> -->
<style>
	/* Font */
	@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

	/* Design */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		background-color: #ecf9ff;
	}

	body {
		color: #272727;
		font-family: 'Quicksand', serif;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0;
		padding: 1rem;
	}

	.main {
		max-width: 1200px;
		margin: 0 auto;
	}

	h1 {
		font-size: 24px;
		font-weight: 400;
		text-align: center;
	}

	img {
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}

	.btnT {
		color: #ffffff;
		padding: 0.8rem;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 4px;
		font-weight: 400;
		display: block;
		width: 100%;
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: #1f1e84;
		padding: 8px 0 8px 0px;
	}

	.btn:hover {
		background-color: rgba(16, 65, 99, 0.767);
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		margin: -51px 0px 0px 51px;
		padding: 0;
	}

	.cards_item {
		display: flex;
		padding: 1rem;
		max-width: 500px;
		/* Adjust to make the cards larger */
		width: 100%;
	}

	.cards_item1 {
		display: flex;
		padding: 1rem;
		max-width: 500px;
		/* Adjust to make the cards larger */
		width: 100%;
	}

	@media (min-width: 40rem) {
		.cards_item {
			width: 45%;
			/* Adjust to make the cards larger */
		}
	}

	@media (min-width: 56rem) {
		.cards_item {
			width: 43%;
			/* Adjust to make the cards larger */
		}
	}

	.card1 {
		background-color: white;
		border-radius: 0.25rem;
		box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
		/* border: solid 2px #616161d9; */
	}

	.card_content {

		padding: 1rem;
		background: linear-gradient(to bottom left, #ffffff 40%, #ffffff 100%);
	}

	.card_title {
		color: #ffffff;
		font-size: 1.1rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: capitalize;
		margin: 0;
	}

	.card_text {
		color: #ffffff;
		font-size: 0.875rem;
		line-height: 1.5;
		margin-bottom: 1.25rem;
		font-weight: 400;
	}

	.made_by {
		font-weight: 400;
		font-size: 13px;
		margin-top: 35px;
		text-align: center;
	}

	@media (max-width: 768px) {

		/* Adjust the max-width as needed for mobile devices */
		.cards_item {
			height: 600px;
			/* Increase the height as needed */
		}
	}

	@media (max-width: 768px) {
		.cards_item1:nth-child(2) {
			height: 700px;
			/* Adjust the height as needed */
		}


	}
</style>



<!-- 
<div class="content-container">

.main-menu

	
			

	<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>

	<div class="social-menu">
		<ul>
			<li><a href="https://github.com/sanketbodke" target="blank"><i class="fab fa-github"></i></a></li>
			<li><a href="https://www.instagram.com/imsanketbodke/" target="blank"><i class="fab fa-instagram"></i></a></li>
			<li><a href="https://www.linkedin.com/in/sanket-bodake-995b5b205/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
			<li><a href="https://codepen.io/sanketbodke"><i class="fab fa-codepen" target="blank"></i></a></li>
		</ul>
	</div>

</div> 
<style>


.social-menu ul{
position: relative;
top: 50%;
left: 50%;
padding: 0;
margin: 0;
transform: translate(-50%, -50%);
display: flex;
}

.social-menu ul li{
list-style: none;
margin: 0 15px;
}

.social-menu ul li .fab{
font-size: 30px;
line-height: 60px;
transition: .3s;
color: #000;
}

.social-menu ul li .fab:hover{
color: #fff;
}

.social-menu ul li a{
position: relative;
display: block;
width: 60px;
height: 60px;
border-radius: 50%;
background-color: #fff;
text-align: center;
transition: .6s;
box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
background-color: #000;
}
</style> -->


<div *ngIf="Agency?.role==='materiaux-construction' && Agency?.produits?.length!==0 " class="content-container">

	<div class="card" *ngFor="let projet of agencyProduits ">

		<img [routerLink]="['/details-materiaux', projet.id]" src="{{projet?.imageUrl}}" class="card-image">
		<div class="card-content">
			<h3 class="card-title">{{projet.name}}</h3>
			<h4 class="card-subtitle">{{projet.agencyName}}</h4>
			<button [routerLink]="['/details-materiaux', projet.id]" class="card-button">DÉCOUVREZ ENCORE
				PLUS...</button>
		</div>
	</div>
	<!-- <div class="card">
	  <img src="https://tunisie-immob.s3.eu-west-3.amazonaws.com/4MK6oA2-3.jpg"  class="card-image">
	  <div class="card-content">
		<h3 class="card-title">PLANS APPARTEMENTS</h3>
		<h4 class="card-subtitle">INTERMILI HOUSE IMMOBILIERE</h4>
		<button class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
	  </div>
	</div>
	<div class="card">
	  <img src="https://tunisie-immob.s3.eu-west-3.amazonaws.com/Zhq7k1.jpg"  class="card-image">
	  <div class="card-content">
		<h3 class="card-title">PHOTOS INTERIEUR</h3>
		<h4 class="card-subtitle">INTERMILI HOUSE IMMOBILIERE</h4>
		<button class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
	  </div>
	</div>
	<div class="card">
	  <img src="https://tunisie-immob.s3.eu-west-3.amazonaws.com/aGnCF1%20SITUATION-1.jpg"  class="card-image">
	  <div class="card-content">
		<h3 class="card-title">SITUATION DU PROJET</h3>
		<h4 class="card-subtitle">INTERMILI HOUSE IMMOBILIERE</h4>
		<button class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
	  </div>
	</div> -->
</div>
<!-- <div class="main-menu"></div> -->
<div *ngIf="Agency?.role==='promoteur-immobilieres'  && Agency?.projets?.length!==0" class="content-container">
	<div class="card" *ngFor="let projet of reverseAgPromoteurs">
		<img [routerLink]="['/details', projet.id]" src="{{projet?.photos[0]}}" class="card-image">
		<div class="card-content">
			<h3 class="card-title">{{projet.name}}</h3>
			<h4 class="card-subtitle">{{projet.agencyName}}</h4>



			<button [routerLink]="['/details', projet.id]" class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
		</div>
	</div>
</div>

<div *ngIf="Agency?.role==='agence-immobilieres' && Agency?.biens?.length!==0 " class="content-container">

	<div class="card" *ngFor="let projet of Agency.biens ">

		<img [routerLink]="['/agences-immob-details-plus',projet.id]" src="{{projet?.imageUrl}}" class="card-image">
		<div class="card-content">
			<h3 class="card-title">{{projet.name}}</h3>
			<h4 class="card-subtitle">{{projet.agencyName}}</h4>
			<button [routerLink]="['/agences-immob-details-plus',projet.id]" class="card-button">DÉCOUVREZ ENCORE
				PLUS...</button>
		</div>
	</div>
	<!-- <div class="card">
	  <img src="https://tunisie-immob.s3.eu-west-3.amazonaws.com/4MK6oA2-3.jpg"  class="card-image">
	  <div class="card-content">
		<h3 class="card-title">PLANS APPARTEMENTS</h3>
		<h4 class="card-subtitle">INTERMILI HOUSE IMMOBILIERE</h4>
		<button class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
	  </div>
	</div>
	<div class="card">
	  <img src="https://tunisie-immob.s3.eu-west-3.amazonaws.com/Zhq7k1.jpg"  class="card-image">
	  <div class="card-content">
		<h3 class="card-title">PHOTOS INTERIEUR</h3>
		<h4 class="card-subtitle">INTERMILI HOUSE IMMOBILIERE</h4>
		<button class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
	  </div>
	</div>
	<div class="card">
	  <img src="https://tunisie-immob.s3.eu-west-3.amazonaws.com/aGnCF1%20SITUATION-1.jpg"  class="card-image">
	  <div class="card-content">
		<h3 class="card-title">SITUATION DU PROJET</h3>
		<h4 class="card-subtitle">INTERMILI HOUSE IMMOBILIERE</h4>
		<button class="card-button">DÉCOUVREZ ENCORE PLUS...</button>
	  </div>
	</div> -->
</div>
<style>
	/* .main-menu {
    background: #1f1e84;
    border-right: 1px solid;
    position: fixed;
    bottom: 0;
    border: none;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 5;
    zoom: 1.1119;
  } */

	.content-container {
		margin-left: 48px;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-around;
	}

	.card {
		background-color: white;
		border-radius: 3px;
		box-shadow: #00000052 0 3px 8px 2px;
		overflow: hidden;
		width: calc(50% - 40px);
		/* Responsive width calculation */
		max-width: 480px;
		min-width: 300px;
		/* Ensures minimum width for smaller screens */
		margin: 10px 0;
		display: flex;
		flex-direction: column;
	}

	.card-image {
		width: 100%;
		height: auto;
	}

	.card-content {
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.card-title {
		font-size: 16px;
		font-weight: bold;
		margin: 5px 0;
	}

	.card-subtitle {
		font-size: 14px;
		margin: 5px 0;
		color: gray;
	}

	.card-button {
		padding: 12px 7px;
		font-size: 13px;
		cursor: pointer;
		font-weight: bold;
		border-radius: 4px;
		color: white;
		background: #1f1e84;
		margin-top: 10px;
		align-self: stretch;
		text-align: center;
	}

	@media (max-width: 768px) {
		.card {
			width: 100%;
			/* Full width for mobile devices */
		}
	}
</style>






















<div *ngIf="Agency?.role==='agence-service' && Agency?.services?.length!==0 ">


	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="Agency.services" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card" [routerLink]="['/details-service',image.id]">
							<img src="{{image?.imageUrl}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Service</h5>
									<button href="#" class="btn btn-prix" style="float: right;">{{image?.prix}}</button>
								</div>

								<p class="nameStyle">{{image?.name}}</p>

							</div>
						</div>
					</ng-template>

					<!-- <div *ngIf="Agency?.services?.sous_services?.length===0 && allAgence.videoUrl===null ;"> -->

					<ng-template #homeLink>
						<div class="item-card" [routerLink]="['/home']">
							<!-- Content when condition is false -->
						</div>
					</ng-template>
					<ng-template let-image pTemplate="item" *ngIf="Agency?.categorie==='coffee'     ">
						<div class="item-card">
							<img src="{{image?.imageUrl}}" class="card-img-top taill-image"
								[routerLink]="['/descriptionCoffee', image.id]">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Service</h5>
									<button class="btn btn-prix" style="float: right;">Notre Menus</button>
									<!-- <button  class="btn btn-prix" style="float: right;" *ngIf="image.sous_services && image.sous_services.length === 0; ">{{image?.prix}}</button> -->
								</div>

								<p class="nameStyle">{{image?.name}}</p>

							</div>
						</div>
						<!-- <section *ngIf="Agency?.videoUrl2">
								<div></div>
								<div class="container">
									<div class="background-vd">
										<iframe class="promoVideo" [src]="urlSafe2">
										</iframe>
									</div>
								</div>
							</section> -->
					</ng-template>

				</p-carousel>

				<!-- <button (click)="goToLink()" class="btn btn-promotion"
					style="float:right;font-size: 18px; font-weight: 600;margin-bottom: -30px;margin-top:-33px;">Menu Du Jour</button> -->
				<br>
				<!-- <section (click)="goToLink()">
						<div class="container">
							<div class="background-img" [ngStyle]="{'background-image':'url(' +image_url_ser + ')'}">
								
							</div>
						</div>
					</section> -->


				<br><br>
				<div class="wrapper " style="margin-top:60px;">



				</div>
				<br><br>


			</div>
		</div>
	</div>
</div>
<div *ngIf="Agency?.role==='agence-service' && Agency?.services?.length===0">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images2" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image?.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">Service</h5>
									<button href="#" class="btn btn-prix" style="float: right;">OFFRE</button>
								</div>

								<p class="nameStyle">{{image?.produit}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>

			</div>
		</div>
	</div>
</div>


<div *ngIf="Agency?.role==='meilleurs-biens' && Agency?.biens?.length!==0 ">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="reverseAgBiens" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div *ngFor="let sousBiens of image.sous_biens">
							<div class="item-card" [routerLink]="['/descriptionAgence_Immob',sousBiens?.id]">
								<img src="{{image?.imageUrl}}" class="card-img-top taill-image">
								<div class="card-body">
									<div>
										<h5 class="card-title random">Bien immobilier</h5>
										<button href="#" class="btn btn-prix" style="float: right;">DETAILS</button>
									</div>

									<p class="nameStyle">{{image?.name}}</p>

								</div>
							</div>
						</div>
					</ng-template>

				</p-carousel> <br>

				<br><br>

				<br><br><br><br><br>



				<!--map-->

				<!-- <div class=" container map" *ngIf="Agency.name==='A VENDRE TERRAIN A SAHLOUL'">
				<p-gmap [options]="options" [style]="{'height':'520px'}" ></p-gmap>
		
			</div>  -->

				<!------->

				<!-- 					
					<div class="wrapper " style="margin-top:150px;" >
	
						<div class="fb-share-button" data-href="https://tunimmob.com/agency/{{idAgency}}"
							data-layout="button_count" data-size="large">
							<div class="icon">
								<i class="fab fa-facebook-f"></i>
							</div>
							<a [(ngModule)]="image_url_biens" (click)="changemetaBiens(image_url_biens)" target="_blank"
								href="https://www.facebook.com/sharer/sharer.php?u=https://tunimmob.com/agency/{{idAgency}}"
								class="fb-xfbml-parse-ignore textfb">Partager sur Facebook</a>
						</div>
						<div class="button ">
							<div class="icon">
								<i class="fab fa-instagram"></i>
							</div>
							<span>Partager sur Instagram</span>
						</div>
	
					</div> -->
				<br><br>
				<br><br>
				<br><br>




			</div>
		</div>

	</div>
</div>
<div *ngIf="Agency?.role==='meilleurs-biens' && Agency?.biens?.length===0">

	<div class="carousel-boutique">
		<div class="content-section implementation carousel-demo">
			<div class="card">
				<p-carousel [value]="images2" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1"
					[circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">

					<ng-template let-image pTemplate="item">
						<div class="item-card">
							<img src="{{image?.picture}}" class="card-img-top taill-image">
							<div class="card-body">
								<div>
									<h5 class="card-title random">bien immobilier</h5>
									<button href="#" class="btn btn-prix" style="float: right;">PRIX: 00,00</button>
								</div>

								<p class="nameStyle">{{image?.produit}}</p>

							</div>
						</div>
					</ng-template>

				</p-carousel> <br>

			</div>
		</div>
	</div>
</div>

<!-- Top content -->
<div class="top-content" style="margin: 1px 19px 17px 65px;">



	<div class="containerM">

		<!-- Carousel row -->
		<div class="row">
			<div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<!-- Carousel -->
				<!-- <div id="carousel-example" class="carousel slide"> -->
				<div id="carousel-example">
					<!-- <ol class="carousel-indicators">
						<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example" data-slide-to="1"></li>
						<li data-target="#carousel-example" data-slide-to="2"></li>
					</ol> -->
					<div class="carousel-inner">
						<div class="carousel-item active ">


							<button style="font-size: 14px;background-color: #dc3346;
border-color: #dc3346; width: 100%;    height: 47px; " class="btn btn-primary ">DÉCOUVREZ ENCORE PLUS...</button>
							<br>

							<div class="embed-responsive embed-responsive-16by9">




								<iframe class="embed-responsive-item" [src]="urlSafe2" allowfullscreen>

								</iframe>

							</div>

						</div>
















						<div class="carousel-item">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item"
									src="https://player.vimeo.com/video/84910153?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff"
									allowfullscreen></iframe>
							</div>

						</div>
						<div class="carousel-item">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oiKj0Z_Xnjc"
									allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<!-- <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a> -->
				</div>
				<!-- End carousel -->
			</div>
		</div>
		<!-- End carousel row -->
	</div>
</div>

<style>
	.embed-responsive-16by9 {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 56.25%;
		/* 16:9 aspect ratio */
		height: 0;
	}

	.embed-responsive-16by9 iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.containerM {
		padding-top: 3px;
		padding-bottom: 20px;
	}
</style>






























<br><br><br>
<br><br><br>
<div class="tunsian-flag-img-background">
	<div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">


		<div class="btn-group mr-2" role="group" aria-label="Third group">
			<a [attr.href]="Agency.facebook_url ? Agency.facebook_url : null" target="_blank"
				class="btn-hover-flag-img text-center" [ngClass]="{'disabled-btn': !Agency.facebook_url}"
				[attr.aria-disabled]="!Agency.facebook_url ? 'true' : null"
				[style.pointer-events]="!Agency.facebook_url ? 'none' : 'auto'" style="line-height: 1.5;">
				<span style="letter-spacing: 3px;"> <i class="fab fa-facebook" style="font-size: 21px;"></i>
					<!-- Facebook Icon -->
				</span>
				<br>
				<span style="letter-spacing: 3px;">PAGE FACEBOOK</span>
			</a>
		</div>

		<div class="btn-group mr-2" role="group " aria-label="First group ">
			<a [attr.href]="Agency.instagram_url" class="btn-hover-flag-img text-center " aria-selected="true "
				style="line-height: 1.5" target="_blank"
				aria-selected="true " style="line-height: 1.5" [ngClass]="{'disabled-btn': !Agency.instagram_url}"
				[attr.aria-disabled]="!Agency.instagram_url ? 'true' : null"
				[style.pointer-events]="!Agency.instagram_url ? 'none' : 'auto'"
				>
				<span style="letter-spacing: 3px;"> <i class="fab fa-instagram" style="font-size: 21px;"></i>
					<!-- Instagram Icon -->
				</span>
				<br>
				<span style="letter-spacing: 3px;">NOTRE INSTAGRAM</span>
			</a>
		</div>
		<style>
			.disabled-btn {
				opacity: 0.6;
				cursor: not-allowed;


			}
		</style>
	
		<div class="btn-group mr-2" role="group " aria-label="First group " *ngIf="Agency?.categorie!='coffee'">
			<a [attr.href]="Agency.linkedin_url" target="_blank" class="btn-hover-flag-img text-center "
				aria-selected="true " style="line-height: 1.5" [ngClass]="{'disabled-btn': !Agency.linkedin_url}"
				[attr.aria-disabled]="!Agency.linkedin_url ? 'true' : null"
				[style.pointer-events]="!Agency.linkedin_url ? 'none' : 'auto'">
				<span style="letter-spacing: 3px;"><i class="fab fa-tiktok" style="font-size: 21px;"></i>
					<!-- Instagram Icon --></span>
				<br>
				<span style="letter-spacing: 3px;">NOTRE TIKTOK</span>
			</a>
		</div>
		<div class="btn-group mr-2 " role="group " aria-label="Third group ">
			<a (click)="openVerticallyCentered(content)" class="btn-hover-flag-img text-center  " aria-selected="true "
				style="line-height: 1.5;">
				<span style="letter-spacing: 3px;"> <i class="fas fa-phone-alt" style="font-size: 18px;"></i>
					<!-- Contact Icon -->
				</span>


				<br>
				<span style="letter-spacing: 3px;">
					CONTACTEZ-NOUS
				</span>
			</a>
		</div>
		<!-- <div class="btn-group mr-2" role="group " aria-label="Fourth group ">
				<a class="btn-hover-flag-img text-center " aria-selected="true "
					style="line-height: 1.5">
					<span>COMMERCES</span>
					<br>
					<span> Services et Arts</span>
				</a>
			</div> -->
	</div>
</div>
<!-- <div class="tunsian-flag-img-background">
		<div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">
			<div class="btn-group mr-2" role="group " aria-label="First group ">
				<a class="btn-hover-flag-img text-center " href="promoteurs-tunis " aria-selected="true "
					style="line-height: 1.5">
					<span>Promoteurs</span>
					<br>
					<span>Immobiliers</span>
				</a>
			</div>
			<div class="btn-group mr-2" role="group " aria-label="Second group ">
				<a class="btn-hover-flag-img text-center " href="equipement " aria-selected="true "
					style="line-height: 1.5">
					<span>Materiaux</span>
					<br>
					<span>de construction</span>
				</a>
			</div>
			<div class="btn-group mr-2" role="group " aria-label="Third group ">
				<a class="btn-hover-flag-img text-center " aria-selected="true " href="agence-immob-tunis"
					style="line-height: 1.5">
					<span>Agences</span>
					<br>
					<span>Immobilières</span>
				</a>
			</div>
			<div class="btn-group mr-2 " role="group " aria-label="Third group ">
				<a class="btn-hover-flag-img text-center  " href="meilleurs-bien-sousse" aria-selected="true "
					style="line-height: 1.5;">
					<span>Selection Des</span>
					<br>
					<span>Meilleurs Biens</span>
				</a>
			</div>
			<div class="btn-group mr-2" role="group " aria-label="Fourth group ">
				<a class="btn-hover-flag-img text-center " href="agences-de-services" aria-selected="true "
					style="line-height: 1.5">
					<span>COMMERCES</span>
					<br>
					<span> Services et Arts</span>
				</a>
			</div>
		</div>
	</div> -->
<ng-template #content let-modal>
	<div style="display: flex; display: flex;    flex-direction: row;
    align-items: flex-start;" class="modal-header">
		<br><br>
		<h4 class="modal-title" style="font-weight: 600;">Demander un devis</h4>
		<a class="pi pi-times closeButton" (click)="modal.dismiss('Cross click')"></a>
	</div>
	<div class="modal-body">
		<form (ngSubmit)="senderEmail()">
			<div class="">
				<div>
					<label for="email" class="textInput"> Email:</label>
					<input type="email" id="emailSource" [(ngModel)]="emailSource" name="emailSource" required
						placeholder="Votre email" />
					<div class="send-button" style="color: red;" *ngIf="emailSource && !isValidEmail(emailSource)"
						class="error">
						S'il vous plaît, mettez une adresse email valide.
					</div>
				</div><br>
				<div>
					<label for="Nom" class="textInput">Objet:</label>
					<input type="text" id="subject" [(ngModel)]="subject" name="subject" required placeholder="objet" />
				</div> <br>
				<label for="exampleFormControlTextarea1" class="textInput">Préciser Votre Demande</label>
				<textarea style="height: 168px;" id="message" [(ngModel)]="message" name="message" required
					placeholder="message ..."></textarea>
				<br>
				<!-- <div *ngFor="let agencies of Agency">
						<div *ngFor="let categorie of agencies?.produits">
							<div *ngFor="let categories of categorie?.categoryList"> -->
				<!-- *ngIf="agencies?.name===categorie?.agencyName && categories===SousCategorie?.category && categorie?.emailCommercial===null" -->
				<div class="example-button-row">
					<button type="submit" style="border-color: #8B0000;
									background-color: #8B0000; color:aliceblue">Envoyer</button>&nbsp;&nbsp;&nbsp;
					<a class="btn btn-light" (click)="modal.close('Close click')">
						Fermer
					</a>


				</div>

			</div>

			<div class="modal-footer valider">

			</div>



			<!-- <div class="main-menu"></div> -->
			<!-- <div class="content-container">
    <button class="center-button">Click Me</button>
</div> -->

			<style>
				/* .main-menu {
		background: #1f1e84;
		border-right: 1px solid;
		position: fixed;
		bottom: 0;
		border: none;
		height: 100%;
		left: 0;
		width: 60px;
		overflow: hidden;
		transition: width .05s linear;
		-webkit-transform: translateZ(0) scale(1, 1);
		z-index: 5;
		zoom: 1.1119;
	} */

				.content-container {
					/* margin-left: 60px; */
					height: auto;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.center-button {
					padding: 7px 52px;
					font-size: 13px;
					cursor: pointer;
					font-weight: bold;
					border-radius: 4px;
					color: white;
					background: #1f1e84;
				}
			</style>



































			<!-- Home Video Modal -->
		
				


			<!-- container -->