<div style="background-image: url('../../../assets/images/HomePage/background-login.jpg');background-size: contain;">
    <img class="facepro" src="../../../assets/images/HomePage/FACE-PRO-LOGO.png" alt="FACEPRO">
    <div class="reponsiveCard">
        <div class="paddingresp">
            <div routerLink="/home" class="card" style="margin-bottom: 12px;">
                <img class="dragImg" src="../../../assets/images/HomePage/TUNISIE.png">
            </div>
            <div class="card">
                <div routerLink="/home" class="container">
                    <br>
                    <p class="textALG">TUNISIE</p>
                </div>
            </div>
        </div>
        <div class="paddingresp">
            <div routerLink="/home-algerie" class="card" style="margin-bottom: 12px;">
                <img class="dragImg" src="../../../assets/images/HomePage/algerie.png">
            </div>

            <div class="card">
                <div routerLink="/home-algerie" class="container">
                    <br>
                    <p class="textALG">ALGERIE</p>
                </div>
            </div>
        </div>
        <div class="paddingresp">
            <div routerLink="/home-maroc" class="card" style="margin-bottom: 12px;">
                <img class="dragImg" src="../../../assets/images/HomePage/maroc.png">
            </div>

            <div class="card">
                <div routerLink="/home-maroc" class="container">
                    <br>
                    <p class="textALG">MAROC</p>
                </div>
            </div>
        </div>
        <div class="paddingresp">
            <div routerLink="/home-lybia" class="card" style="margin-bottom: 12px;">
                <img class="dragImg" src="../../../assets/images/HomePage/LYBIA.png">
            </div>

            <div class="card">
                <div routerLink="/home-lybia" class="container">
                    <br>
                    <p class="textALG">LIBYA</p>
                </div>
            </div>
        </div>
        <div class="paddingresp">
            <div routerLink="/home-mauritanie" class="card" style="margin-bottom: 12px;">
                <img class="dragImg" src="../../../assets/images/HomePage/MOURATANI.png">
            </div>

            <div class="card">
                <div routerLink="/home-mauritanie" class="container">
                    <br>
                    <p class="textALG">MAURITANIE</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="tunsian-flag-img-background" style="height: -170">
        <div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">
            <div class="btn-group mr-2" role="group " aria-label="First group ">
                <a class="btn-hover-flag-img text-center " aria-selected="true " style="line-height: 1.5">
                    <span>Promoteurs</span>
                    <br>
                    <span>Immobiliers</span>
                </a>
            </div>
            <div class="btn-group mr-2" role="group " aria-label="Second group ">
                <a class="btn-hover-flag-img text-center " aria-selected="true " style="line-height: 1.5">
                    <span>Materiaux</span>
                    <br>
                    <span>de construction</span>
                </a>
            </div>
            <div class="btn-group mr-2" role="group " aria-label="Third group ">
                <a class="btn-hover-flag-img text-center " aria-selected="true " style="line-height: 1.5">
                    <span>Agences</span>
                    <br>
                    <span>Immobilières</span>
                </a>
            </div>
            <div class="btn-group mr-2" role="group " aria-label="Third group ">
                <a class="btn-hover-flag-img text-center " aria-selected="true " style="line-height: 1.5">
                    <span>Selection Des</span>
                    <br>
                    <span>Meilleurs Biens</span>
                </a>
            </div>
            <div class="btn-group mr-2" role="group " aria-label="Fourth group ">
                <a class="btn-hover-flag-img text-center " aria-selected="true " style="line-height: 1.5">
                    <span>COMMERCES</span>
                    <br>
                    <span> Services et Arts</span>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container buttonConnction">
        <button class="pulse" routerLink="/conception/login">Connexion</button>
        <button class="pulse" routerLink="/conception/registre">Inscription</button>
    </div>
    <br>
    <br>

</div>