<div style="background-image: url('../../../assets/images/HomePage/background-login.jpg');background-size: contain;
height:937px;">
	<img routerLink="/" src="../../../assets/images/HomePage/FACE-PRO-LOGO.png"
		class="center">
	<mat-card>
		<mat-card-content>
			<form *ngIf="!isLoggedIn" #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" novalidate>

				<h2>S’inscrire</h2>
				<mat-error *ngIf="loginInvalid">
					The username and password were not recognised
				</mat-error>
                <mat-form-field class="full-width-input">
					<input
						name="NomDeSociété"
						matInput
						type="text"
						placeholder="Société"
						required>
					<mat-error>
						Please provide your name
					</mat-error>
				</mat-form-field>
                <mat-form-field class="full-width-input">
					<input
						name="NomDeResponsable"
						matInput
						type="text"
						placeholder="Nom Du Responsable"
						required>
					<mat-error>
						Please provide your name
					</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width-input">
					<input 
						name="email"
						matInput
						placeholder="Email"
						required>
					<mat-error>
						Please provide a valid email address
					</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width-input">
					<input
						name="Numero"
						matInput
						type="text"
						placeholder="Numero De Téléphone"
						required>
					<mat-error>
						Please provide a valid password
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Votre Pays</mat-label>
					<mat-select  name="role">
						<mat-option *ngFor="let role of roles" [value]="role.value" required>
							{{role.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-card-actions>
					<button style="background-color: #8b0000;"
						mat-raised-button
						color="primary"
						type="submit">
						S’inscrire
					</button> <br><br>
                    <div routerLink="/conception/login">
                    <p style="float:right; color:#8b0000;font-weight: 600;cursor: pointer;text-decoration : underline;"> Se connecter </p>
                    </div>
				</mat-card-actions>
			</form>
		</mat-card-content>
	</mat-card>
</div>
