<app-navbar-carousel-home></app-navbar-carousel-home>
<div>
    <div class="responsive">

        <button type="submit" class="animated-border-button retour" routerLink="/home">
            <i class="fa fa-home" aria-hidden="true"></i> Page d'Accueil
        </button>
    </div>
    
</div>
<br> <br><br> 
<mat-tab-group mat-align-tabs="center">
   
    <mat-tab>
        <ng-template mat-tab-label>

            <button type="button" class="btn  btn-round All" >Nabeul</button>


        </ng-template><br><br>

         <div class="tab-pane tab-pane-parent fade show active px-0" id="pills-home" role="tabpanel"
                aria-labelledby="pills-home-tab" style="padding: 5px; overflow: hidden; ">
                <p-carousel  [numVisible]="5" [numScroll]="5" [circular]="true"
                    [autoplayInterval]="7000"  styleClass="custom-carousel">

                    <ng-template pTemplate="header">
                        <div class="row">
                            <div class="col-md-6 title">
                                <h2 class="text-heading"
                                    style="font-size: 2.1rem;color: #333!important;font-family: poppins,sans-serif;font-family: system-ui;">
                                    Nabeul
                                </h2>
                                <hr class="hrstyle">
                                <p class="mb-md-0 mb-6"
                                    style="color:#696969;font-size:.900rem;font-family: poppins,sans-serif;font-family: system-ui;">
                                    Toute la liste des meilleurs biens dans cette région sont
                                    agrées
                                </p>
                            </div>

                        </div>
                    </ng-template>
                    <ng-template let-Agency | searchPipe : search pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content">
                                <div class="p-mb-3"></div>
                                <div>
                                    <div class="card shadow-hover-1 border-gray" data-animate="fadeInUp">
                                        <a [routerLink]="['/agency', Agency.id]" class="text-dark hover-primary">
                                            <div class="css">
                                                <div
                                                    class="hover-change-image bg-hover-overlay rounded-lg card-img-top">
                                                    <img src="{{Agency.logo_url}}" alt="Responsive image"
                                                        style="height: 100%; width: 100%">
                                                    <div class="card-img-overlay p-2 d-flex flex-column">
                                                        <div>
                                                            <span
                                                                class="badge badge-orange mr-2">{{Agency.region}}</span>
                                                            <span class="badge badge-primary">Tunisia</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </a>
                                        <div class="card-body pt-3 border-dark" style="height: 80px;">
                                            <h2 class="card-title fs-16 lh-2 mb-0" style="font-size: 15px;">
                                                <a routerLink="agency" class="text-dark hover-primary">
                                                    {{ Agency.name }}.
                                                </a>
                                            </h2>
                                            <p class="card-text font-weight-500 text-gray-light mb-2"
                                                style="color:#9b9b9b!important;font-size:13px;">
                                                {{ Agency.adresse }}
                                            </p>
                                        </div>
                                        <div
                                            class="card-footer border-gray bg-transparent d-flex justify-content-between align-items-center py-3">
                                            <p style="font-size: 13px;
                font-weight: 600;
                margin-top: 10px;text-transform: capitalize;">{{ Agency.region }}</p>
                                            <ul class="list-inline mb-0">
                                                <ul class="social-networks bounce">
                                                    <li>
                                                        <a href="{{Agency.twitter_url}}" class="icon-twitter">
                                                            Twitter
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{Agency.facebook_url}}" class="icon-facebook">
                                                            Facebook
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{Agency.instagram_url}}" class="icon-instagram">
                                                            Instagram
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{Agency.linkedlin_url}}" class="icon-linkedin">
                                                            LinkedIn
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </p-carousel>
            </div>
        <div class="gradient-border"
        id="box">
        En cour de construction &nbsp;
        <i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>
    
    </div> <br><br><br><br><br>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>

            <button type="button" class="btn  btn-round All" routerLink="/meilleurs-bien-tunis">Tunis</button>

        </ng-template><br><br>

       

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

            <button type="button" class="btn  btn-round All" routerLink="/meilleurs-bien-sousse">Sousse</button>


        </ng-template><br><br>

       


    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/meilleurs-bien-monastir">Monastir</button>
        </ng-template><br><br>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/meilleurs-bien-sfax">Sfax</button>
        </ng-template><br><br>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/meilleurs-bien-mahdia">Mahdia</button>
        </ng-template><br><br>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/meilleurs-bien-bizerte">Bizerte</button>
        </ng-template><br><br>
    </mat-tab>

</mat-tab-group>

<div class="tunsian-flag-img-background" style="height: -170">
    <div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">
        <div class="btn-group mr-2" role="group " aria-label="First group ">
            <a class="btn-hover-flag-img text-center " href="equipement " aria-selected="true "
                style="line-height: 1.5">
                <span>Materiaux</span>
                <br>
                <span>de construction</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Third group ">
            <a class="btn-hover-flag-img text-center " href="promoteurs-tunis " aria-selected="true "
                style="line-height: 1.5">
                <span>Promoteurs</span>
                <br>
                <span>Immobiliers</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Third group ">
            <a class="btn-hover-flag-img text-center " href="agence-immob-tunis" aria-selected="true "
                style="line-height: 1.5">
                <span>Agences</span>
                <br>
                <span>Immobilières</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Fourth group ">
            <a class="btn-hover-flag-img text-center " href="agences-de-services" aria-selected="true "
                style="line-height: 1.5">
                <span>Décoration</span>
                <br>
                <span> Services et Arts</span>
            </a>
        </div>
    </div>
</div> <br> <br>

<div class="images">
    <img class="img-responsive center-block image1" src="../../assets/images/banque/Logo_TIJARI.jpg "
        style=" width: 8%; margin-inline-start: 26%; padding-top: 2%" alt="LOGO TIJARI">
    <img class="img-responsive center-block" src="../../assets/images/banque/Logo_HABITAT.jpg "
        style=" width: 10%; padding-left: 2%; padding-top: 2%" alt="LOGO HABITAT">
    <img class="img-responsive center-block" src="../../assets/images/banque/Logo_ZITOUNA.jpg "
        style=" width: 10%; padding-left: 2%; padding-top: 2%" alt="LOGO ZITOUNA">
    <img class="img-responsive center-block" src="../../assets/images/banque/Logo_BIAT.jpg "
        style=" width: 10%; padding-left: 2%; padding-top: 2%" alt="LOGO BIAT">
    <img class="img-responsive center-block" src="../../assets/images/banque/Logo_STB.jpg "
        style=" width: 10%; padding-left: 2%; padding-top: 2%" alt="LOGO STB">

    <!--	<hr style="margin-block-start: 2%"> -->
</div>
