<!-- wrapper -->

<div class="main-container">
    <nav class="main-menu">
        <div>
            <li>
                <a>
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>

                    <span class="nav-text">
                        <p>{{ Projet?.agencyName }}</p>

                    </span>
                </a>

            </li>
            <ul>
                <li *ngIf="idVilla">
                    <a [routerLink]="'/agency/' + idVilla">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">Page d'accueil</span>
                    </a>
                </li>
                <li *ngIf="!idVilla">
                    <a>
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">Page d'accueil</span>
                    </a>
                </li>

                <li class="dropdown">
                    <a>
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">Nos projets</span>
                    </a>
                    <div class="dropdown-content">
                        <a *ngIf="ProjetEnCours?.length > 0">En cours</a>



                        <div class="submenu" *ngFor="let project of ProjetEnCours">

                            <a style="background-color: #1e466e59;" (click)="refreshPage()"
                                [routerLink]="['/details', project?.id]">
                                {{ project?.name }}
                            </a>
                        </div>

                        <a *ngIf="ProjetDispo?.length > 0">Disponible</a>

                        <div class="submenu" *ngFor="let project of ProjetDispo ; index as i">

                            <a style="background-color: #1e466e59;" (click)="refreshPage()"
                                [routerLink]="'/details/' + project.id">
                                {{ project?.name }}

                            </a>

                        </div>
                        <a *ngIf="ProduitVendu?.length > 0">Vendu</a>

                        <div class="submenu" *ngFor="let project of ProduitVendu ; index as i">

                            <a style="background-color: #1e466e59;" (click)="refreshPage()"
                                [routerLink]="'/details/' + project.id">
                                {{ project?.name }}

                            </a>

                        </div>
                    </div>
                </li>
                <style>
                    .show-subnav {
                        display: block;
                    }
                </style>

                <!-- <li>
                    <a routerLink="/conception/ajouterConception">
                        <i class="fa fa-plus fa-2x"></i>
                        <span class="nav-text">Ajouter du contenu boutique</span>
                    </a>
                </li> -->

                <li class="dropdown">
                    <a (click)="openVerticallyCentered(content)">
                        <!-- <a routerLink="/conception/registre"> -->
                        <i class="fa fa-envelope fa-2x"></i>
                        <span class="nav-text">Contacter nous</span>
                    </a>

                </li>

                <style>
                    /* Initially hide the dropdown content */
                    .dropdown-content {

                        display: none;
                        position: absolute;
                        background-color: #1f1e84;
                        min-width: 42px;
                        width: 248px;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        z-index: 5;

                    }

                    .dropdown-content>a {
                        margin: 0px 23px;
                        font-style: none;
                        transform-style: none;
                        color: yellow;
                    }

                    /* Show the dropdown content when the parent is hovered */
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    /* Style the dropdown options as blocks with margin */
                    .dropdown-content .submenu {
                        padding: 10px;
                        /* Adjust the padding as needed */
                    }

                    .dropdown-content .submenu a {
                        display: block;
                        font-size: 9px;
                        width: 222px;
                        margin: -7px 11px;
                        padding: 10px;
                        text-decoration: none;
                        color: white;
                        background-color: rgb(10, 10, 211)e84;
                        transition: background-color 0.3s;
                        border: solid 1px rgb(255 255 255 / 16%);
                        border-radius: 7px;
                    }

                    /* Add a little margin between the dropdown options */
                    .dropdown-content .submenu a+a {
                        margin-top: 5px;
                        /* Adjust the margin as needed */

                    }

                    /* Add hover effect */
                    .dropdown-content .submenu a {
                        font-size: 12px;
                        font-weight: bold;
                        transition: background-color 0.2s ease, font-size 0.3s, text-align 0.1s ease;
                    }

                    .dropdown-content .submenu a:hover {
                        font-size: 13px;
                        color: yellow;
                        border: solid 1px gray;
                        font-weight: 600;

                    }

                    @media only screen and (max-width: 767px) {


                        .dropdown-content .submenu a:hover {
                            transition: background-color 0.2s ease, font-size 0.3s, text-align 0.1s ease;
                            /* Add smooth transition for both background color and font size */

                        }
                    }
                </style>

                <li>
                    <a (click)="showMaximizableDialog()">
                        <i class="fa fa-info-circle fa-2x"></i>
                        <span class="nav-text">A propos</span>
                    </a>
                </li>

            </ul>
        </div>
        &nbsp;
    </nav>
</div>





<app-navbar-carousel [AgencyBaniere]="this.mobile_apps"></app-navbar-carousel>

<button type="submit" class="animated-border-button " (click)=" backClicked()">
    <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
    Retour
</button>


<main id="content">
    <div style="margin-top: -10px;" class="px-3 px-lg-6 px-xxl-13  py-lg-10 my-profile">
        <!-- *ngFor="let pieces of allProject?.categoryList"
        *ngFor="let Testpiece of allProject?.pieces" -->

        <div class="container updateMenuDetails">

            <mat-tab-group>
                <mat-tab *ngFor="let Pieces of Projet?.categoryList">

                    <ng-template mat-tab-label>
                        <span class="my-custom-class">
                            {{Pieces}}
                        </span>
                    </ng-template>

                    <br><br>

                    <br><br>
                    <div>
                        <div *ngFor="let piece of Projet?.pieces">

                            <div class="row responsive-villa" *ngIf="Pieces===piece?.category"
                                [ngClass]="{'block-display': !isDesktop}" style=" display: flex;">
                                <div class="col-5 classcol7">
                                    <h6 class="appname">
                                        Vidéo de présentation
                                    </h6>
                                    <div *ngIf="Projet?.videoUrlProjet" class="video">
                                        <iframe class="responsive-iframe" [src]="urlSafe">
                                        </iframe>
                                    </div>
                                    <!-- <div *ngIf="Agency?.mobile_apps?.length===0 && Agency?.videoUrl">
                                    <div class="text-primary">
                                        <h6 class="appnameUrbat">
                                            vidéo de présentation iframe
                                        </h6>
                                    </div>
                                    <iframe class="responsive-iframe" [src]="urlSafe">
                                    </iframe>
                                </div> -->
                                    <div *ngIf="Projet?.videoUrlProjet===null">
                                        <div class="text-primary">

                                        </div>
                                        <a>
                                            <img class="appimage" src="assets/v3.jpg"
                                                alt="application en cour de construction">
                                        </a>
                                    </div>

                                    <h1 class="detail"> Détails de la propriété</h1>
                                    <div style="display: flex; align-items: center;" class="cardxi">
                                        <div class="icon-container">
                                            <mat-icon class="background">apps</mat-icon>
                                        </div>&nbsp;&nbsp;
                                        <div style="display: flex; align-items: center;margin-top: 13px;">
                                            <p class="type">TYPE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                :&nbsp;&nbsp;&nbsp;{{piece?.type}} </p>

                                            <div style="display: flex; align-items: center;">
                                                <!-- <p class="typeP">{{piece?.type}}</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Description de la propriété -->
                                    <br>
                                    <div style="display: flex; align-items: center;" class="cardxi">
                                        <div class="icon-container">
                                            <mat-icon class="background">open_with</mat-icon>
                                        </div>&nbsp;&nbsp;
                                        <div style="display: flex; align-items: center;margin-top: 13px;">
                                            <p class="type"
                                                [ngStyle]="{'font-size': piece?.surface?.length > 30 ? '14px' : '16'}">
                                                SURFACE &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{{piece?.surface}} (M²)
                                            </p>


                                            <!-- <div style="display: flex; align-items: center;">
                                                <p class="typeP"></p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <br>

                                    <div style="display: flex; align-items: center;" class="cardxi">
                                        <div class="icon-container">
                                            <mat-icon class="background">account_balance_wallet</mat-icon>
                                        </div>&nbsp;&nbsp;
                                        <div style="display: flex; align-items: center;margin-top: 13px;">
                                            <p style="text-transform: capitalize !important;" class="type">PRIX
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                :&nbsp;&nbsp;&nbsp;{{piece?.prixMdt}} (Mdt) </p>

                                            <!-- <div style="display: flex; align-items: center;">
                                                <p class="typeP">
                                                    {{piece?.prixMdt}}

                                                </p>
                                            </div> -->
                                        </div>
                                    </div>


                                    <!-- <div class="cardx" style="display: flex;">
                                        <div>
                                            <mat-icon class="background">assignment</mat-icon>
                                        </div>&nbsp;&nbsp;

                                        <div>TYPE APPARTEMENT:Vidéo de présentation



                                            <p class="type">STATUS</p>
                                            <p style="font-weight: 700;" class="type">{{piece?.status}}</p>
                                        </div>

                                    </div>  -->

                                    <!-- <h1 class="detail">Description de la propriété</h1> -->

                                    <div class="">
                                        <br><br>
                                        <div class="responsiveP">

                                            <h3 style="font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
                                  letter-spacing: normal;
                                  margin: 7px 0 16px;
                                  color: black;text-align: center;">Description de la propriété </h3>
                                            <!-- <p class="  scrollable-paragraph" style="    font-family: Arial, sans-serif;
                                            font-size: 15px;
                                            font-family: Arial, sans-serif;
                                            max-height: 274px;
                                            padding: 1px 22px 8px 26px;
                                            padding: 13px 9px -2px 2px;
                                            color: #333;
                                            color: #333;
                                            line-height: 1.5;
                                            margin: 0;
                                            padding: 0px 56px -46px 2px; ">

                            
                                                {{piece?.description}}
                                                <span class="typeDesc" *ngIf="piece?.description===null">
                                                    DESCRIPTION MANQUANTE !
                                                </span>

                                            </p> -->

                                            <div class="mb-0 lh-214 cadre-noir">
                                                <div *ngIf="piece?.description === null">
                                                    <p class="scrollable-paragraph paragrapheDesc">Description manquant!
                                                    </p>
                                                </div>
                                                <div *ngIf="piece?.description !== null">
                                                    <p class="scrollable-paragraph mb-0 lh-214 paragrapheDesc">
                                                        <ng-container *ngIf="piece?.description">
                                                            <ng-container
                                                                *ngFor="let sentence of piece?.description.split(',')">
                                                                {{ sentence.trim() }}
                                                                <hr style="    margin: 4px 0;
                                                        color: inherit;
                                                        border: 0;
                                                        border-top: var(--bs-border-width) solid;
                                                        opacity: 0;
                                                    ">
                                                            </ng-container>
                                                        </ng-container>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-7 classcol5">
                                    <style>
                                        #cl {
                                            margin-bottom: 11px;
                                            width: 92%;
                                            margin-left: 43px;
                                        }

                                        @media (max-width: 768px) {
                                            #cl {
                                                font-size: 13px;
                                                margin-right: -86px;
                                                margin-top: 1px;
                                                margin-left: -0
                                            }
                                        }
                                    </style>
                                    <div class="row " id="cl">
                                        <div class="col-6 ">
                                            <h1 class="appname">{{ piece?.name | lowercase }}</h1>
                                        </div>
                                        <br> <br> <br>
                                        <div class="col-6">
                                            <h3 class="disponible">Disponible</h3><br><br>

                                        </div>

                                    </div>

                                    <!-- 
                                    <div style="display: flex;    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 19px;">
                                        <h2 style="    margin-left: -53px;">titre 1</h2>
                                        <h2 style="    margin-right: -80px;">titre 2</h2>
                                    </div> -->

                                    <p-galleria [value]="piece?.photos" [responsiveOptions]="responsiveOptions"
                                        [containerStyle]="{'max-width': '800px'}" [numVisible]="3">
                                        <ng-template pTemplate="item" let-item>
                                            <img [src]="item" class="pgalleria" alt="pgalleria" />
                                        </ng-template>
                                        <ng-template pTemplate="thumbnail" let-item>
                                            <div class="grid grid-nogutter justify-content-center">
                                                <img [src]="item" class="imgPgalleria" alt="galleria" />
                                            </div>
                                        </ng-template>
                                    </p-galleria>

                                    <!-- video residence -->

                                    <div class="container23" style="    color: black">

                                        <div class="right-side">
                                            <h3 style="font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
                                  letter-spacing: normal;
                                  margin: 0 0 16px;
                                  color: black;text-align: center;">Contactez nous </h3>
                                            <form (ngSubmit)="sendEmail()">
                                                <div class="form-group">
                                                    <label for="email"
                                                        style="display: block;font-weight: bold; color: black;">Email:</label>
                                                    <input type="email" id="from" name="from" placeholder="Your Email"
                                                        [(ngModel)]="email.from" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name" class="label-style">Subject:</label>
                                                    <input type="text" id="subject" class="input-black" name="subject"
                                                        placeholder="Subject" [(ngModel)]="email.subject" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="message"
                                                        style="display: block;font-weight: bold; color: black;">Message:</label>
                                                    <textarea style="height: 100px;" id="message" name="message"
                                                        placeholder="Your Message" [(ngModel)]="email.body"
                                                        required></textarea>
                                                </div>
                                                <button type="submit"
                                                    style="background: #8B0000;float:right;">Envoyer</button>

                                            </form>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!-- <mat-tab label="APPARTEMENT S+2"> APPARTEMENT S+2 </mat-tab>
                    <mat-tab label="APPARTEMENT S+3"> APPARTEMENT S+3 </mat-tab>Description de la propriété
 -->
            </mat-tab-group>
        </div>
    </div>
</main> <br><br><br>
<!-- <div class="gradient-border" id="box" >
    En cour de construction &nbsp; <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  
  </div>Description de la propriété -->



<div class="tunsian-flag-img-background">
    <div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">
        <div class="btn-group mr-2" role="group " aria-label="First group ">
            <a class="btn-hover-flag-img text-center " aria-selected="true " style="line-height: 1.5">
                <span style="letter-spacing: 3px;">NOS</span>
                <br>
                <span style="letter-spacing: 3px;">REFERENCES</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Second group ">
            <a [attr.href]="Agency.website_url" target="_blank" class="btn-hover-flag-img text-center "
                aria-selected="true " style="line-height: 1.5">
                <span style="letter-spacing: 3px;">NOTRE </span>
                <br>
                <span style="letter-spacing: 3px;">SITE WEB</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Third group ">
            <a [attr.href]="Agency.facebook_url" target="_blank" class="btn-hover-flag-img text-center "
                aria-selected="true " style="line-height: 1.5">
                <span style="letter-spacing: 3px;">PAGE</span>
                <br>
                <span style="letter-spacing: 3px;" type="submit"> FACEBOOK</span>
            </a>
        </div>
        <div class="btn-group mr-2 " role="group " aria-label="Third group ">
            <a (click)="openVerticallyCentered(content)" class="btn-hover-flag-img text-center  " aria-selected="true "
                style="line-height: 1.5;">
                <span style="letter-spacing: 3px;">CONTACTEZ-</span>


                <br>
                <span style="letter-spacing: 3px;">
                    NOUS
                </span>
            </a>
        </div>
        <!-- <div class="btn-group mr-2" role="group " aria-label="Fourth group ">
            <a class="btn-hover-flag-img text-center " aria-selected="true "
                style="line-height: 1.5">
                <span>COMMERCES</span>
                <br>
                <span> Services et Arts</span>
            </a>
        </div> 
    -->
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<p-dialog class="p-diag" header="À Propos" [(visible)]="displayMaximizable" [modal]="true"
    [style]="{width: '85vw', 'margin-left': '50px'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <div class="row modalTheme">
        <div class="col-md-4">
            <img class="rounded-lg border card-img-modal" src="{{ Agency.logo_url }}" alt="Eco house company">
        </div>
        <div class="col-md-8">
            <p class="scrollable-paragraph">{{Agency.description}}</p>

        </div>
        <style>
            .modalTheme {
                /* Add your modal styling here */
            }

            .scrollable-paragraph {
                max-height: 325px;
                /* Set a maximum height for the paragraph to enable scrolling */
                overflow-y: auto;
                /* Enable vertical scrolling if content overflows */
                white-space: pre-line;
                /* Preserve newlines and line breaks */
            }
        </style>

        <script>
            // JavaScript to add line breaks at points (.) with a space before it in the description
            document.addEventListener("DOMContentLoaded", function () {
                const descriptionElement = document.getElementById("agencyDescription");
                if (descriptionElement) {
                    // Get the text content
                    let descriptionText = descriptionElement.textContent;

                    // Add line breaks at points (.) with a space before it
                    descriptionText = descriptionText.replace(/ \./g, '.\n');

                    // Set the modified text back to the element
                    descriptionElement.textContent = descriptionText;
                }
            });
        </script>
    </div>

</p-dialog>
<ng-template #content let-modal>
    <div class="modal-header">
        <br><br>
        <h4 class="modal-title" style="font-weight: 600;">Demander un devis</h4>
        <a class="pi pi-times closeButton" (click)="modal.dismiss('Cross click')"></a>
    </div>
    <div class="modal-body">
        <form>
            <div class="">
                <div>
                    <label for="email" class="textInput">Email</label>
                    <input class="form-control inputDevis" type="email" name="email" placeholder="Votre Email">
                </div><br>
                <div>
                    <label for="Nom" class="textInput">Téléphone</label>
                    <input class="form-control inputDevis" type="text" [(ngModule)]="numText" name="Nom"
                        placeholder="Téléphone">
                </div> <br>
                <label for="exampleFormControlTextarea1" class="textInput">Préciser Votre Demande</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
                <br>
                <!-- <div *ngFor="let agencies of Agency">
					<div *ngFor="let categorie of agencies?.produits">
						<div *ngFor="let categories of categorie?.categoryList"> -->
                <!-- *ngIf="agencies?.name===categorie?.agencyName && categories===SousCategorie?.category && categorie?.emailCommercial===null" -->
                <div class="example-button-row">
                    <a mat-raised-button style="border-color: #8B0000;
								background-color: #8B0000; color:aliceblue"
                        href="mailto:dcgeneral@gmail.com?subject=Sujet&body=num:{{numText}} Message:{{contactText}}">Valider</a>
                    <a type="a" class="btn btn-light" (click)="modal.close('Close click')">
                        Close
                    </a>


                </div>

            </div>

            <div class="modal-footer valider">

            </div>
        </form>
    </div>
</ng-template>