.btn-companies-type {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #1f1e84;
}

.tunsian-flag-img-background .btn-hover-flag-img {
  width: 214px;
  margin: 20px;
  background-color: #1f1e84;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  background-position-x: center;
  margin-right: 10px;
  margin-left: 10px;

  text-transform: uppercase;
  -webkit-text-stroke-width: thin;
}

.adjust-line-height {
  line-height: 1em;
}

.tunsian-flag-img-background .btn-hover-flag-img:hover {
  background-color: #3532c9;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

@media only screen and (max-width: 800px) {
  .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    margin-bottom: -90px;
    margin-top: -130px;
  }

  .tunsian-flag-img-background .btn-hover-flag-img {
    width: 214px;
    margin: 20px;
    background-color: #1f1e84;
    color: #ffffff;
    font-size: 8px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-position-x: center;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
  }

  .tunsian-flag-img-background .btn-hover-flag-img {
    width: 291px;
    margin: 3px;
    background-color: #1f1e84;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-position-x: center;
  }
}

.appname {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  font-size: 25px;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .appname {
    vertical-align: inherit;
    white-space: nowrap;
    margin-left: -50px;
    font-size: 15px;
    font-weight: bold;
    ;
    /* Réduire la taille de la police pour les écrans plus petits */
  }
}

/* Styles pour les écrans de largeur maximale de 480 pixels */
.detail {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .detail {
    vertical-align: inherit;
    white-space: nowrap;
    margin-left: -50px;
    font-size: 17px;
    font-weight: bold;
  }
}

.appimage {
  width: 86%;
  margin-left: 10px;
  height: 310px;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 768px) {
  .appimage {
    width: 252%;
    margin-left: -93px;
    height: auto;
  }
}



.responsive-telecharger {
  width: 365px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {

  .responsive-telecharger {
    width: 300px;
    margin: 0 auto;
  }

}

.btn-primary {
  color: #fff;
  background-color: #1f1e84;
  border-color: #1f1e84;
  box-shadow: none;
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 0.6875rem 2.1875rem;
  font-size: .875rem;
  font-weight: 500;
  border-radius: 5px;
  width: 85%;
  float: left;
  margin-bottom: 48px;
  margin-left: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2a28a1;
  border-color: #2a28a1;
}

.text-primary {
  font-size: 22px;
  margin-left: 10px;
}

.contact {
  display: grid;
  margin: 40px;
  flex-direction: column;
  align-items: flex-start;
}

.example-button-row {
  display: table-cell;
  width: 360px;
}

.example-card {
  max-width: 330px;
  margin: auto;
  margin-bottom: 30px;

}

.background {
  background: #8b0000;
  padding-left: 8px;
  padding-right: 32px;
  padding-bottom: 31px;
  padding-top: 7px;
  color: #ffffff;
  top: 50%;
  font-size: 25px;
  border-radius: 0%;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .background {
    padding-left: 16px;
    /* Ajustez la marge de gauche pour les écrans plus petits si nécessaire */
    padding-right: 16px;
    /* Ajustez la marge de droite pour les écrans plus petits si nécessaire */
    padding-bottom: 16px;
    /* Ajustez la marge du bas pour les écrans plus petits si nécessaire */
    padding-top: 16px;
    /* Ajustez la marge du haut pour les écrans plus petits si nécessaire */
    font-size: 20px;
    /* Ajustez la taille de la police pour les écrans plus petits si nécessaire */
  }
}

.background:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.images {
  margin-bottom: 30px;
  margin-top: -60px;
}

@media only screen and (max-width: 894px) {
  .images {
    visibility: hidden;
  }
}

@media only screen and (max-width:1191px) {
  .images {
    margin-top: 20px;
  }
}


.gradient-border {
  --borderWidth: 3px;
  background: #ffffff;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 55px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin: 0 auto;

}

@media only screen and (max-width: 808px) {

  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 55px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 0 auto;
  }


}

@media only screen and (max-width: 607px) {

  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 55px;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 500;
    margin: 0 auto;
  }


}

@media only screen and (max-width: 390px) {

  #box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
  }
}

.cardx-margin {
  margin-left: -2px;
}

.cards {
  margin-left: 2px;
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (min-width: 300px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* .a {
    grid-column: col / span  2;
    grid-row: row ;
  }
  .b {
    grid-column: col 3 / span  3 ;
    grid-row: row ;
  } */
.a {
  grid-column: 1 / 3;
  grid-row: 1;
}

.b {
  grid-column: 3;
  grid-row: 1;
}

.wrapper {
  display: grid;
  grid-gap: 25px;
  grid-template-rows: repeat(2, 1fr);
}

.type {
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: -3px;
  font-weight: 700;
  font-family: 'Roboto';
  margin-left: -4px;
  min-width: 347px;
  letter-spacing: 3px;
}

.typeP {
  font-size: 12px;
  margin-bottom: 6px;
  margin-top: -3px;
  font-weight: 700;
  font-family: 'Roboto';
  margin-left: -40px;
  letter-spacing: 3px;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .type {
    font-size: 10px;
    margin-bottom: -2px;
    margin-top: -14px;
    max-width: auto;
    letter-spacing: 0px;
    font-family: 'Roboto';
  }
}
@media (max-width: 768px) {
  .typeP {
    font-size: 10px;
    margin-bottom: 11px;
    margin-top: -3px;
    font-weight: 700;
    font-family: 'Roboto';
    margin-left: auto;
    margin-left: -199px;
    letter-spacing: 0px;
  }
}


.typeDesc {
  font-size: 14px;
  margin-bottom: -1px;
}

:host ::ng-deep .p-galleria .p-galleria-thumbnail-container {
  background: #ffffff;
  padding: 1rem 2.25rem;
}

:host ::ng-deep .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev {
  margin: 0.5rem;
  background-color: transparent;
  color: #8b0000;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border: solid 1px #8b0000;
}

:host ::ng-deep .mat-tab-label,
.mat-tab-link {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b0000;
}

:host ::ng-deep .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
  margin: 0.5rem;
  background-color: transparent;
  color: #8b0000;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border: solid 1px #8b0000;
}


.animated-border-button:hover {
  background-color: #5754e7;
  float: left;
  text-transform: initial;
  font-weight: 500;
  border-radius: 0px;

}

.animated-border-button {
  background-color: #3f51b5;
  border: none;
  outline: none;
  position: relative;
  float: left;
  color: #ffffff;
  text-transform: initial;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0px;
  margin-bottom: 50px;
  height: 32px;
  width: 125px;
  margin-left: 21%;
  margin-top: 30px;

}

.animated-border-button:before,
.animated-border-button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 0px;
}

.animated-border-button:before {
  border-top: 2px solid #3f51b5;
  right: 0;
  top: -4px;
}

.animated-border-button:after {
  border-bottom: 2px solid #3f51b5;
  bottom: -4px;
  left: 0;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
  width: 100%;
}

.search {
  background-color: #3f51b5;
  border-color: #3f51b5;
  height: 32px;
  float: right;
  width: 79px;
  padding: 5px;
  text-transform: initial;
  font-size: 13px;
  font-weight: 500;
  margin-right: -15px;
  margin-bottom: 20px;
  border-radius: 0px;
  color: #eee;
  margin-right: 380px;
}

.inputSearch {
  height: 32px;
  width: 330px;
  display: initial;
  float: right;
  border-radius: 0px;
}

.planimg {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.pgalleria {
  height: 402px;
  width: 100%;
  top: 39px;
  display: block;
  margin-top: -3px;
}

@media (max-width: 5000px) {
  .pgalleria {
    height: 100%;
    width: 160%;
    display: block;
    margin-left: 26px;
  }

  /* Réinitialisez la marge supérieure à 0 */
}

.imgPgalleria {
  display: block;
  height: 70px;
}

@media only screen and (max-width: 1028px) {
  .background {
    background: #8b0000;
    padding-left: 3px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 4px;
    color: #ffffff;
    top: 50%;
    font-size: 17px;
    border-radius: 0%;
  }

  .planimg {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .classcol5 {
    max-width: 90.666667%;
    margin: 40px auto;

  }

  .classcol7 {
    max-width: 100.666667%;
    margin: 0 auto;
    flex: 1 0 41.666667%;
  }

  /* .col-6 {width: 50%;} */

}

.borderDescription {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  margin-left: 10px;
  width: 100%;
  height: 355px;
  padding: 17px;
  margin-top: -21px;

}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 2000px) {
  .borderDescription {
    width: 259%;
    margin-left: -89px;
  }
}

:host ::ng-deep .mat-tab-body-content {
  height: inherit;
  overflow: hidden;
}

/* :host ::ng-deep p-image{
width:300px;
 height:100%
} */

appnameUrbat {

  font-weight: 500;
  color: #333;
  font-size: 1.5rem;
  margin-left: 0px;
  margin-bottom: 40px;
}

.responsive-iframe {
  width: 77%;
  /* Par défaut, occupe 100% de la largeur du conteneur parent */
  height: 305px;
  border: none;
}



/* Styles pour les écrans de largeur maximale de 480 pixels (version mobile) */
@media (max-width: 480px) {
  .responsive-iframe {
    width: 245%;
    height: 207px;
    margin-left: -58px;
    margin-top: -28px;
  }
}


@media only screen and (max-width:600px) {
  .updateMenuDetails {
    margin-left: 27px;

  }

  .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    margin-bottom: -90px;
    margin-top: -130px;
    margin-left: 60px;
  }
}


.container23 {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  box-shadow: -2px -2px 6px 1px rgb(0 0 0 / 20%);
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  margin-left: 26px;
  margin-top: -80px;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .container23 {
    flex-direction: column;
    align-items: center;
    margin-left: -64px;
    margin-top: -138px;
    width: 174%;
  }
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* type */

.right-side {
  flex: 1;
  padding-left: 20px;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .right-side {
    flex: none;
    padding-left: 1px;
    margin-left: 6px;
    width: 100%;
  }
}


h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* here */

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.effect.input :active {
  color: rgba(139, 0, 0, 0.63);
}

input:focus,
textarea:focus {
  color: rgba(139, 0, 0, 0.63);
  outline: none;
}

.cardxi {
  display: flex;
  background: darkred;
  align-items: center;
  color: white;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .cardxi {
    display: flex;
    background: darkred;
    align-items: center;
    color: white;
    width: 382%;
    margin-left: -72px;
  }
}

.texte {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.video {
  padding: 9px;
  width: 117%;
  margin: 0 -84px 0 -12px;
}

.block-display {
  display: block !important;
}

/* vertical-align: inherit;white-space:nowrap;margin-left:-50px;font-size:17px;font-weight:bold; */
.piecename {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  font-size: 21px;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .piecename {
    font-size: 15px;
    /* Ajustez la taille de la police pour les écrans plus petits si nécessaire */
    margin-bottom: 20px;
    white-space: nowrap;
    margin-left: -63px;
    /* Ajustez la marge du bas pour les écrans plus petits si nécessaire */
  }

}


.disponible {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  font-size: 21px;
  font-weight: 500;
  float: right;
  margin-left: 0px;
}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .disponible {
    /* Supprimez la flottabilité pour les écrans plus petits */
    margin-right: 0;
    /* Supprimez la marge droite pour éviter les problèmes d'alignement */
    font-size: 18px;
    /* Ajustez la taille de la police pour les écrans plus petits si nécessaire */
    margin-bottom: 20px;
    /* Ajustez la marge du bas pour les écrans plus petits si nécessaire */
  }
}

.scrollable-paragraph {

  max-height: 287px;
  overflow-y: auto;
  padding: 9px 4px 1px 23px;
  height: 288px;
  margin-top: -3px;
}

/* Default styles for larger screens */
.scrollable-paragraph {
  max-height: 287px;
  overflow-y: auto;
  padding: 9px 4px 1px 23px;
  height: 288px;
  margin-top: -3px;
}

/* Media query for mobile devices with a maximum width of 768px */
@media (max-width: 768px) {
  .scrollable-paragraph {
    max-height: none;
    /* Remove max-height to allow content to expand */
    height: auto;
    /* Let the content dictate the height */
    padding: 9px 4px 1px 23px;
    margin-top: 0;
    overflow-y: hidden;
    /* Hide vertical scrollbar on mobile */
    font-family: Arial, sans-serif;
    /* Exemple de police */
    font-size: 16px;
    /* Taille de la police */
    color: #333;
    /* Couleur du texte */
    line-height: 1.5;
    /* Hauteur de ligne pour un espacement entre les lignes adéquat */
    margin: 0;
    /* Supprime la marge par défaut du paragraphe */
    padding: 10px;
    /* Espacement interne du paragraphe */
  }
}


/* Utilisez des médias queries pour ajuster les styles en fonction de la taille de l'écran */

.cadre {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  box-shadow: -2px -2px 6px 1px rgb(0 0 0 / 20%);
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  margin-left: 1px;
  margin-top: -6px;

}

/* Styles pour les écrans de largeur maximale de 768 pixels */
@media (max-width: 768px) {
  .cadre {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0px;
    width: 243%;
    margin-left: -79px;
    padding-top: 26%;
  }
}

.label-style {
  display: block;
  font-weight: bold;
  color: black;
  /* Couleur de la police noire */
}

.button-style {
  background: #8B0000;
  color: black;
  /* Couleur de la police noire */
}

.input-black {
  color: black;
}

/* .typeP[_ngcontent-dgp-c109] {
    font-size: 8px;
    margin-bottom: 6px;
    margin-top: -3px;
    font-weight: 700;
    font-family: 'Roboto';
    margin-left: 7px;
    letter-spacing: 3px;
} */


.responsiveP {
  border: solid 1px black;
  margin: 49px 0 0px 0px;
  height: 382px;
  font-family: arial;
  box-shadow: -2px -2px 6px 1px rgb(0 0 0 / 20%);
  border: 1px solid #ccc;
}
@media (max-width: 768px) {
  .responsiveP {
    margin: 72px -88px 0px -60px;
    height: 358px;
    font-family: arial;
    box-shadow: -2px -2px 6px 1px rgb(0 0 0 / 20%);
    border: 1px solid #ccc;
  }
}