<app-navbar-carousel-home></app-navbar-carousel-home>
<div class="responsive-container">

<!-- <div class="main-container" *ngIf="Agency?.role==='promoteur-immobilieres'"	 > -->
	<div class="main-container" 	 >
		<nav class="main-menu">
			<style>
				.banner {
				  text-align: center;
				  padding: 10px;
				  background-color: #434388; /* Set your desired background color */
				  color: #fff; /* Set the text color */
				  font-size: 16px; /* Adjust the font size */
				}
			  
				.logo-container {
				  text-align: center;
				  padding: 10px;
				  border-radius: 5%;
				  overflow: hidden;
				  background-color: #fff;
				}
			  
				.logo-container img {
				  max-width: 100%;
				  height: auto;
				  border-radius: 40%;
				}
			  
				.hr {
				  width: 20px;
				  height: 20px;
				  background-color: white;
				}
			  </style>
			  
			
			<li>
				<a  [routerLink]="'/agency/' + idAgence">
					<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
	
					<span class="nav-text" >
									<p>{{NameAgency}}</p>
	
					</span>
				</a>
			  
			</li>
		   
		   <div>
			<hr>
      <hr>	<br>
			
			   <ul>
			
				<li *ngIf="idAgence">
					<a  [routerLink]="'/agency/' + idAgence">
						<i class="fa fa-home fa-2x"></i>
						<span class="nav-text">
							Page d'accueil 
						</span>
					</a>
				  
				</li>
			   <li *ngIf="!idAgence">
          <a>
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              Page d'accueil
            </span>
          </a>
         </li>
				<li class="dropdown">
					<a >
						<i class="fa fa-book fa-2x"></i>
						<span class="nav-text">Nos Produits</span>
					</a>
					<!-- <div class="dropdown-content" >
						<a *ngIf="ProjetEnCours.length > 0 || ProduitEnCours.length > 0">En cours</a>
	
						<div class="submenu" *ngFor="let project of ProjetEnCours">
	
							<a style="background-color: #1e466e59;" (click)="refreshPage()" [routerLink]="['/details', project.id]">
								{{ project.name }}
	
							</a>
						</div>
	
						<a *ngIf="ProjetDispo.length > 0">Disponible</a>
						<div class="submenu" *ngFor="let project of ProjetDispo ; index as i">
	
							<a style="background-color: #1e466e59;" (click)="refreshPage()" [routerLink]="'/details/' + project.id">
								{{ project.name }}
	
							</a>
						</div>
	
					</div> -->
					<div class="dropdown-content" >
						<!-- <a *ngIf=" ProduitEnCours?.length > 0">Produits</a> -->
	
            <div class="submenu" *ngFor="let project of biens">
              <a style="background-color: #1e466e59;" (click)="navigateAndRefresh(project)">
                  {{ project?.name }} 
              </a>
          </div>
          
						<!-- <a *ngIf="ProjetDispo.length > 0 || ProduitDispo.length > 0">Disponible</a> -->
	
					</div>
          
				</li>
				<style>
					.show-subnav {  
	    display: block;
	}
				</style>
	
				<!-- <li>
					<a routerLink="/conception/ajouterConception">
						<i class="fa fa-plus fa-2x"></i>
						<span class="nav-text">Ajouter contenu </span>
					</a>
				</li> -->
	
				<li class="dropdown">
					<a >
						<i class="fa fa-envelope fa-2x"></i>
						<span class="nav-text">Contacter nous</span>
					</a>
					
				</li>
				
        <style>
          /* Initially hide the dropdown content */
          .dropdown-content {
          
            display: none;
            position: absolute;
            background-color: #1f1e84;
            min-width: 42px;
            width: 248px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 5;
        
          }
          .dropdown-content > a {
          margin: 0px 23px;
          font-style: none;
          transform-style: none;
          color: yellow;
          }
          
          /* Show the dropdown content when the parent is hovered */
          .dropdown:hover .dropdown-content {
          display: block;
          }
          
          /* Style the dropdown options as blocks with margin */
          .dropdown-content .submenu {
          padding: 10px; /* Adjust the padding as needed */
          }
          
          .dropdown-content .submenu a {
          display: block;
          font-size: 9px;
          width: 222px;
          margin: -7px 11px;
          padding: 10px;
          text-decoration: none;
          color: white;
          background-color: rgb(10, 10, 211)e84;
          transition: background-color 0.3s;
          border: solid 1px rgb(255 255 255 / 16%);
          border-radius: 7px;
          }
          
          /* Add a little margin between the dropdown options */
          .dropdown-content .submenu a + a {
          margin-top: 5px; /* Adjust the margin as needed */
          
          }
          
          /* Add hover effect */
          .dropdown-content .submenu a {
            font-size: 12px;
            font-weight: bold;
            transition: background-color 0.2s ease, font-size 0.3s ,text-align 0.1s ease;
          }
          
          .dropdown-content .submenu a:hover {
              font-size: 13px;
            color: yellow;
            border: solid 1px gray;
            font-weight: 600;
        
          }
          
          @media only screen and (max-width: 767px) {
          
          
          .dropdown-content .submenu a:hover {
            transition: background-color 0.2s ease, font-size 0.3s ,text-align 0.1s ease; /* Add smooth transition for both background color and font size */
          
          }
          }
          </style>			
          
				
	
	
			  
			   
				<li>
					<a >
						<i class="fa fa-info-circle fa-2x"></i>
						<span class="nav-text">
							A propos
						</span>
					</a>
				  
				</li>
			 
			</ul>
		   </div>
		
			<!-- <ul class="logout">
				<li>
				   <a routerLink="conception/login">
						 <i class="fa fa-power-off fa-2x"></i>
						<span class="nav-text">
							Logout
						</span>
					</a>
				</li>  
			</ul> -->
		
		</nav>
		
	</div>
    <div class="responsive">
      <button (click)="backClicked()" type="submit" class="btn animated-border-button ">
        <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
        Retour
      </button>
    </div> <br><br>

  </div>
  <div class="px-lg-5  my-profile">

    <br>
    <!-- <div class="row flex-lg-row flex-cloumn">
      <div class="col-lg-5 " style="margin-top: 20px;">
  
        <h2 class="text-heading"
          style="font-size: 2.1rem;color: #333!important;font-family: poppins,sans-serif;font-family: system-ui;">
          {{Biens?.name}}
        </h2>
        <hr class="hrstyle">
      </div>
  
    </div> -->
    
  
  
      <mat-tab-group>
  
        <mat-tab style="background-color: #1f1e84" >
  
          <ng-template mat-tab-label>
            <span class="my-custom-class">
              {{Biens?.name}}
            </span>
          </ng-template>
  
          <br><br>
  
  
          <div class="cardx" *ngFor="let categories of Biens?.categoryList;">
            <div *ngFor="let categorie of Biens?.sous_biens;">
              <!-- <div *ngFor="let allpjs of allpj?.pieces"> -->
              <div *ngIf="categories===categorie?.category">
                <div class="card-group card-hover-over">
                  <div class="card">
                    <!-- <button class="list-inline-item badge badge-primary mr-3">DISPONIBLE</button> -->
                    <img class="card-img" src="{{categorie?.image_url}}" alt="Card image" width="390" height="259" [preview]="true">
                    
                      <div class="card-img-overlay">
                      <div class="card-body">
                        <h4 class="card-titre">{{categorie?.name}}</h4>
                        <a class="btn" [routerLink]="['/descriptionAgence_Immob', categorie?.id]">PLUS DE DÉTAILS</a>
                      </div>
                    </div>
                  </div>
                 
                </div>
                
              </div>
  
              <!-- <mat-card *ngIf="categories?.name===categorie?.category" class="example-card1"
                    [ngStyle]="{'background-image':'url(' + categorie?.image_url+ ')'}"
                    style="width:95%;background-repeat:no-repeat;">
  
                    <mat-card-actions>
                      <li class="list-inline-item badge badge-primary mr-3">DISPONIBLE</li>
                    </mat-card-actions>
                    <br><br><br>
                    <mat-card-content>
                      <p class="descriptionVilla">
                        {{categorie?.name}} | <br>
                        Prix: Contactez-nous
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <a [routerLink]="['/descriptionAgence_Immob', categorie?.id]"
                        class="list-inline-item badge badge-orange mr-2">PLUS DE DÉTAILS</a>
                    </mat-card-actions>
                  </mat-card> -->
                  <br>
                  
            </div>
          </div>
          
          
          <!-- </div> -->
         
  
  
  
        </mat-tab>
        
      </mat-tab-group>
      
  </div>

  <br><br>
  <!-- <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Demander un devis</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="FormData" >
            <div>
                <div>
                    <label for="email" class="textInput">Email</label>
                    <input class="form-control inputDevis" type="email" name="email" formControlName="Email"
                        placeholder="Votre Email">
                </div><br>
                <div>
                    <label for="Nom" class="textInput">Téléphone</label>
                    <input class="form-control inputDevis" type="text" name="Nom" formControlName="Nom"
                        placeholder="Téléphone">
                </div> <br>
            </div>
            <label for="exampleFormControlTextarea1" class="textInput">Préciser Votre Demande</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
                formControlName="description" rows="3"></textarea>
            
            <div class="modal-footer valider">
                <div *ngFor="let allAgence of AllAgency">
                        <div *ngIf="Biens?.agencyName===allAgence?.name">
                        
                                <a mat-raised-button class="btnValider"
                                href="mailto:{{allAgence?.email}}?subject=Sujet&body=num:{{numText}} Message:{{contactText}}"
                                >Valider</a>
                                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
                                    Close
                                </button>
                            
                   </div>
               </div>
              
               
            </div>
  
        </form>
    </div>
  </ng-template> -->
  
      <!-- <button class="btn btnDevis" (click)="openVerticallyCentered(content)" >
       
        <span><i class="fa fa-file-archive-o" aria-hidden="true"></i>&nbsp; Contactez-nous</span>
      
      </button> -->
  
  
  
  
  
  <!-- <div class="gradient-border" id="box" >
    En cour de construction &nbsp; <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  
  </div> -->
  <br>
  <br>
  <br>
  <div class="tunsian-flag-img-background " style="height: -170; ">
  
  
    <div class="btn-toolbar " role="toolbar " aria-label="Toolbar with button groups ">
      <div class="btn-group mr-2 " role="group " aria-label="First group ">
        <a class="btn-hover-flag-img text-center  " href="promoteurs-tunis " aria-selected="true "
          style="line-height: 1.5;">
          <span>Promoteurs</span>
          <br>
          <span>Immobiliers</span>
        </a>
      </div>
      <div class="btn-group mr-2 " role="group " aria-label="Second group ">
        <a class="btn-hover-flag-img text-center  " href="equipement " aria-selected="true " style="line-height: 1.5;">
          <span>Materiaux</span>
          <br>
          <span>de construction</span>
        </a>
      </div>
  
  
      <div class="btn-group mr-2 " role="group " aria-label="Third group ">
        <a class="btn-hover-flag-img text-center" href="agence-immob-tunis" aria-selected="true "
          style="line-height: 1.5;">
          <span>Agences</span>
          <br>
          <span>Immobilières</span>
        </a>
      </div>
      <div class="btn-group mr-2 " role="group " aria-label="Third group ">
        <a class="btn-hover-flag-img text-center  " href="meilleurs-bien-sousse" aria-selected="true " style="line-height: 1.5;">
          <span>Selection Des</span>
          <br>
          <span>Meilleurs Biens</span>
        </a>
      </div>
      <div class="btn-group mr-2 " role="group " aria-label="Fourth group ">
        <a class="btn-hover-flag-img text-center" href="agences-de-services" aria-selected="true "
          style="line-height: 1.5;">
          <span>Décoration</span>
          <br>
          <span> Services et Arts</span>
  
        </a>
      </div>
    </div>
  </div>
  
  <br> <br><br><br>
 
