
<router-outlet></router-outlet>



<app-footer
  *ngIf="router.url !=='/conception/registre' && router.url !=='/conception/login' && router.url !=='/' "></app-footer>
<!-- *ngIf="displayLodingIndicator"  -->
<!-- <div class="spinner1"    >
    <img src="../assets/images/tunisieimmob/logo.png" alt="logo-plateforme" width="100" height="70">
</div>  -->
<div class="sk-chase" *ngIf="loading$ | async">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>
<!-- <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner><app-footer></app-footer> -->
<!-- <div class="spinner" >
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div> -->