<app-navbar-carousel-promo></app-navbar-carousel-promo>

<app-sidebar></app-sidebar>
<div>
    <div class="responsive">

        <button type="submit" class="animated-border-button retour" routerLink="/home">
            <i class="fa fa-home" aria-hidden="true"></i> Page d'Accueil
        </button>
        <!-- <div class="responsive-container" style="margin: 0 -25px;" >
            <div class="responsive" style="        display: flex;
            margin: 9px 0;
            flex-direction: column;">
            </div>
            <div  class="allAgSearch ">
                <p-listbox [options]="AgenciesTunis" [(ngModel)]="searchText" [metaKeySelection]="false"
                    [checkbox]="false" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'50px'}" [style]="{'width':'20rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item res_Search" ng>
                            <img src="{{country?.logo_url}}" width="30px" />&nbsp;&nbsp;
                            <div [routerLink]="['/agency', country?.id]">{{country?.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div> 
        </div> -->
    </div>

</div>

<br> <br><br> <br><br>
<mat-tab-group mat-align-tabs="center">

    <mat-tab>
        <ng-template mat-tab-label>

            <button type="button" class="btn  btn-round All">Tunis</button>


        </ng-template><br><br>

        <div class="tab-pane tab-pane-parent fade show active px-0" id="pills-home" role="tabpanel"
            aria-labelledby="pills-home-tab" style="padding: 5px; overflow: hidden; ">
            <p-carousel [value]="AgenciesTunis" [numVisible]="5" [numScroll]="5" [circular]="true"
                [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">

                <ng-template pTemplate="header">
                    <div class="row">
                        <div class="col-md-6 title">

                            <h2 class="text-heading"
                                style="font-size: 2.1rem;color: #333!important;font-family: poppins,sans-serif;font-family: system-ui;">
                                Tunis et banlieue
                            </h2>
                            <hr class="hrstyle">
                            <p class="mb-md-0 mb-6"
                                style="color:#696969;font-size:.900rem;font-family: poppins,sans-serif;font-family: system-ui;">
                                Toute la liste des agences immobiliers dans cette région sont
                                agrées
                            </p>
                        </div>

                    </div>
                </ng-template>
                <ng-template let-Agency | searchPipe : search pTemplate="item">
                    <div class="product-item">
                        <div class="product-item-content">
                            <div class="p-mb-3"></div>
                            <div>
                                <div class="card shadow-hover-1 border-gray" data-animate="fadeInUp">
                                    <a [routerLink]="['/agency', Agency.id]" class="text-dark hover-primary"
                                        (click)="clickMe(Agency.id)">
                                        <div class="css">
                                            <div class="hover-change-image bg-hover-overlay rounded-lg card-img-top">
                                                <img src="{{Agency.logo_url}}" alt="Responsive image"
                                                    style="height: 100%; width: 100%">
                                                <div class="card-img-overlay p-2 d-flex flex-column">
                                                    <div>
                                                        <span class="badge badge-orange mr-2">{{Agency.region}}</span>
                                                        <span class="badge badge-primary">Tunisia</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </a>
                                    <div class="card-body pt-3 border-dark">
                                        <h2 class="card-title fs-16 lh-2 mb-0">
                                            <a routerLink="agency" class="text-dark hover-primary">
                                                {{ Agency.name }}.
                                            </a>
                                        </h2>
                                        <p class="card-text font-weight-500 text-gray-light mb-2">
                                            {{ Agency.adresse }}
                                        </p>
                                    </div>
                                    <div
                                        class="card-footer border-gray bg-transparent d-flex justify-content-between align-items-center py-3">
                                        <p style="font-size: 13px;
                font-weight: 600;
                margin-top: 10px;text-transform: capitalize;">{{ Agency.region }}</p>
                                        <ul class="list-inline mb-0">
                                            <ul class="social-networks bounce">

                                                <li>
                                                    <a href="{{Agency.facebook_url}}" class="icon-facebook">
                                                        Facebook
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{Agency.instagram_url}}" class="icon-instagram">
                                                        Instagram
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{Agency.linkedlin_url}}" class="icon-linkedin">
                                                        LinkedIn
                                                    </a>
                                                </li>
                                            </ul>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </p-carousel>
        </div>


    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>

            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-sousse">Sousse</button>

        </ng-template><br><br>



    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-monastir">Monastir</button>


        </ng-template><br><br>




    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-mahdia">Mahdia</button>
        </ng-template><br><br>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-sfax">Sfax</button>
        </ng-template><br><br>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-nabeul">Nabeul</button>
        </ng-template><br><br>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-bizerte">Bizerte</button>
        </ng-template><br><br>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-tabarka">Tabarka</button>
        </ng-template><br><br>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button type="button" class="btn  btn-round All" routerLink="/promoteurs-djerba">Djerba</button>
        </ng-template><br><br>
    </mat-tab>

</mat-tab-group>

<div class="tunsian-flag-img-background" style="height: -170">
    <div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">
        <div class="btn-group mr-2" role="group " aria-label="First group ">
            <a class="btn-hover-flag-img text-center " href="equipement " aria-selected="true "
                style="line-height: 1.5">
                <span>Materiaux</span>
                <br>
                <span>de construction</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Third group ">
            <a class="btn-hover-flag-img text-center " href="agence-immob-tunis" aria-selected="true "
                style="line-height: 1.5">
                <span>Agences</span>
                <br>
                <span>Immobilières</span>
            </a>
        </div>
        <div class="btn-group mr-2 " role="group " aria-label="Third group ">
            <a class="btn-hover-flag-img text-center  " href="meilleurs-bien-sousse" aria-selected="true "
                style="line-height: 1.5;">
                <span>Selection Des</span>
                <br>
                <span>Meilleurs Biens</span>
            </a>
        </div>
        <div class="btn-group mr-2" role="group " aria-label="Fourth group ">
            <a class="btn-hover-flag-img text-center " href="agences-de-services" aria-selected="true "
                style="line-height: 1.5">
                <span>Décoration</span>
                <br>
                <span> Services et Arts</span>
            </a>
        </div>
    </div>
</div>

<br><br><br>