<app-navbar-carousel-home></app-navbar-carousel-home>
<app-sidebar></app-sidebar>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<main id="content">

	<br>
	<div class="responsive-search">

		<div class="responsive">

			<button type="submit" class="animated-border-button retour" routerLink="/home">
				<i class="fa fa-home" aria-hidden="true"></i> Page d'Accueil
			</button>
		</div>
		<!-- <div class="allAgSearch">

			<form class="form-search">
				<div style="width: 30%;margin-left:-4%">
					<form class="example-form">
						<mat-form-field class="example-full-width">
							<span matPrefix> </span>
							<input type="text" [(ngModel)]="searchText" matInput placeholder="Search" name="search"
								(input)="Search()">
							<button matSuffix mat-button>
								<mat-icon> search</mat-icon>
							</button>
						</mat-form-field>
					</form>
				</div>
			</form>
			<div *ngIf="searchText!==''" style="height: 50px;">

				<mat-select [(ngModel)]="allAgencies.name" name="name">
					<mat-option *ngFor="let Agencie of allAgencies" [value]="Agencie.name">
						<div [routerLink]="['/agency', Agencie?.id]">{{Agencie.name}}</div>
					</mat-option>
				</mat-select>
			</div>

		</div> -->
	</div>


	<mat-tab-group mat-align-tabs="center">

		<mat-tab>
			<ng-template mat-tab-label>
				<button type="button" class="btn btn-round All">Chauffage</button>
			</ng-template><br>

			<div class="tab-pane tab-pane-parent fade show active px-0" id="pills-home" role="tabpanel"
				aria-labelledby="pills-home-tab" style="padding: 5px;overflow: hidden;">
				<p-carousel [value]="MateriauxChauffage	" [numVisible]="5" [numScroll]="5" [circular]="true"
					[autoplayInterval]="7000" [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">

					<ng-template pTemplate="header">
						<div class="row">
							<div class="col-md-6 title">
								<h2 class="text-heading"
									style="font-size: 2.1rem;color: #333!important;font-family: poppins,sans-serif;font-family: system-ui;">
									Chauffage
								</h2>
								<hr class="hrstyle">
								<p class="mb-md-0 mb-6"
									style="color:#696969;font-size:.900rem;font-family: poppins,sans-serif;font-family: system-ui;">
									Toute la liste des sociétés de chauffage et de climatisation sont agrées

								</p>
							</div>
							<!-- <div class="responsive-search" >
										<form class="form-search">
										  <div class="input-append" style="margin: 15px;">
											<button type="submit" class="btn  btn-round search">
											  Rechercher</button>
											<input class="form-control btn-round mr-sm-2 inputSearch"
											
											type="text" placeholder="rechercher d'ici ..." name="search" [(ngModel)]="searchText" aria-label="Search"
											(input)="Search2()" >
										   
										  </div>
										</form > 
								  
								  </div> -->
						</div>
					</ng-template>
					<ng-template let-Agency pTemplate="item">
						<div class="product-item">
							<div class="product-item-content">
								<div class="p-mb-3"></div>
								<div>
									<div class="card shadow-hover-1 border-gray" data-animate="fadeInUp">
										<a [routerLink]="['/agency', Agency.id]" class="text-dark hover-primary">
											<div class="css">
												<div
													class="hover-change-image bg-hover-overlay rounded-lg card-img-top">
													<img src="{{ Agency.logo_url }}" alt="Responsive image"
														style="height: 100%; width: 100%">
													<div class="card-img-overlay p-2 d-flex flex-column">
														<div>
															<span
																class="badge badge-orange mr-2">{{Agency.region}}</span>
															<span class="badge badge-primary">Tunisia</span>
														</div>
													</div>
												</div>
											</div>

										</a>
										<div class="card-body pt-3 border-dark">
											<h2 class="card-title fs-16 lh-2 mb-0" style="font-size: 15px;">
												<a routerLink="agency" class="text-dark hover-primary">
													{{ Agency.name }}.
												</a>
											</h2>
											<p class="card-text font-weight-500 text-gray-light mb-2"
												style="color:#9b9b9b!important;font-size:13px;">
												{{ Agency.adresse }}
											</p>
										</div>
										<div
											class="card-footer border-gray bg-transparent d-flex justify-content-between align-items-center py-3">
											<p style="font-size: 13px;
							font-weight: 600;
							margin-top: 10px;text-transform: capitalize;">{{ Agency.region }}</p>
											<ul class="list-inline mb-0">
												<ul class="social-networks bounce">
													<li>
														<a href="{{Agency.twitter_url}}" class="icon-twitter">
															Twitter
														</a>
													</li>
													<li>
														<a href="{{Agency.facebook_url}}" class="icon-facebook">
															Facebook
														</a>
													</li>
													<li>
														<a href="{{Agency.instagram_url}}" class="icon-instagram">
															Instagram
														</a>
													</li>
													<li>
														<a href="{{Agency.linkedlin_url}}" class="icon-linkedin">
															LinkedIn
														</a>
													</li>
												</ul>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</div>
					</ng-template>

				</p-carousel>
			</div>

		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/equipement">Equipement</button>

			</ng-template><br>

		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/automatisme">Automatisme</button>



			</ng-template><br>



		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/energie">Energie</button>

			</ng-template><br>

		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/meuble">Meuble</button>



			</ng-template><br>

		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/protection">Protection</button>

			</ng-template><br>


		</mat-tab>
		<mat-tab>

			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/menuiserie">Menuiserie</button>

			</ng-template><br>



		</mat-tab>
		<mat-tab>

			<ng-template mat-tab-label>

				<button type="button" class="btn  btn-round All" routerLink="/peinture">Peinture et décoration </button>

			</ng-template> <br>


		</mat-tab>

	</mat-tab-group> <br><br>

	<div class="tunsian-flag-img-background" style="height:-170;">
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups ">
			<div class="btn-group mr-2 " role="group " aria-label="First group ">
				<a class="btn-hover-flag-img text-center  " href="promoteurs-tunis" aria-selected="true "
					style="line-height: 1.5;">
					<span>promoteurs</span>
					<br>
					<span>Immobilièrs</span>
				</a>
			</div>

			<div class="btn-group mr-2 " role="group " aria-label="Third group ">
				<a class="btn-hover-flag-img text-center  " href="agence-immob-tunis" aria-selected="true "
					style="line-height: 1.5;">
					<span>Agences</span>
					<br>
					<span>Immobilières</span>
				</a>
			</div>
			<div class="btn-group mr-2 " role="group " aria-label="Third group ">
				<a class="btn-hover-flag-img text-center  " href="meilleurs-bien-sousse" aria-selected="true " style="line-height: 1.5;">
					<span>Selection Des</span>
					<br>
					<span>Meilleurs Biens</span>
				</a>
			</div>
			<div class="btn-group mr-2 " role="group " aria-label="Fourth group ">
				<a class="btn-hover-flag-img text-center " href="agences-de-services" aria-selected="true "
					style="line-height: 1.5;">
					<span>Décoration</span>
					<br>
					<span> Services et Arts</span>
				</a>
			</div>
		</div>
	</div> <br><br><br>
	
	<br>
</main>