<div class="container">
    <div class="responsive-container">
        <div class="responsive">
            <button (click)="backClicked()" type="submit" class="btn animated-border-button retour">
                <i class="fa fa-home" aria-hidden="true"></i>
                Retour
            </button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <div class="displayCard">
            <p-card class="p-card1">
                <p class="textInfoX">{{SousCategorie?.name}}</p>
            </p-card> &nbsp;&nbsp;
            <p-card class="p-card2">
                <p class="textInfoX"> PRIX: A CONSULTER</p>
            </p-card>&nbsp;&nbsp;
        </div>

    </div>

    <div classe [ngClass]="{'block-display': !isDesktop}" style="display: flex;">
        <!-- <p-image  [ngClass]="{'responsive-image': isDesktop}" class=" cadre-noir image"  src="{{SousCategorie?.image_url}}" alt="Image"  

        [preview]="true">
     
        </p-image> -->
        <style>
            .container1 {
                position: relative;
                display: inline-block;
            }

            .cadre-noir {
                /* Your image styles go here */
            }

            .button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 20px;
                background-color: #3498db;
                color: #fff;
                border: none;
                cursor: pointer;
            }
      
            
            @media (max-width: 768px) {
  .button {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;

  }
}
            @media (max-width: 768px) {
  .modal.show {
      overflow-x: hidden; /* Hide horizontal overflow */
  }
}
        </style>
        <div class="container1">
            <img class="cadre-noir image" src="{{SousCategorie?.image_url}}" alt="" style="max-width: 646px;">
            <button style="    border-radius: 18px;
            background-color: #6a777f33;" class="button" href="#galleryModal" data-large-src="https://unsplash.it/1200/768.jpg?image=253"
                data-toggle="modal">
                <i style="font-size: 25px;" class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
        <div class="mb-0 lh-214 cadre-noir">
            <h3 class="titreDesc">Description</h3>
            <div *ngIf="SousCategorie?.description === null">
              <p class="scrollable-paragraph paragrapheDesc">Description manquant!</p>
            </div>
            <div *ngIf="SousCategorie?.description !== null">
              <p class="scrollable-paragraph mb-0 lh-214 paragrapheDesc">
                <ng-container *ngIf="SousCategorie?.description">
                  <ng-container *ngFor="let sentence of SousCategorie?.description.split('.')">
                    {{ sentence.trim() }}.<hr style="    margin: 4px 0;
                    color: inherit;
                    border: 0;
                    border-top: var(--bs-border-width) solid;
                    opacity: 0;
                ">
                  </ng-container>
                </ng-container>
              </p>
            </div>
          </div>
    </div>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="    width: 90%;top:170px;    margin-left: 18px;
            margin-top: 54px;">
                <div class="modal-header">
                    <h3 class="text-center mb-0"></h3>
                    <button type="button" class="close float-right" aria-label="Close" data-dismiss="modal">
                      <span aria-hidden="true">&#xD7;</span>
                    </button>
                </div>
                <div class="modal-body p-0 text-center bg-alt">
                    <img src="{{SousCategorie?.image_url}}" id="galleryImage" class="loaded-image mx-auto img-fluid">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script>
            $('#galleryModal').on('show.bs.modal', function (e) {
       $('#galleryImage').attr("src",$(e.relatedTarget).data("large-src"));
    });
    </script>
    <br>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" style="font-weight: 600;">Demander un devis</h4>
            <a class="pi pi-times closeButton" (click)="modal.dismiss('Cross click')"></a>
        </div>
        <div class="modal-body">
            <form>
                <div class="card cardModal">
                    <div>
                        <label for="email" class="textInput">Email</label>
                        <input class="form-control inputDevis" type="email" name="email" placeholder="Votre Email">
                    </div><br>
                    <div>
                        <label for="Nom" class="textInput">Téléphone</label>
                        <input class="form-control inputDevis" type="text" [(ngModule)]="numText" name="Nom"
                            placeholder="Téléphone">
                    </div> <br>
                    <label for="exampleFormControlTextarea1" class="textInput">Préciser Votre Demande</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
                        rows="3"></textarea>
                    <br>
                    <!-- <div *ngFor="let agencies of Agency">
                        <div *ngFor="let categorie of agencies?.produits">
                            <div *ngFor="let categories of categorie?.categoryList"> -->
                    <!-- *ngIf="agencies?.name===categorie?.agencyName && categories===SousCategorie?.category && categorie?.emailCommercial===null" -->
                    <div class="example-button-row">
                        <a mat-raised-button style="border-color: #8B0000;
                                    background-color: #8B0000; color:aliceblue"
                            href="mailto:dcgeneral@gmail.com?subject=Sujet&body=num:{{numText}} Message:{{contactText}}">Valider</a>
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
                            Close
                        </button>
                        <!-- </div>
                            </div>
                        </div> -->

                    </div>

                </div>

                <div class="modal-footer valider">

                </div>
            </form>
        </div>
    </ng-template>
    <button class="btn btnDevis" (click)="openVerticallyCentered(content)">
        <span><i class="fa fa-file-archive-o" aria-hidden="true"></i>&nbsp; Demander un devis</span>
    </button>
</div>
<br><br>
<br><br>
<div class="tunsian-flag-img-background " style="height: -170; ">

    <div class="btn-toolbar " role="toolbar " aria-label="Toolbar with button groups ">
        <div class="btn-group mr-2 " role="group " aria-label="First group ">
            <a class="btn-hover-flag-img text-center  " href="promoteurs-tunis " aria-selected="true "
                style="line-height: 1.5;"><span>Promoteurs </span><br><span> Immobiliers </span></a>
        </div>
        <div class="btn-group mr-2 " role="group " aria-label="Second group ">
            <a class="btn-hover-flag-img text-center " href="equipement " aria-selected="true "
                style="line-height: 1.5;"><span>Materiaux </span><br><span> de construction </span></a>
        </div>
        <div class="btn-group mr-2 " role="group " aria-label="Third group ">
            <a class="btn-hover-flag-img text-center  " href="agence-immob-tunis" aria-selected="true "
                style="line-height: 1.5;"><span>Agences </span><br><span> Immobilières</span></a>
        </div>
        <div class="btn-group mr-2 " role="group " aria-label="Third group ">
            <a class="btn-hover-flag-img text-center  " aria-selected="true " href="meilleurs-bien-sousse"
                style="line-height: 1.5;">
                <span>Selection Des</span>
                <br>
                <span>Meilleurs Biens</span>
            </a>
        </div>
        <div class="btn-group mr-2 " role="group " aria-label="Fourth group ">
            <a class="btn-hover-flag-img text-center" href="agences-de-services" aria-selected="true "
                style="line-height: 1.5;"> <span>COMMERCES</span><br> <span> Services et Arts</span> </a>
        </div>
    </div>
</div>
