<app-navbar-carousel></app-navbar-carousel>
<div class="container">

	<!-- <div class="main-container" *ngIf="Agency?.role==='promoteur-immobilieres'"	 > -->

	<!-- <div class="main-container" *ngIf="Agency?.role==='promoteur-immobilieres'"	 > -->
	<div class="main-container">
		<nav class="main-menu">
			<style>
				.banner {
					text-align: center;
					padding: 10px;
					background-color: #434388;
					/* Set your desired background color */
					color: #fff;
					/* Set the text color */
					font-size: 16px;
					/* Adjust the font size */
				}

				.logo-container {
					text-align: center;
					padding: 10px;
					border-radius: 5%;
					overflow: hidden;
					background-color: #fff;
				}

				.logo-container img {
					max-width: 100%;
					height: auto;
					border-radius: 40%;
				}

				.hr {
					width: 20px;
					height: 20px;
					background-color: white;
				}
			</style>


			<li>
				<a>
					<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>


					<span class="nav-text">
						{{agenceName}}

					</span>
				</a>

			</li>

			<div>
				<hr>
				<hr> <br>

				<ul>


					<li>
						<a [routerLink]="'/agence-immo/' + idAgence">
							<i class="fa fa-home fa-2x"></i>
							<span class="nav-text">
								Page d'accueil
							</span>
						</a>
					</li>
					<li class="dropdown">
						<a>
							<i class="fa fa-book fa-2x"></i>
							<span class="nav-text">Nos Biens</span>
						</a>
						<!-- <div class="dropdown-content" >
						<a *ngIf="ProjetEnCours.length > 0 || ProduitEnCours.length > 0">En cours</a>
	
						<div class="submenu" *ngFor="let project of ProjetEnCours">
	
							<a style="background-color: #1e466e59;" (click)="refreshPage()" [routerLink]="['/details', project.id]">
								{{ project.name }}
	
							</a>
						</div>
	
						<a *ngIf="ProjetDispo.length > 0">Disponible</a>
						<div class="submenu" *ngFor="let project of ProjetDispo ; index as i">
	
							<a style="background-color: #1e466e59;" (click)="refreshPage()" [routerLink]="'/details/' + project.id">
								{{ project.name }}
	
							</a>
						</div>
	
					</div> -->
						<div class="dropdown-content">
							<!-- <a *ngIf=" ProduitEnCours?.length > 0">Produits</a> -->

							<div class="submenu" *ngFor="let project of biens">

								<a style="background-color: #1e466e59;" (click)="navigateAndRefresh(project)">
									{{ project?.name }}

								</a>
							</div>
							<!-- <a *ngIf="ProjetDispo.length > 0 || ProduitDispo.length > 0">Disponible</a> -->

						</div>

					</li>
					<style>
						.show-subnav {
							display: block;
						}
					</style>

					<!-- <li>
					<a routerLink="/conception/ajouterConception">
						<i class="fa fa-plus fa-2x"></i>
						<span class="nav-text">Ajouter contenu </span>
					</a>
				</li> -->

					<li class="dropdown">
						<a (click)="openModal1(content)">
							<i class="fa fa-envelope fa-2x"></i>
							<span class="nav-text">Contacter nous</span>
						</a>

					</li>

					<style>
						/* Initially hide the dropdown content */
						.dropdown-content {

							display: none;
							position: absolute;
							background-color: #206229;
							min-width: 42px;
							width: 248px;
							box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
							z-index: 5;

						}

						.dropdown-content>a {
							margin: 0px 23px;
							font-style: none;
							transform-style: none;
							color: yellow;
						}

						/* Show the dropdown content when the parent is hovered */
						.dropdown:hover .dropdown-content {
							display: block;
						}

						/* Style the dropdown options as blocks with margin */
						.dropdown-content .submenu {
							padding: 10px;
							/* Adjust the padding as needed */
						}

						.dropdown-content .submenu a {
							display: block;
							font-size: 9px;
							width: 222px;
							margin: -7px 11px;
							padding: 10px;
							text-decoration: none;
							color: white;
							background-color: rgb(10, 10, 211)e84;
							transition: background-color 0.3s;
							border: solid 1px rgb(255 255 255 / 16%);
							border-radius: 7px;
						}

						/* Add a little margin between the dropdown options */
						.dropdown-content .submenu a+a {
							margin-top: 5px;
							/* Adjust the margin as needed */

						}

						/* Add hover effect */
						.dropdown-content .submenu a {
							font-size: 12px;
							font-weight: bold;
							transition: background-color 0.2s ease, font-size 0.3s, text-align 0.1s ease;
						}

						.dropdown-content .submenu a:hover {
							font-size: 13px;
							color: yellow;
							border: solid 1px gray;
							font-weight: 600;

						}

						@media only screen and (max-width: 767px) {


							.dropdown-content .submenu a:hover {
								transition: background-color 0.2s ease, font-size 0.3s, text-align 0.1s ease;
								/* Add smooth transition for both background color and font size */

							}
						}
					</style>






					<li>
						<a (click)="showMaximizableDialog()">
							<i class="fa fa-info-circle fa-2x"></i>
							<span class="nav-text">
								A propos
							</span>
						</a>

					</li>

				</ul>
			</div>

			<!-- <ul class="logout">
				<li>
				   <a routerLink="conception/login">
						 <i class="fa fa-power-off fa-2x"></i>
						<span class="nav-text">
							Logout
						</span>
					</a>
				</li>  
			</ul> -->

		</nav>

	</div>












































































































































































































































































	<main id="content" class="bg-patten-03">
		<div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10 my-profile">
			<div class="collapse-tabs new-property-step" style="margin-left: 30px;">
				<div class="container updateMenu">
					<button type="submit" class="animated-border-button  " (click)=" backClicked()">
						<!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
						Retour
					</button>


					<br> <br><br><br><br>

					<div class="displayCard" id="middleSection">

						<p-card class="p-card2" style="text-align: center;">
							<div class="iconText  ">
								<!-- <i class="fas fa-star" style="font-size:20px;color:#ffe233;"></i> -->

								<p class="textInfo py-2">RESPONSABLE COMMERCIAL</p>

							</div>

						</p-card>
						&nbsp;&nbsp;


						<p-card class="p-card2">
							<div class="iconText">
								<!-- <i class="fas fa-award" style="font-size:20px;color:#ffe233;"></i> -->
								<p class="textInfo py-2  borderStyle">Tél 1: 25 245 545</p>
							</div>

						</p-card>
						&nbsp;&nbsp;
						<p-card class="p-card2">
							<div class="iconText ">
								<!-- <i class="fas fa-solid fa-calculator" style="font-size:20px;color:#ffe233;"></i> -->
								<p class="textInfo py-2 borderStyle">Tél 2: 25 245 545</p>
							</div>
							<p-dialog [(visible)]="displayMaximizable1" [modal]="true" [maximizable]="true"
								[baseZIndex]="10000" [draggable]="false" [resizable]="false">
								<div class="modal-header" style="cursor:default;">
									<img src="../../assets/images/banque/Logo_HABITAT.jpg" alt="Logo_TIJARI"
										width="30%;">
									<h4 class="modal-title titleModal">Obtenir une offre de financement</h4>
								</div>
								<div class="modal-body">

									<div class="card cardModal">
										<div class="modalInputBlock1">
											<span class="p-float-label">
												<input type="text" id="Votre Email" pInputText />
												<label for="Votre Email">Votre Email</label>
											</span>

											&nbsp;
											<p-dropdown [options]="durees" placeholder="Durée" optionLabel="name"
												[showClear]="true"></p-dropdown>
										</div>
										<br>
										<label for="exampleFormControlTextarea1"
											class="textInput">Autofinancement</label>
										<textarea class="form-control" id="exampleFormControlTextarea1"
											name="description" formControlName="description" rows="3"></textarea>
										<br>
									</div>
									<div class="card cardModal">

										<div class="p-fluid p-grid">
											<div class="p-field p-col-12 ">
												<span class="p-float-label">
													<input type="text" id="Votre Nom" pInputText />
													<label for="Votre Nom">Votre Nom</label>
												</span>
											</div>
										</div>
										<br>
										<div class="modalInputBlock1">
											<span class="p-float-label">
												<input type="text" id="Votre adresse email" pInputText
													[(ngModel)]="contactText" />
												<label for="Votre adresse email">Votre adresse email</label>
											</span>
											&nbsp;
											<span class="p-float-label">
												<input type="text" id="Votre Téléphone" pInputText />
												<label for="Votre Téléphone">Votre Téléphone</label>
											</span>
										</div> <br>

										<div class="p-fluid p-grid">
											<div class="p-field p-col-12 ">
												<span class="p-float-label">
													<input type="text" id="Votre Activité" pInputText />
													<label for="Votre Activité">Votre Activité</label>
												</span>
											</div>
										</div><br>
										<div class="p-fluid p-grid">
											<div class="p-field p-col-12 ">
												<span class="p-float-label">
													<input type="text" id="Votre Ville" pInputText />
													<label for="Votre Ville">Votre Ville</label>
												</span>
											</div>
										</div>

										<br>
										<p class="politique">En validant ce formulaire, vous autorisez l'entreprise à
											recevoir vos informations et á vous contacter,
											et vous acceptez <span style="text-decoration: underline;">la politique de
												protection des données personnelles</span> </p>
									</div>
									<div class="modal-footer valider">

										<!-- <p-button href="mailto:relation.client@attijaribank.com.tn" icon="pi pi-check" label="Contacter" class="p-button-text">
										
									</p-button> -->
										<a class="contacterBtn"
											href="mailto:contact@bhbank.tn?subject=Obtenir une offre de financement&body={{contactText}}">
											<i class="pi pi-check">&nbsp;</i>Contacter</a>
										<a href="" class="fermerBtn" icon="pi pi-times"
											(click)="displayMaximizable1=false"><i
												class="pi pi-times">&nbsp;</i>Fermer</a>
									</div>
								</div>

							</p-dialog>
						</p-card>
						&nbsp;&nbsp;
						<!-- <p-card class="p-card4">
						<div class="iconText">
							<i class="fas fa-light fa-clock" style="font-size:20px;color:#ffe233;"></i>
							<p class="textInfo">Livraison Dans Les Délais</p>
						</div>
					</p-card> -->
					</div>
					<!-- <div style="display:block;" class="marg">
					<h2 class="fs-35 font-weight-600 lh-15 text-heading "
						style="    max-width: 84%;color: black;font-size: 12px;font-weight: bold;">
						{{Projet?.name}}
					</h2>
					<div class="d-sm-flex justify-content-sm-between text-heading">
						<div>

							<p class="mb-0 " style="color: #858585;font-size: 14px;">
								<mat-icon style="color: #858585;font-size: 16px;">location_on</mat-icon>
								{{Projet?.adresse}}
							</p>
						</div>
					</div>
				</div> -->


					<div class="containerText ">

						<div class="title"> {{sousBiens?.name}}
						</div>
						<div class="description">
							<!-- <mat-icon style="color: #858585;font-size: 16px;">location_on</mat-icon> -->
							{{agenceName}}
						</div>
					</div>


					<p-galleria [value]="sousBiens?.imagesList" [numScroll]="1" [responsiveOptions]="responsiveOptions"
						[containerStyle]="{'min-width': '100%'}" [numVisible]="5" thumbnailsPosition="bottom">

						<ng-template pTemplate="item" let-item>
							<br>
							<img [src]="item" [src]="item" (click)="openImageInDialog(item)" class="responsive-image">
							<style>
								.responsive-image {
									display: block;
								}

								@media (max-width: 768px) {

									/* For mobile devices */
									.responsive-image {
										width: 100%;
									}
								}

								@media (min-width: 769px) {

									/* For web */
									.responsive-image {
										width: 80%;
									}
								}
							</style>
						</ng-template>

						<ng-template pTemplate="thumbnail" style="color:rgb(255, 240, 240) ;" let-item>
							<div class="grid grid-nogutter justify-content-center">
								<img [src]="item" class="taill-galery">

							</div>
						</ng-template>


					</p-galleria>



					<!-- Add a hidden dialog for displaying the image in full screen -->
					<p-dialog header="Aperçu d'image" [(visible)]="displayDialog" [modal]="true" [responsive]="true"
						[contentStyle]="{'min-width': '100%','overflow': 'visible'}">

						<img [src]="selectedImage" style="width: 100%;">
					</p-dialog>


					<!-- <div class="responsable py-4">
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">supervised_user_circle</mat-icon>
							<h1 class="textResponsable"> <span>RESPONSABLE COMMERCIAL </span> &nbsp; </h1>
						</button>&nbsp;&nbsp;&nbsp;
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">perm_phone_msg</mat-icon>
							<h1 class="textResponsable"><span>Tél 1:</span> &nbsp; {{Bien?.phone_number}}</h1>
						</button>&nbsp;&nbsp;&nbsp;
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">perm_phone_msg</mat-icon>
							<h1 class="textResponsable">Tél 2: &nbsp; {{Bien?.phone_number2}}</h1>
						</button>
					</div> -->


					<!-- <div *ngFor="let agence of images">

					<div class="responsable" *ngIf="agence.name===Projet?.agencyName && Projet?.numCommercial===null">
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">supervised_user_circle</mat-icon>
							<h1 class="textResponsable"> <span>Responsable commercial</span> &nbsp; </h1>
						</button>&nbsp;&nbsp;&nbsp;
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">perm_phone_msg</mat-icon>
							<h1 class="textResponsable"><span>Tél:</span> &nbsp; {{agence?.phone_number}}</h1>
						</button>&nbsp;&nbsp;&nbsp;
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">alternate_email</mat-icon>
							<h1 class="textResponsable"><span>Email:</span> &nbsp; {{agence?.email}}</h1>
						</button>
					</div>
				</div> -->
					<p></p>
					<br>
					<div class="row" style="    --bs-gutter-x: 1.5rem;
				--bs-gutter-y: 0;
				display: flex;
				margin-top: calc(-1 * var(--bs-gutter-y));
				margin-right: calc(-.5 * var(--bs-gutter-x));
				margin-left: calc(-.5 * var(--bs-gutter-x));
				flex-direction: row;">
						<article class="col-lg-6">

							<section class="pb-8 rounded-lg">
								<div class="ulDetails">
									<ul class="list-inline d-sm-flex align-items-sm-center mb-2 details-margin"
										style="margin-top: 7px;">
										<li class="list-inline-item badge badge-orange mr-2" style="font-size: 13px;">
											{{agenceName}}</li>


										<!-- <li class="list-inline-item mt-1 mt-sm-0" style="color: #858585;">
										<mat-icon>remove_red_eye</mat-icon>
									</li>
									<li class="list-inline-item mt-1 mt-sm-0" style="color: #858585;font-size: 12px;">
										{{visitorCount}}
									</li> -->
										<!-- <li class="list-inline-item mt-2 mt-sm-0"><i class="fal fa-eye mr-1"></i> 1039 vues</li> -->
									</ul>

								</div>

								<h4 *ngIf="Projet?.description" class="fs-22 mt-6 mb-2 responsive-heading">
									Description
								</h4>

								<!-- <p class="mb-0 lh-214 scrollable-paragraph">
								{{Projet?.description}}

							</p> -->
								<div class="mb-0 lh-214 cadre-noir">
									<div *ngIf="sousBiens?.description === null">
										<p class="scrollable-paragraph paragrapheDesc">Description manquant!</p>
									</div>
									<div *ngIf="sousBiens?.description !== null">
										<p class="scrollable-paragraph mb-0 lh-214 paragrapheDesc">
											<ng-container *ngIf="sousBiens?.description">
												<ng-container
													*ngFor="let sentence of sousBiens?.description.split('  ')">
													{{ sentence.trim() }}
													<a style="display: inline-block;" target="_blank" type="submit"
														href="{{sousBiens?.website}}">
														{{sousBiens?.website}}
													</a>
													<hr style="    margin: 4px 0;
										color: inherit;
										border: 0;
										border-top: var(--bs-border-width) solid;
										opacity: 0;
									">
												</ng-container>
											</ng-container>
										</p>
									</div>
								</div>
							</section>
						</article>

						<aside class="col-lg-6 pl-xl-4 primary-sidebar sidebar-sticky" id="sidebar">
							<div class="primary-sidebar-inner">
								<section>
									<div class="container" *ngIf="Projet?.categoryList.length!==0">
										<h2 class="text-dark appartement">RUBRIQUE :</h2>
										<hr class="hrstyle">
<style>
	.first-project {
    background-color: #fbb61b94; /* Example: change background color */
    font-weight: bold; /* Example: make text bold */
    /* Add any other styles for the first project */
}
.lastProject
{
	background-color: #7a5a0f2d; /* Example: change background color */
    font-weight: bold; /* Example: make text bold */
    /* Add any other styles for the first project */
}
</style>
										<div *ngFor="let project of biens ;index as i ; "
											class="row">
											<!-- <div *ngFor="let pieceid of Piece?.id"> -->
											<!-- <div [routerLink]="['/villa-details', Projet.id]" class="col-lg-12 " -->
											<div class="col-lg-12 "
												[routerLink]="['/agences-immob-details-plus', project.id]"
												style="margin-bottom:17px;">
												<button class="btn buttonVillas" >
													<div class="villas">
														<mat-icon style="font-size: 20px;">account_balance</mat-icon>
														&nbsp;
														<p>{{ project?.name }}</p>
													

														
														
														
														
													
														<mat-icon>trending_flat</mat-icon>

													</div>
												</button>
												<br>
											</div>
											<!-- </div> -->
										</div>
									</div>
								</section>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>

		<div class="tunsian-flag-img-background">
			<div class="btn-toolbar" role="toolbar " aria-label="Toolbar with button groups ">


				<div class="btn-group mr-2" role="group" aria-label="Third group">
					<a [attr.href]="Agency?.facebook_url ? Agency?.facebook_url : null" target="_blank"
						class="btn-hover-flag-img text-center" [ngClass]="{'disabled-btn': !Agency?.facebook_url}"
						[attr.aria-disabled]="!Agency?.facebook_url ? 'true' : null"
						[style.pointer-events]="!Agency?.facebook_url ? 'none' : 'auto'" style="line-height: 1.5;">
						<span style="letter-spacing: 3px;"> <i class="fab fa-facebook" style="font-size: 18px;"></i>
							<!-- Facebook Icon -->
						</span>
						<br>
						<span style="letter-spacing: 3px;">PAGE FACEBOOK</span>
					</a>
				</div>

				<div class="btn-group mr-2" role="group " aria-label="First group ">
					<a [attr.href]="Agency?.instagram_url" class="btn-hover-flag-img text-center " aria-selected="true "
						style="line-height: 1.5" target="_blank" aria-selected="true " style="line-height: 1.5"
						[ngClass]="{'disabled-btn': !Agency?.instagram_url}"
						[attr.aria-disabled]="!Agency?.instagram_url ? 'true' : null"
						[style.pointer-events]="!Agency?.instagram_url ? 'none' : 'auto'">
						<span style="letter-spacing: 3px;"> <i class="fab fa-instagram" style="font-size: 18px;"></i>
							<!-- Instagram Icon -->
						</span>
						<br>
						<span style="letter-spacing: 3px;">NOTRE INSTAGRAM</span>
					</a>
				</div>
				<style>
					.disabled-btn {
						opacity: 0.6;
						cursor: not-allowed;


					}
				</style>


				<div class="btn-group mr-2" role="group " aria-label="First group " *ngIf="Agency?.categorie!='coffee'">
					<a [attr.href]="Agency?.linkedin_url" target="_blank" class="btn-hover-flag-img text-center "
						aria-selected="true " style="line-height: 1.5"
						[ngClass]="{'disabled-btn': !Agency?.linkedin_url}"
						[attr.aria-disabled]="!Agency?.linkedin_url ? 'true' : null"
						[style.pointer-events]="!Agency?.linkedin_url ? 'none' : 'auto'">
						<span style="letter-spacing: 3px;"><i class="fab fa-tiktok" style="font-size: 18px;"></i>
							<!-- Instagram Icon --></span>
						<br>
						<span style="letter-spacing: 3px;">NOTRE TIKTOK</span>
					</a>
				</div>
				<div class="btn-group mr-2 " role="group " aria-label="Third group ">
					<a (click)="openModal1(content)" class="btn-hover-flag-img text-center  "
						aria-selected="true " style="line-height: 1.5;">
						<span style="letter-spacing: 3px;"> <i class="fas fa-phone-alt" style="font-size: 16px;"></i>
							<!-- Contact Icon -->
						</span>


						<br>
						<span style="letter-spacing: 3px;">
							CONTACTEZ-NOUS
						</span>
					</a>
				</div>
				<!-- <div class="btn-group mr-2" role="group " aria-label="Fourth group ">
						<a class="btn-hover-flag-img text-center " aria-selected="true "
							style="line-height: 1.5">
							<span>COMMERCES</span>
							<br>
							<span> Services et Arts</span>
						</a>
					</div> -->
			</div>
		</div>
		<br><br><br><br>
		<style>
			.containerDiv {}
		</style>
		<div class="containerDiv">

		</div>
		<!--<div class="gradient-border"
		id="box">
		En cour de construction &nbsp;
		<i class="fa fa-exclamation-triangle"
			aria-hidden="true"></i>
	    </div> -->



	</main>

	<p-dialog class="p-diag" header="À Propos" [(visible)]="displayMaximizable" [modal]="true"
		[style]="{width: '85vw', 'margin-left': '50px'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
		[resizable]="false">
		<div class="row modalTheme">
			<div class="col-md-4">
				<img class="rounded-lg border card-img-modal" src="{{ Agency?.logo_url }}" alt="Eco house company">
			</div>
			<div class="col-md-8">
				<p class="scrollable-paragraph">{{Agency?.description}}

				</p>

			</div>
			<style>
				.modalTheme {
					/* Add your modal styling here */
				}

				.scrollable-paragraph {
					max-height: 325px;
					/* Set a maximum height for the paragraph to enable scrolling */
					overflow-y: auto;
					/* Enable vertical scrolling if content overflows */
					white-space: pre-line;
					/* Preserve newlines and line breaks */
				}
			</style>

			<script>
				// JavaScript to add line breaks at points (.) with a space before it in the description
				document.addEventListener("DOMContentLoaded", function () {
					const descriptionElement = document.getElementById("agencyDescription");
					if (descriptionElement) {
						// Get the text content
						let descriptionText = descriptionElement.textContent;

						// Add line breaks at points (.) with a space before it
						descriptionText = descriptionText.replace(/ \./g, '.\n');

						// Set the modified text back to the element
						descriptionElement.textContent = descriptionText;
					}
				});
			</script>
		</div>

	</p-dialog>
	<ng-template #content let-modal>
		<div class="modal-header">
			<br><br>
			<h4 class="modal-title" style="font-weight: 600;">Demander un devis</h4>
			<a class=" closeButton" (click)="modal.dismiss('Cross click')"></a>
		</div>
		<div class="modal-body">
			<form (ngSubmit)="senderEmail()">
				<div class="">
					<div>
						<label for="email" class="textInput">Email:</label>
						<input class="form-control inputDevis" type="email" id="emailSource" [(ngModel)]="emailSource"
							name="emailSource" required placeholder="Votre email" />
						<div class="send-button" style="color: red;" *ngIf="emailSource && !isValidEmail(emailSource)"
							class="error">
							S'il vous plaît, mettez une adresse email valide.
						</div>
					</div><br>
					<div>
						<label for="Nom" class="textInput">Objet:</label>
						<input class="form-control inputDevis" type="text" id="subject" [(ngModel)]="subject"
							name="subject" required placeholder="objet" />
					</div> <br>
					<label for="exampleFormControlTextarea1" class="textInput">Préciser Votre Demande</label>
					<textarea style="height: 168px;" class="form-control inputDevis" id="message" [(ngModel)]="message"
						name="message" required placeholder="message ..."></textarea>
					<br>
					<!-- <div *ngFor="let agencies of Agency">
					<div *ngFor="let categorie of agencies?.produits">
						<div *ngFor="let categories of categorie?.categoryList"> -->
					<!-- *ngIf="agencies?.name===categorie?.agencyName && categories===SousCategorie?.category && categorie?.emailCommercial===null" -->



					<div style="    display: flex;" class="example-button-row">
						<button type="submit" class="btn btn-default" style="border-color: #8B0000;
					background-color: #8B0000; color:aliceblue">Envoyer</button>&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-light" (click)="modal.close('Close click')">
							Fermer
						</button>
						<!-- </div>
						</div>
					</div>  -->


					</div>

				</div>

				<div class="modal-footer valider">

				</div>
			</form>
		</div>
	</ng-template>