<!-- wrapper -->

<div class="main-container">
	<nav class="main-menu">
		<div>
			<li>
				<a   [routerLink]="'/agency/' + routerIdLink">
					<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
	
					<span class="nav-text" >
									<p>{{ Projet?.agencyName }}</p>
	
					</span>
				</a>
			  
			</li>
			<ul>
				<li>
					<a routerLink="/home">
						<i class="fa fa-home fa-2x"></i>
						<span class="nav-text">Page d'accueil</span>
					</a>
				</li>

				<li class="dropdown">
					<a [routerLink]="'/agency/' + routerIdLink">
						<i class="fa fa-book fa-2x"></i>
						<span class="nav-text">Nos projets</span>
					</a>
					<div class="dropdown-content" >
						<a *ngIf="ProjetEnCours?.length > 0" >En cours</a>
						

						<div class="submenu" *ngFor="let project of ProjetEnCours">

							<a style="background-color: #1e466e59;" (click)="refreshPage()" [routerLink]="['/details', project.id]">
								{{ project.name }}
							</a>
						</div>
					
						<a *ngIf="ProjetDispo?.length > 0" >Disponible</a>
						
						<div class="submenu" *ngFor="let project of ProjetDispo ; index as i">
	
							<a style="background-color: #1e466e59;" (click)="refreshPage()" [routerLink]="'/details/' + project.id">
								{{ project.name }}
	
							</a>

						</div>
					</div>
				</li>
				<style>
					.show-subnav {
    display: block;
}
				</style>

				<li>
					<a routerLink="/conception/ajouterConception">
						<i class="fa fa-plus fa-2x"></i>
						<span class="nav-text">Ajouter du contenu boutique</span>
					</a>
				</li>

				<li class="dropdown">
					<a routerLink="/conception/registre">
						<i class="fa fa-envelope fa-2x"></i>
						<span class="nav-text">Contacter nous</span>
					</a>
					
				</li>
				
				
<style>
	/* Initially hide the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f1e84;
    min-width: 160px;
	
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
}
.dropdown-content > a {
	margin: 0px 23px;
    font-style: none;
    transform-style: none;
    color: yellow;
}

/* Show the dropdown content when the parent is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown options as blocks with margin */
.dropdown-content .submenu {
    padding: 10px; /* Adjust the padding as needed */
}

.dropdown-content .submenu a {
	display: block;
    font-size: 9px;
    width: 196px;
    margin: -7px 11px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(10, 10, 211)e84;
    transition: background-color 0.3s;
    border: solid 1px rgb(255 255 255 / 16%);
    border-radius: 7px;
}

/* Add a little margin between the dropdown options */
.dropdown-content .submenu a + a {
    margin-top: 5px; /* Adjust the margin as needed */
	
}

/* Add hover effect */
.dropdown-content .submenu a {

    font-size: 10px; /* Set the initial font size */
    transition: background-color 0.2s ease, font-size 0.3s ,text-align 0.1s ease; /* Add smooth transition for both background color and font size */
}

.dropdown-content .submenu a:hover {
    font-size: 11px; /* Change font size on hover */
	color: yellow;
	border: solid 1px gray;
}

@media only screen and (max-width: 767px) {
  

    .dropdown-content .submenu a:hover {
		transition: background-color 0.2s ease, font-size 0.3s ,text-align 0.1s ease; /* Add smooth transition for both background color and font size */

    }
}
</style>			

				<li>
					<a (click)="showMaximizableDialog()">
						<i class="fa fa-info-circle fa-2x"></i>
						<span class="nav-text">A propos</span>
					</a>
				</li>
			</ul>
		</div>
		&nbsp;
	</nav>

</div>






















<app-navbar-carousel></app-navbar-carousel>

<main id="content" class="bg-patten-03">
	<div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10 my-profile">
		<div class="collapse-tabs new-property-step">
			<div class="container updateMenu">
				<button type="submit" class="animated-border-button " (click)=" backClicked()">
					<!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
					Retour
				</button>
				<br> <br><br><br><br>
				<div class="displayCard">
					<p-card class="p-card1" header="{{Projet?.agencyName}}">
						<p class="textInfo">{{Projet?.name}}</p>
					</p-card> &nbsp;&nbsp;
					<p-card class="p-card2">
						<!--
						<p class="textInfoX">À partir de <span style="color:#8b0000;">200 000
								TND</span></p>
						-->
						<p (click)="showMaximizableDialog1()" class="textInfofinancement"><i
								class="fas fa-solid fa-calculator"></i>
							Obtenir un financement &nbsp;<i class="fas fa-solid fa-play"></i></p>
						<p-dialog [(visible)]="displayMaximizable" [modal]="true" [maximizable]="true"
							[baseZIndex]="10000" [draggable]="false" [resizable]="false">

							<div class="modal-body">

								<div class="card cardModal">
									<img class="rounded-lg border card-img-modal" src="{{ logo_url }}"
										alt="Eco house company">

								</div>
								<div class="card cardModal">




									<br>
									<p class="politique">{{description}} </p>
								</div>

							</div>

						</p-dialog>
					</p-card>&nbsp;&nbsp;
					<p-card class="p-card3" style="text-align: center;">
						<div class="iconText">
							<i class="fas fa-award" style="font-size:20px;color:#8b0000;"></i>
							<p class="textInfo">Haut Standing</p>
						</div>

					</p-card>&nbsp;&nbsp;
					<p-card class="p-card4">
						<div class="iconText">
							<i class="fas fa-light fa-clock" style="font-size:20px;color:#8b0000;"></i>
							<p class="textInfo">Livraison Dans Les Délais</p>
						</div>
					</p-card>
				</div>
				<!-- <div style="display:block;" class="marg">
					<h2 class="fs-35 font-weight-600 lh-15 text-heading "
						style="    max-width: 84%;color: black;font-size: 12px;font-weight: bold;">
						{{Projet?.name}}
					</h2>
					<div class="d-sm-flex justify-content-sm-between text-heading">
						<div>

							<p class="mb-0 " style="color: #858585;font-size: 14px;">
								<mat-icon style="color: #858585;font-size: 16px;">location_on</mat-icon>
								{{Projet?.adresse}}
							</p>
						</div>
					</div>
				</div> -->


				<div class="containerText ">
					<div class="title"> {{Projet?.name}}
					</div>
					<div class="description">
						<mat-icon style="color: #858585;font-size: 16px;">location_on</mat-icon>
						{{Projet?.adresse}}
					</div>
				</div>
				<p-galleria [value]="Projet?.photos" [numScroll]="1" [responsiveOptions]="responsiveOptions"
					[containerStyle]="{'min-width': '100%'}" [numVisible]="5" thumbnailsPosition="bottom">

					<ng-template pTemplate="item" let-item>


						<br>

						<img [src]="item" style="width: 80%; display: block;">

					</ng-template>
					<ng-template pTemplate="thumbnail" style="color:rgb(255, 240, 240) ;" let-item>
						<div class="grid grid-nogutter justify-content-center">
							<img [src]="item" class="taill-galery">

						</div>
					</ng-template>

				</p-galleria>
				<br>
				<br>
				<div class="responsable" *ngIf="Projet?.numCommercial!==null && Projet?.emailCommercial!==null">
					<button class="btn  responsableBtn">
						<mat-icon style="font-size: 20px;margin-top: 4px;">supervised_user_circle</mat-icon>
						<h1 class="textResponsable"> <span>Responsable commercial</span> &nbsp; </h1>
					</button>&nbsp;&nbsp;&nbsp;
					<button class="btn  responsableBtn">
						<mat-icon style="font-size: 20px;margin-top: 4px;">perm_phone_msg</mat-icon>
						<h1 class="textResponsable"><span>Tél:</span> &nbsp; {{Projet?.numCommercial}}</h1>
					</button>&nbsp;&nbsp;&nbsp;
					<button class="btn  responsableBtn">
						<mat-icon style="font-size: 20px;margin-top: 4px;"></mat-icon>
						<h1 class="textResponsable"> &nbsp; {{Projet?.emailCommercial}}</h1>
					</button>
				</div>


				<div *ngFor="let agence of images">

					<div class="responsable" *ngIf="agence.name===Projet?.agencyName && Projet?.numCommercial===null">
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">supervised_user_circle</mat-icon>
							<h1 class="textResponsable"> <span>Responsable commercial</span> &nbsp; </h1>
						</button>&nbsp;&nbsp;&nbsp;
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">perm_phone_msg</mat-icon>
							<h1 class="textResponsable"><span>Tél:</span> &nbsp; {{agence?.phone_number}}</h1>
						</button>&nbsp;&nbsp;&nbsp;
						<button class="btn  responsableBtn">
							<mat-icon style="font-size: 20px;margin-top: 4px;">alternate_email</mat-icon>
							<h1 class="textResponsable"><span>Email:</span> &nbsp; {{agence?.email}}</h1>
						</button>
					</div>
				</div>
				<p></p>
				<br>
				<div class="row" style="    --bs-gutter-x: 1.5rem;
				--bs-gutter-y: 0;
				display: flex;
				margin-top: calc(-1 * var(--bs-gutter-y));
				margin-right: calc(-.5 * var(--bs-gutter-x));
				margin-left: calc(-.5 * var(--bs-gutter-x));
				flex-direction: row;">
					<article class="col-lg-6">

						<section class="pb-8 rounded-lg">
							<div class="ulDetails">
								<ul class="list-inline d-sm-flex align-items-sm-center mb-2 details-margin"
									style="margin-top: 7px;">
									<li class="list-inline-item badge badge-orange mr-2" style="font-size: 13px;">
										{{Projet?.agencyName}}</li>
									<li class="list-inline-item badge badge-primary mr-3" style="font-size: 13px;">En
										Cours</li>
									&nbsp;
									<li class="list-inline-item mt-1 mt-sm-0" style="color: #858585;">
										<mat-icon>av_timer</mat-icon>
									</li>
									<li class="list-inline-item mt-1 mt-sm-0" style="color: #858585;font-size: 12px;">
										{{ getDateDifference() }}
									</li>
									&nbsp;
									<li class="list-inline-item mt-1 mt-sm-0" style="color: #858585;">
										<mat-icon>remove_red_eye</mat-icon>
									</li>
									<li class="list-inline-item mt-1 mt-sm-0" style="color: #858585;font-size: 12px;">
										{{visitorCount}}
									</li>
									<!-- <li class="list-inline-item mt-2 mt-sm-0"><i class="fal fa-eye mr-1"></i> 1039 vues</li> -->
								</ul>

							</div>

							<h4 *ngIf="Projet?.description" class="fs-22 mt-6 mb-2 responsive-heading">
								Description
							</h4>

							<!-- <p class="mb-0 lh-214 scrollable-paragraph">
								{{Projet?.description}}

							</p> -->
							<div class="mb-0 lh-214 cadre-noir">
								<div *ngIf="Projet?.description === null">
									<p class="scrollable-paragraph paragrapheDesc">Description manquant!</p>
								</div>
								<div *ngIf="Projet?.description !== null">
									<p class="scrollable-paragraph mb-0 lh-214 paragrapheDesc">
										<ng-container *ngIf="Projet?.description">
											<ng-container *ngFor="let sentence of Projet?.description.split(',')">
												{{ sentence.trim() }}
												<hr style="    margin: 4px 0;
										color: inherit;
										border: 0;
										border-top: var(--bs-border-width) solid;
										opacity: 0;
									">
											</ng-container>
										</ng-container>
									</p>
								</div>
							</div>
						</section>
					</article>
					<aside class="col-lg-6 pl-xl-4 primary-sidebar sidebar-sticky" id="sidebar">
						<div class="primary-sidebar-inner">
							<section>
								<div class="container" *ngIf="Projet?.categoryList.length!==0">
									<h2 class="text-dark appartement">TYPE APPARTEMENT</h2>
									<hr class="hrstyle">
									<div *ngFor="let piece of Projet?.categoryList" class="row">
										<!-- <div *ngFor="let pieceid of Piece?.id"> -->
										<div [routerLink]="['/villa-details', Projet.id]" class="col-lg-12 "
											style="margin-bottom:17px;">
											<button class="btn buttonVillas">
												<div class="villas">
													<mat-icon style="font-size: 20px;">account_balance</mat-icon>
													&nbsp;
													{{piece}} &nbsp;
													<mat-icon>trending_flat</mat-icon>
												</div>
											</button>
											<br>
										</div>
										<!-- </div> -->
									</div>
								</div>
							</section>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>

	<div class="tunsian-flag-img-background btn-toolbar" style="height: -170">
		<div class="" role="toolbar " aria-label="Toolbar with button groups ">
			<div class="btn-group mr-2" role="group " aria-label="First group ">
				<a class="btn-hover-flag-img text-center " href="equipement " aria-selected="true "
					style="line-height: 1.5">
					<span>Materiaux</span>
					<br>
					<span>de construction</span>
				</a>
			</div>
			<div class="btn-group mr-2" role="group " aria-label="Third group ">
				<a class="btn-hover-flag-img text-center " href="agence-immob-tunis" aria-selected="true "
					style="line-height: 1.5">
					<span>Agences</span>
					<br>
					<span>Immobilières</span>
				</a>
			</div>
			<div class="btn-group mr-2 " role="group " aria-label="Third group ">
				<a class="btn-hover-flag-img text-center  " href="meilleurs-bien-sousse" aria-selected="true "
					style="line-height: 1.5;">
					<span>Selection Des</span>
					<br>
					<span>Meilleurs Biens</span>
				</a>
			</div>
			<div class="btn-group mr-2" role="group " aria-label="Fourth group ">
				<a class="btn-hover-flag-img text-center " href="agences-de-services" aria-selected="true "
					style="line-height: 1.5">
					<span>Décoration</span>
					<br>
					<span> Services et Arts</span>
				</a>
			</div>
		</div>
	</div> <br>

	<!--<div class="gradient-border"
		id="box">
		En cour de construction &nbsp;
		<i class="fa fa-exclamation-triangle"
			aria-hidden="true"></i>
	    </div> -->



</main>