<div class="container">
	<!-- <h1>
	  Responsive Column Rows
	</h1>
	<p>Resize window to see the column grid change. <a href="https://getbootstrap.com/docs/4.4/components/card/#grid-cards" target="_blank">Read Docs</a></p>
	
	<ul>
	  <li class="xs">1 column xs</li>
	  <li class="sm">2 column sm</li>
	  <li class="md">3 column md</li>
	  <li class="lg">4 column lg</li>
	  <li class="xl">5 column xl</li>
	</ul> -->
  
	
	<!-- <h2>Responsive card deck example</h2> -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
	<div class="col mb-4">
	  <div class="card">
		<img src="https://dummyimage.com/600x400/000/fff.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		</div>
	  </div>
	</div>


  </div>
	

	
	
  </div>
  <!-- /.container -->
  <style>
	@media (max-width: 576px) {  
  .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .sm {color:red;font-weight:bold;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 .md {color:red;font-weight:bold;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
 .lg {color:red;font-weight:bold;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}
 
  </style>