

.btn-companies-type {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #1f1e84;
}

.tunsian-flag-img-background .btn-hover-flag-img {
    width: 214px;
    margin: 20px;
    background-color: #1f1e84;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-position-x: center;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
}

.adjust-line-height {
    line-height: 1em;
}

.tunsian-flag-img-background .btn-hover-flag-img:hover {
    background-color: #2f2d99;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

@media only screen and (max-width: 800px) {
    .btn-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0px;
    }
    .tunsian-flag-img-background .btn-hover-flag-img {
        width: 214px;
        margin: 20px;
        background-color: #1f1e84;
        color: #ffffff;
        font-size: 8px;
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        background-position-x: center;
        margin-right: 10px;
        margin-left: 10px;
        text-transform: uppercase;
        -webkit-text-stroke-width: thin;
    }
    .centre-tunisien-de-limmobilier {
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        height: 100px;
        margin-top: 30px;
    }
    .tunsian-flag-img-background {
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        max-width: 1350;
        background-position-x: right;
    }
    .tunsian-flag-img-background .btn-hover-flag-img {
        width: 291px;
        margin: 3px;
        background-color: #1f1e84;
        color: #ffffff;
        font-size: 16px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        background-position-x: center;
    }
}
.hrstyle{
    color:#3f51b5; font-size: 18px;
  border-top: 3px solid #3f51b5;
  border-radius:5px;width:58px;display: block;
  width: 75px;
  margin-top: 19px;
  margin-bottom: 20px;
  margin-left:4px
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1f1e84;
    font-size: 12px;
}
.pointer{
    color: #1f1e84;
    font-weight: 500;
    font-size: 12px;
}
.pointer:hover{
    color: #3b3a6e;
}
.example-card1 {
  max-width: 100%;
  height: 300px;
  background-size: cover;
  margin-left: 20px;

}
.example-card1:hover {
  max-width: 100%;
  height: 300px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

  .badge-primary {
    color: #fff;
    background-color: #3f51b5;
    font-size: 14px;
    font-weight: 400;
  }
  .badge-orange {
    color: #fff;
    background-color: #8B0000;
    font-size: 14px;
    font-weight: 400;
    
  }
  .badge {
    cursor: pointer;   
   

  }
  .descriptionVilla{
    color: #ffffff;
    font-weight: 800;
    display: inline-flex;
    text-shadow: #8B0000 1px 0 10px;
    padding-right: 58px;
      }
     
      
      .cardx {
        max-width: 100%;
        display: flex;
       
      }
      /* @media (min-width: 300px) {
        .cards { grid-template-columns: repeat(1, 1fr); }
      }
      @media (min-width: 700px) {
        .cards { grid-template-columns: repeat(2, 1fr); }
      }
      @media (min-width: 1100px) {
        .cards { grid-template-columns: repeat(3, 1fr); }
      }
      @media (min-width: 1400px) {
        .cards { grid-template-columns: repeat(4, 1fr); }
      } */

      .retour{
        background-color: #3f51b5;
        float:left;
        
         color:#ffffff;
        text-transform: initial;
        font-size: 13px;
        font-weight: 500;
        margin-left: 78px;
        border-radius: 0px;
        margin-top: 15px;
       
      }
      .retour:hover{
        background-color: #5754e7;
      
        float:left;
        text-transform: initial;
        font-weight: 500;
        margin-left: 78px;
        border-radius: 0px;
       
      }
      .animated-border-button {
        background-color:#3f51b5;
        border: none;
        outline: none;
        position: relative;
        float:left;
        color:#ffffff;
        text-transform: initial;
        font-size: 13px;
        font-weight: 500;
        border-radius: 0px;
        margin-bottom: 50px;
        height: 32px;
        width: 120px;
      }
      
      .animated-border-button:before,
      .animated-border-button:after {
        border: 0 solid transparent;
        transition: all 0.3s;
        content: '';
        height: 0;
        position: absolute;
        width: 0px;
      }
      
      .animated-border-button:before {
        border-top: 2px solid #3f51b5;
        right: 0;
        top: -4px;
      }
      
      .animated-border-button:after {
        border-bottom: 2px solid #3f51b5;
        bottom: -4px;
        left: 0;
      }
      
      .animated-border-button:hover:before,
      .animated-border-button:hover:after {
        width: 100%;
      }
      .images{
        margin-bottom: 30px;
          margin-top: -60px;
      }
      @media only screen and (max-width: 894px) {
        .images {
         visibility: hidden;
        }
      }
      @media only screen and (max-width:1191px) {
        .images {
         margin-top: 20px;
        }
      }

      .gradient-border {
        --borderWidth: 3px;
        background: #ffffff;
        position: relative;
        border-radius: var(--borderWidth);
      }
      .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
      }
      @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
      }
      
      
      #box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height:55px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        margin: 0 auto;
        
      }
      @media only screen and (max-width: 808px) {
      
      #box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 55px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        margin: 0 auto;
      }
      
      
      }
      @media only screen and (max-width: 607px) {
      
        #box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 360px;
          height: 55px;
          color: rgb(0, 0, 0);
          font-size: 19px;
          font-weight: 500;
          margin: 0 auto;
        }
       
        
        }
        @media only screen and (max-width: 390px) {
      
          #box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
            height: 50px;
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 500;
            margin: 0 auto;
          }
          }

          @media only screen and (max-width: 500px) {
            .descriptionVilla{
              color: #ffffff;
              font-weight: 800;
              display: inline-flex;
              text-shadow: #8B0000 1px 0 10px;
              padding-right: 15px;
                }
          }
          