<duet-tab-group>
    <duet-tab label="Yhteenveto">Tab 1 content</duet-tab>
    <duet-tab label="Säästösuunnitelma" selected>Tab 2 content</duet-tab>
    <duet-tab label="Säästöt">Tab 3 content</duet-tab>
    <duet-tab label="Eläkesuunnitelma">Tab 4 content</duet-tab>
    <duet-tab label="Asiointi">Tab 5 content</duet-tab>
  </duet-tab-group>
  
  <script>
    // Select the above tab group component
    var tabs = document.querySelector("duet-tab-group")
  
    // Listen for change events in the tabs
    tabs.addEventListener("duetTabChange", function (e) {
      console.log("Change detected in tabs:", e.detail)
    })
  </script>
  